{% extends 'base.html' %} 
{% load static %} 
{% block title %}Service Details{% endblock title %} 
{% block description %}Description of Service Details{% endblock description %} {% load custom_tags %}
{%block content %}

<div class="flex flex-col items-center p-10">
	<div
		class="flex flex-col md:flex-row justify-center items-center md:items-start gap-8"
	>
		<!-- Cards Navs-->
		<div
			class="flex flex-col gap-y-4 min-w-[350px] max-w-[500px] order-2 md:order-1"
		>
			<!-- card 1 -->
			<div class="flex flex-col bg-green-300 p-8 rounded-xl">
				<h1 class="text-2xl font-bold">All Services</h1>
				<!-- separador -->
				<div class="flex flex-row gap-2 py-4">
					<div class="h-[2px] w-[5%] bg-green-700"></div>
					<div class="h-[2px] w-[30%] bg-green-700"></div>
				</div>
				<!-- buttons -->
				<div class="flex flex-col gap-4 mt-4">
					<div
						class="flex items-center justify-between bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<h2 class="text-xl">Web Development</h2>
						<i
							class="bi bi-arrow-right text-xl text-green-700 group-hover:text-white"
						></i>
					</div>
					<div
						class="flex items-center justify-between bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<h2 class="text-xl">Content Marketing</h2>
						<i
							class="bi bi-arrow-right text-xl text-green-700 group-hover:text-white"
						></i>
					</div>
					<div
						class="flex items-center justify-between bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<h2 class="text-xl">Social Media Marketing</h2>
						<i
							class="bi bi-arrow-right text-xl text-green-700 group-hover:text-white"
						></i>
					</div>
					<div
						class="flex items-center justify-between bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<h2 class="text-xl">Content Production</h2>
						<i
							class="bi bi-arrow-right text-xl text-green-700 group-hover:text-white"
						></i>
					</div>
					<div
						class="flex items-center justify-between bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<h2 class="text-xl">Sales Strategy</h2>
						<i
							class="bi bi-arrow-right text-xl text-green-700 group-hover:text-white"
						></i>
					</div>
				</div>
			</div>
			<!-- card 2 -->
			<div class="flex flex-col bg-green-300 p-8 rounded-xl">
				<h1 class="text-2xl font-bold">Pricing Packages</h1>
				<!-- separador -->
				<div class="flex flex-row gap-2 py-4">
					<div class="h-[2px] w-[5%] bg-green-700"></div>
					<div class="h-[2px] w-[30%] bg-green-700"></div>
				</div>
				<!-- buttons -->
				<div class="flex flex-col gap-4 mt-4">
					<div
						class="flex items-center justify-start gap-6 bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<i
							class="bi bi-clock text-xl text-green-700 group-hover:text-white"
						></i>
						<h2 class="text-xl">Basic Package - $350/month</h2>
					</div>

					<div
						class="flex items-center justify-start gap-6 bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<i
							class="bi bi-clock text-xl text-green-700 group-hover:text-white"
						></i>
						<h2 class="text-xl">Mid Package - $450/month</h2>
					</div>
					<div
						class="flex items-center justify-start gap-6 bg-white hover:bg-green-500 hover:text-white rounded-xl py-6 px-8 group"
					>
						<i
							class="bi bi-clock text-xl text-green-700 group-hover:text-white"
						></i>
						<h2 class="text-xl">Pro Package - $900/month</h2>
					</div>
					<div
						class="flex items-center justify-center gap-4 hover:bg-green-800 bg-green-500 text-white rounded-xl py-6 px-8 group hover:shadow-xl"
					>
						<h2 class="text-xl">Appointment Now</h2>
						<i class="bi bi-arrow-right text-xl"></i>
					</div>
				</div>
			</div>
			<!-- card 3 -->
			<div
				class="flex flex-col bg-gradient-to-t from-green-500 to-green-300 p-8 rounded-xl justify-center items-center text-center "
			>
				<div
					class="flex rounded-full shadow-xl p-2 w-20 justify-center bg-green-500 border-4 border-white"
				>
					<img
						src="{% static './assets/images/services/details/phone-call.png' %}"
						alt="Customer Support Icon"
						class="object-cover p-2 invert"
					/>
				</div>

				<h1 class="text-2xl font-bold text-white mt-4">Need Help? Call Here</h1>
				<h2 class="text-xl text-white">+208-555-0112</h2>
			</div>
		</div>
		<!-- Container -->
		<div
			class="flex flex-col gap-4 justify-center md:ml-10 min-w-[350px] max-w-[900px] order-1 md:order-2"
		>
			<!-- image -->
			<div
				class="flex w-[100%] h-[400px] bg-gray-500 rounded-3xl hover:shadow-2xl mb-4"
			>
				<img
					src="{% static './assets/images/services/details/marketing.jpg' %}"
					alt="digital-marketing"
					class="flex w-[100%] h-[100%] rounded-3xl object-cover"
				/>
			</div>
			<h2 class="text-4xl font-bold mb-4">Digital Marketing</h2>
			<p class="text-xl mb-4 font-light">
				At tempus aenean sapien torquent sed diam class efficitur mus morbi eros dictum quam
				augue ac laor eet ligula libero mi commodo nibh hac fermentum orci ad pharetra
				consequat justo duis turpis lorem elit dui consectetur magnis lacinia odio per
				placerat vestibulum volutpat mauris mollis primis imperdiet posu ere ex enim gravida
				cras congue. 
                <br><br />  
				At tempus aenean sapien torquent sed diam class efficitur mus morbi eros dictum quam
				augue ac laor eet ligula libero mi commodo nibh hac fermentum orci ad pharetra
				consequat justo duis turpis lorem elit dui consectetur magnis lacinia odio per
				placerat vestibulum volutpat mauris mollis primis imperdiet posu ere ex enim gravida
				cras congue
			</p>
			<h2 class="text-4xl font-bold mb-4">What We Provide</h2>
			<p class="text-xl mb-4 font-light">
				At tempus aenean sapien torquent sed diam class efficitur mus morbi eros dictum quam
				augue ac laor eet ligula libero mi commodo nibh hac fermentum orci ad pharetra
				consequat justo duis turpis lorem elit dui consectetur magnis lacinia odio per
				placerat vestibulum volutpat mauris mollis primis imperdiet posu ere ex enim gravida
				cras congue.
			</p>
			<div
				class="flex flex-col md:flex-row justify-center items-center gap-4 mb-4"
			>
				<!-- card left -->
				<div
					class="relative w-full h-[400px] bg-gray-200 rounded-2xl overflow-hidden min-w-[300px]"
				>
					<img
						src="{% static './assets/images/services/details/brand.png' %}"
						alt="brand"
						class="w-full h-full object-cover rounded-2xl"
					/>

					<!-- Texto superpuesto -->
					<div
						class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-black/60 to-transparent p-4 pb-18"
					>
						<h2 class="text-xl font-bold text-white">
							Brand Design<br />Identity
						</h2>
						<p class="text-white mt-2">In Order To Scale New Customer</p>
					</div>
				</div>

				<!-- card right -->
				<div
					class="relative w-full h-[400px] bg-gray-200 rounded-2xl overflow-hidden"
				>
					<img
						src="{% static './assets/images/services/details/brand.png' %}"
						alt="brand"
						class="w-full h-full object-cover rounded-2xl"
					/>

					<!-- Texto superpuesto -->
					<div
						class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-black/60 to-transparent p-4 pb-18"
					>
						<h2 class="text-xl font-bold text-white">
							Video Search<br />Optimization
						</h2>
						<p class="text-white mt-2">In Order To Scale New Customer</p>
					</div>
				</div>
			</div>
			<h2 class="text-4xl font-bold mb-4">The Challange</h2>
			<p class="text-xl mb-4 font-light">
				At tempus aenean sapien torquent sed diam class efficitur mus morbi eros dictum quam
				augue ac laor eet ligula libero mi commodo nibh hac fermentum orci ad pharetra
				consequat justo duis turpis lorem elit dui consectetur magnis lacinia odio per
				placerat vestibulum volutpat mauris mollis primis imperdiet posu ere ex enim gravida
				cras congue.
			</p>

			<div class="flex flex-wrap gap-4 justify-between mb-4">
				<span class="flex items-center justify-center gap-4">
					<i
						class="flex bi bi-check bg-green-600 text-white rounded-full h-8 w-8 text-2xl items-center justify-center"
						aria-hidden="true"
					></i>
					<h2>Various analysis options.</h2>
				</span>
				<span class="flex items-center justify-center gap-4">
					<i
						class="flex bi bi-check bg-green-600 text-white rounded-full h-8 w-8 text-2xl items-center justify-center"
						aria-hidden="true"
					></i>
					<h2>Advance Data analysis operations.</h2>
				</span>
				<span class="flex items-center justify-center gap-4">
					<i
						class="flex bi bi-check bg-green-600 text-white rounded-full h-8 w-8 text-2xl items-center justify-center"
						aria-hidden="true"
					></i>
					<h2>Page Load(time, size, number of requests).</h2>
				</span>
				<span class="flex items-center justify-center gap-4">
					<i
						class="flex bi bi-check bg-green-600 text-white rounded-full h-8 w-8 text-2xl items-center justify-center"
						aria-hidden="true"
					></i>
					<h2>Advance Data analysis operations.</h2>
				</span>
			</div>

			<div id="accordion-color" data-accordion="collapse" data-active-classes="bg-green-200 text-green-500">
				<h2 id="accordion-color-heading-1">
				  <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl hover:bg-green-700 hover:text-white gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
					<span>What is a Business Plan?</span>
					<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-1" class="hidden" aria-labelledby="accordion-color-heading-1">
				  <div class="p-5 bg-green-100 border border-b-0 border-gray-200 font-light text-gray-800">
					<p class="mb-2">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>
					<p class="mb-2">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>
				  </div>
				</div>
				<h2 id="accordion-color-heading-2">
				  <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 hover:bg-green-700 hover:text-white gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
					<span>What type of company is measured?</span>
					<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
				  <div class="p-5 bg-green-100 border border-b-0 border-gray-200 font-light text-gray-800">
					<p class="mb-2">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>
					<p class="mb-2">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>
				  </div>
				</div>
				<h2 id="accordion-color-heading-3">
				  <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 hover:bg-green-700 hover:text-white gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
					<span>What is included in your service?</span>
					<svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
				  <div class="p-5 bg-green-100 border border-t-0 border-gray-200 font-light text-gray-800">
						<p class="mb-2">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>
						<p class="mb-2">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>
						<p class="mb-2">Learn more about these technologies:</p>
						<ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
						<li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>
						<li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>
						</ul>
				  </div>
				</div>
			  </div>
		</div>
	</div>
	
    {% include 'components/pre-footer-cta.html' with title="Service" %} 
</div>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %} 
{% endblock content %} 
{% block scripts %}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
	integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
	integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>
<script>
    document.querySelectorAll(".toggle-container").forEach(container => {
        container.addEventListener("click", function() {
            const toggleId = container.getAttribute("data-toggle");
            const whiteContent = document.getElementById(`white-content-${toggleId}`);
            const greenContent = document.getElementById(`green-content-${toggleId}`);

            // Alternar visibilidad entre contenido blanco y verde
            whiteContent.classList.toggle("hidden");
            greenContent.classList.toggle("hidden");
        });
    });
</script>

{% endblock scripts %}
