{% extends 'base.html' %}
{% load static %}
{% block title %}Services and Pricing - {% endblock title %}
{% block description %}Description of Service Details{% endblock description %} 
{% load custom_tags %}
{% block content %}

<!-- Service Overview Hero Section -->
<section>
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
      <!-- Title -->
      <h2 class="items-center text-center text-3xl font-bold md:text-4xl"> Technology, Strategy & Growth—All in One Place </h2>
      <p class="mx-auto mb-2 mt-4 max-w-lg text-center text-2xl text-gray-500 sm:text-base md:mb-12"> Click on any service to see how we can help your business thrive. </p>
      <!-- List -->
      <div class="flex flex-col max-w-7xl mx-auto py-2 px-4 gap-6">
        <div class="card-row flex flex-col md:flex-row md:max-h-[450px] gap-6">
  
          <!-- Web Development -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Web Development</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Modern, high-performance websites built to impress and convert. We craft sleek, responsive, and user-friendly sites tailored to your business needs.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'web-development' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                  <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">01</span>
                </div>
                </div>
              </div>
              <div class="image-container w-full md:w-[50%] md:block order-1 md:order-2">
                <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'web-development' %}">
                  <img src="{% static './assets/images/services/du-stock-webdev.jpg' %}" alt="Web Development" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
                </div>
              </div>
          </div>
  
          <!-- Social Media -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Social Media</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Stand out with compelling content. We create, manage, and optimize your online presence to keep your audience engaged.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'social-media' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">02</span>
                </div>
              </div>
            </div>
            <div class="image-container w-full md:w-[50%] md:hidden order-1 md:order-2">
              <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'social-media' %}">
                  <img src="{% static './assets/images/services/du-stock-social.jpg' %}" alt="Social Media" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Row 2 -->
        <div class="card-row flex flex-col md:flex-row md:max-h-[450px] gap-6">
  
          <!-- Marketing & Strategy -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Marketing & Strategy</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Smart strategies that drive real results. From brand positioning to targeted campaigns, we help you attract, engage, and convert your ideal customers.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'marketing' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                  <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">03</span>
                </div>
                </div>
              </div>
              <div class="image-container w-full md:w-[50%] md:hidden order-1 md:order-2">
                <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'marketing' %}">
                  <img src="{% static './assets/images/services/du-marketing-stock.jpg' %}" alt="Marketing & Strategy" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
                </div>
              </div>
          </div>
  
          <!-- Consulting -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Consulting</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Expert insights to navigate the digital world. We provide tailored solutions in strategy, tech, and business growth to set you up for success.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'consulting' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">04</span>
                </div>
                </div>
              </div>
              <div class="image-container w-full md:w-[50%] md:block order-1 md:order-2">
                <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'consulting' %}">
                  <img src="{% static './assets/images/services/du-stock-consulting.jpg' %}" alt="Consulting" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
                </div>
              </div>
          </div>
        </div>

        <!-- Row 3 -->
        <div class="card-row flex flex-col md:flex-row md:max-h-[450px] gap-6">
  
          <!-- Maintenance and Support -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Maintenance & Support</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Reliable upkeep for your website. From domain renewals to content updates, we ensure your site stays secure, updated, and optimized.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'maintenance' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                  <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">05</span>
                </div>
                </div>
              </div>
              <div class="image-container w-full md:w-[50%] md:hidden order-1 md:order-2">
                <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'maintenance' %}">
                  <img src="{% static './assets/images/services/du-stock-support.jpg' %}" alt="Maintenance and Support" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
                </div>
              </div>
          </div>
  
          <!-- Graphic Design -->
          <div class="card flex-col md:flex-row bg-white rounded-2xl shadow-md border-2 hover:border-green-500 flex transition-all duration-300">
            <div class="contenido w-full order-2 md:order-1">
              <div class="flex flex-col h-full w-full p-5 gap-2">
                <h3 class="text-2xl font-bold">Graphic Design</h3>
                <p class="text-md font-light text-gray-700 mt-2">
                  Creative designs that captivate and convert. From stunning visuals to cohesive branding, we bring your ideas to life with precision and style.
                </p>
                <div class="mt-auto flex w-full justify-between items-center text-center">
                  <a href="{% url 'graphic-design' %}" class="w-8 text-green-500 text-lg rounded-full border-2 border-green-500 hover:bg-green-500 hover:text-white transition-colors duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </a>
                  <span class="text-5xl font-bold right-4 opacity-20" style="color: white; -webkit-text-stroke: 2px green;">06</span>
                </div>
                </div>
              </div>
              <div class="image-container w-full md:w-[50%] md:block order-1 md:order-2">
                <div class="right-0 top-0 w-full md:h-full">
                <a href="{% url 'graphic-design' %}">
                  <img src="{% static './assets/images/services/du-graphic-design-stock.jpg' %}" alt="Graphic Design" class="w-full h-full object-cover rounded-2xl" loading="lazy">
                </a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
<!-- Pricing Section -->
 <section id="webdev-pricing">
 
    <!-- Container -->
    <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <!-- Heading Container -->
        <div class="mx-auto mb-8 max-w-3xl text-center md:mb-12">
            <!-- Heading -->
            <h2 class="text-3xl font-bold md:text-5xl"> Custom Websites, Clear Pricing </h2>
            <!-- Subheading -->
            <p class="mx-auto mt-4 max-w-xl text-sm text-gray-500 md:text-base"> Your website is an investment—let’s make it one that pays off. Choose from our dynamic pricing plans, crafted to fit your specific business needs. Experience value, results, and a satisfying return on investment. </p>
        </div>
        <!-- Select Price Type -->
        <div class="relative mx-auto mb-8 flex w-fit cursor-pointer rounded-xl bg-gray-100 md:mb-12">
            <div class="relative z-10 px-10 py-4 option" data-type="one-time">
                <p class="text-sm font-semibold sm:text-base"> One-Time </p>
            </div>
            <div class="relative z-10 px-10 py-4 option" data-type="monthly">
                <p class="text-sm font-semibold sm:text-base"> Monthly </p>
            </div>
            <div class="absolute left-2 top-[6px] z-0 h-4/5 w-[45%] rounded-md bg-black transition-all duration-300 slider"></div>
        </div>
    <!-- Prices Container -->
    <!-- Container -->
    <div class="mx-auto w-full max-w-7xl px-5 md:px-10">
        <!-- Contents (Dekstop) -->
        <div class="hidden text-center md:block">
          <!-- Plan Type -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="py-8"></div>
            <div class="py-8 price" data-one-time="$500" data-monthly="$100">
              <div class="text-sm mb-3">Lite</div>
              <div class="text-3xl font-bold mb-3 price-amount">$500</div>
              <p class="text-sm font-semibold price-period">Per month</p>
            </div>
            <div class="py-8 price" data-one-time="$1500" data-monthly="$250">
              <div class="text-sm mb-3">Basic</div>
              <div class="text-3xl font-bold mb-3 price-amount">$1500</div>
              <p class="text-sm font-semibold price-period">Per month</p>
            </div>
            <div class="bg-gray-300 py-8 price" data-one-time="$2200" data-monthly="$350">
              <div class="inline-block bg-red-600 text-white text-sm px-2 rounded-full mb-3">Mid</div>
              <div class="text-3xl font-bold mb-3 price-amount">$2200</div>
              <p class="text-sm font-semibold price-period">Per month</p>
            </div>
            <div class="py-8 price" data-one-time="$4000" data-monthly="$500">
              <div class="text-sm mb-3">Pro</div>
              <div class="text-3xl font-bold mb-3 price-amount">$4000</div>
              <p class="text-sm font-semibold price-period">Per month</p>
            </div>
          </div>
          <!-- Row -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="flex items-center font-semibold py-8"> Number of Pages </div>
            <div class="py-8">1</div>
            <div class="py-8">3</div>
            <div class="bg-gray-300 py-8">5</div>
            <div class="py-8">10+</div>
          </div>
          <!-- Row -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="flex items-center font-semibold py-8"> Database Storage </div>
            <div class="py-8">1GB</div>
            <div class="py-8">10GB</div>
            <div class="bg-gray-300 py-8">20GB</div>
            <div class="py-8">50GB</div>
          </div>
          <!-- Row -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="flex items-center font-semibold py-8"> Design Revisions </div>
            <div class="py-8">02</div>
            <div class="py-8">05</div>
            <div class="bg-gray-300 py-8">10</div>
            <div class="py-8">Unlimited</div>
          </div>
          <!-- Row -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="flex py-8 items-center font-semibold"> E-commerce </div>
            <div class="py-8">-</div>
            <div class="py-8">-</div>
            <div class="bg-gray-300 py-8">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
            </div>
            <div class="py-8">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
            </div>
          </div>
          <!-- Row -->
          <div class="grid grid-cols-1 gap-8 border-b border-gray-300 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr]">
            <div class="flex py-8 items-center font-semibold"> Advanced AI Automations </div>
            <div class="py-8">-</div>
            <div class="py-8">-</div>
            <div class="bg-gray-300 py-8">-</div>
            <div class="py-8">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
            </div>
          </div>
          <!-- Buttons -->
          <div class="grid grid-cols-1 md:grid-cols-[1.2fr_1fr_1fr_1fr_1fr] lg:grid-cols-[1.5fr_1fr_1fr_1fr_1fr] gap-8">
            <div></div>
            <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block w-full py-8 font-semibold rounded-xl mt-4 transition ease-in-out duration-300 hover:bg-black hover:text-white"> Get Started! </a>
            </div>
            <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block w-full py-8 font-semibold rounded-xl mt-4 transition ease-in-out duration-300 hover:bg-black hover:text-white"> Get Started! </a>
            </div>
            <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block bg-gray-500 w-full py-8 font-semibold text-white rounded-xl mt-4 transition ease-in-out duration-300 hover:bg-black hover:text-white"> Get Started! </a>
            </div>
            <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block w-full py-8 font-semibold rounded-xl mt-4 transition ease-in-out duration-300 hover:bg-black hover:text-white"> Get Started! </a>
            </div>
          </div>
        </div>
        <!-- Contents (Mobile) -->
          <div class="block md:hidden">
            <!-- Plan -->
            <div>
            <div class="grid grid-cols-1 gap-8 pb-4 pt-12 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div class="price" data-one-time="$500" data-monthly="$100">
              <div class="text-sm">Lite</div>
              <div class="text-3xl font-bold price-amount">$500</div>
              <div class="text-sm font-semibold price-period">per month</div>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
              <div class="font-semibold">Number of Pages</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
              </div>
              <div>01</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
              <div class="font-semibold">Database Storage</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
              </div>
              <div>1GB</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
              <div class="font-semibold">Design Revisions</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
              </div>
              <div>02</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
              <div class="font-semibold">E-Commerce</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
              </div>
              <div>-</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
              <div class="font-semibold">Advanced AI Automations</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
              </div>
              <div>-</div>
            </div>
            <div class="grid grid-cols-1 gap-8 pt-8 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block bg-black px-6 py-3 font-semibold text-white rounded-xl"> Get Started </a>
              </div>
            </div>
            </div>
          <!-- Plan -->
          <div>
            <div class="grid grid-cols-1 gap-8 pb-4 pt-12 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div class="price" data-one-time="$1500" data-monthly="$250">
                <div class="text-sm">Basic</div>
                <div class="text-3xl font-bold price-amount">$1500</div>
                <div class="text-sm font-semibold price-period">per month</div>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Number of Pages</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>03</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Database Storage</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>10GB</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Design Revisions</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>05</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">E-Commerce</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>-</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Advanced AI Automations</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>-</div>
            </div>
            <div class="grid grid-cols-1 gap-8 pt-8 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div>
                <a href="https://dunosis.forms.app/contact-form" class="inline-block bg-black px-6 py-3 font-semibold text-white rounded-xl"> Get Started </a>
              </div>
            </div>
          </div>
          <!-- Plan -->
          <div>
            <div class="grid grid-cols-1 gap-8 pb-4 pt-12 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div class="price" data-one-time="$2200" data-monthly="$350">
                <div class="text-sm">Mid</div>
                <div class="text-3xl font-bold price-amount">$2200</div>
                <div class="text-sm font-semibold price-period">per month</div>
              </div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Number of Pages</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>05</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Database Storage</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>20GB</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Design Revisions</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>10</div>
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">E-Commerce</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
            </div>
            <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
              <div class="flex items-center">
                <div class="font-semibold">Advanced AI Automations</div>
                <div class="relative ml-2 flex-1">
                  <div class="flex h-4 w-4 cursor-pointer justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
                </div>
              </div>
              <div>-</div>
            </div>
            <div class="grid grid-cols-1 gap-8 pt-8 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
              <div>
                <a href="https://dunosis.forms.app/contact-form" class="inline-block bg-black px-6 py-3 font-semibold text-white rounded-xl"> Get Started </a>
              </div>
            </div>
          </div>
          <!-- Plan -->
            <div>
              <div class="grid grid-cols-1 gap-8 pb-4 pt-12 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
                <div class="price" data-one-time="$4000" data-monthly="$500">
                    <div class="text-sm">Pro</div>
                    <div class="text-3xl font-bold price-amount">$4000</div>
                    <div class="text-sm font-semibold price-period">per month</div>
                </div>
              </div>
              <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
                <div class="flex items-center">
              <div class="font-semibold">Number of Pages</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
                </div>
                <div>10+</div>
              </div>
              <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
                <div class="flex items-center">
              <div class="font-semibold">Database Storage</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
                </div>
                <div>50GB</div>
              </div>
              <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
                <div class="flex items-center">
              <div class="font-semibold">Design Revisions</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
                </div>
                <div>Unlimited</div>
              </div>
              <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
                <div class="flex items-center">
              <div class="font-semibold">E-Commerce</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
                </div>
                <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
              </div>
              <div class="grid grid-cols-1 gap-8 py-4 border-b border-gray-300 md:grid-cols-[1.5fr_1fr_1fr_1fr] md:py-8">
                <div class="flex items-center">
              <div class="font-semibold">Advanced AI Automations</div>
              <div class="relative ml-2 flex-1">
                <div class="flex h-4 w-4 cursor-pointer items-center justify-center rounded-full bg-gray-100 text-xs font-bold text-gray-500"> ? </div>
              </div>
                </div>
                <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9453a6e6cf6e_Vector%20(2).svg" alt="" class="inline-block" />
              </div>
              <div class="grid grid-cols-1 gap-8 pt-8 md:grid-cols-[1.5fr_1fr_1fr_1fr]">
                <div>
              <a href="https://dunosis.forms.app/contact-form" class="inline-block bg-black px-6 py-3 font-semibold text-white rounded-xl"> Get Started </a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</section>

<section id="marketing-pricing">
    <!-- Container -->
    <div class="mx-auto max-w-7xl px-5 py-16 md:px-10 md:py-20">
      <!-- Heading Container -->
      <div class="mx-auto mb-8 max-w-3xl text-center md:mb-12 lg:mb-16">
        <!-- Heading -->
        <h2 class="text-3xl font-bold md:text-5xl"> Drive Growth with a Marketing Plan That Fits You </h2>
        <!-- Subheading -->
        <p class="mt-4 text-sm text-gray-500 sm:text-base"> Find the right strategy and let’s turn clicks into conversions. All plans require a minimum 3-month commitment to ensure measurable improvements in marketing and social media performance. </p>
      </div>
      <!-- Price Container -->
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3 md:gap-4">
        <!-- Price -->
        <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-xl border bg-white shadow-lg p-8">
          <div class="mb-4 rounded-full bg-black px-4 py-1.5">
            <p class="text-sm font-bold text-white sm:text-sm">Basic</p>
          </div>
          <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12">  Ideal for small businesses looking to establish a strong online presence with consistent social media updates.</p>
          <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $450<span class="text-sm font-light sm:text-sm">/month</span>
          </h2>
          <a href="https://dunosis.forms.app/contact-form" class="mb-5 w-full rounded-xl bg-black px-6 py-3 text-center font-semibold text-white lg:mb-8 transition ease-in-out duration-300 hover:bg-white hover:text-black hover:border hover:border-black"> Get Started! </a>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">4 high-quality posts per month (1 per week)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">3 engaging story-format posts</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">1 vertical video per month (Reel/TikTok style)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">Basic content strategy and scheduling</p>
          </div>
        </div>
        <!-- Price -->
        <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-xl border bg-white shadow-lg p-8">
          <div class="mb-4 rounded-full bg-black px-4 py-1.5">
            <p class="text-sm font-bold text-white sm:text-sm">Mid</p>
          </div>
          <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12"> Perfect for growing brands that want to increase engagement and visibility with more frequent content. </p>
          <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $900<span class="text-sm font-light sm:text-sm">/month</span>
          </h2>
          <a href="https://dunosis.forms.app/contact-form" class="mb-5 w-full rounded-xl bg-black px-6 py-3 text-center font-semibold text-white md:mb-6 lg:mb-8 transition ease-in-out duration-300 hover:bg-white hover:text-black hover:border hover:border-black"> Get Started! </a>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">8 high-quality posts per month (2 per week)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">6 engaging story-format posts</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">2 vertical videos per month (Reel/TikTok style)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">Enhanced content strategy and audience targeting</p>
          </div>
        </div>
        <!-- Price -->
        <div class="mx-auto flex w-full max-w-md flex-col items-start rounded-xl border bg-white shadow-lg p-8">
          <div class="mb-4 rounded-full bg-black px-4 py-1.5">
            <p class="text-sm font-bold text-white sm:text-sm">Pro</p>
          </div>
          <p class="mb-6 text-base font-light text-gray-500 md:mb-10 lg:mb-12"> Best for businesses ready to dominate social media with a high-volume content strategy and professional-quality visuals. </p>
          <h2 class="mb-5 text-3xl font-bold md:text-5xl lg:mb-8"> $1250<span class="text-sm font-light sm:text-sm">/month</span>
          </h2>
          <a href="https://dunosis.forms.app/contact-form" class="mb-5 w-full rounded-xl bg-black px-6 py-3 text-center font-semibold text-white lg:mb-8 transition ease-in-out duration-300 hover:bg-white hover:text-black hover:border hover:border-black"> Get Started! </a>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">12 high-quality posts per month (3 per week)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">8 engaging story-format posts</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">3 vertical videos per month (Reel/TikTok style)</p>
          </div>
          <div class="mt-2 flex items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 inline-block w-4" />
            <p class="text-base">Advanced content strategy and audience engagement</p>
          </div>
        </div>
      </div>
    </div>
</section>

<section id="consulting-pricing">
    <!-- Main Container -->
    <div class="mx-auto w-full max-w-7xl px-5 py-8 md:px-10 md:py-10">
      <div class="rounded-xl bg-gray-100 px-6 py-12 sm:px-12 sm:py-16 md:py-20">
        <!-- Heading Container -->
        <div class="mx-auto mb-8 flex max-w-3xl flex-col text-center md:mb-12 lg:mb-16">
          <!-- Heading -->
          <h2 class="text-3xl font-bold md:text-5xl"> Custom Packages, Maximum Savings! </h2>
          <!-- Subheading -->
          <div class="mx-auto mt-4 rounded-3xl bg-du-yellow px-6 py-2">
            <p class="text-sm sm:text-base"> Mix and match our Web Development and Marketing plans to get up to 50% off! </p>
          </div>
        </div>
        <!-- Contents -->
        <div class="mx-auto grid h-auto w-full gap-4 rounded-md px-0 py-12 lg:grid-cols-2">
          <!-- Content -->
          <div class="grid grid-cols-1 gap-4 rounded-md border border-gray-300 bg-gray-300 px-10 py-14 sm:grid-cols-2">
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">Custom-built solutions </p>
            </div>
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">Full-service expertise</p>
            </div>
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">Data-driven strategies</p>
            </div>
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">End-to-end support</p>
            </div>
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">Bilingual & global</p>
            </div>
            <div class="flex items-center gap-2">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="mr-2 w-5" />
              <p class="text-sm sm:text-base">Ownership & transparency</p>
            </div>
          </div>
          <!-- Content -->
          <div class="flex flex-col rounded-md bg-black px-10 py-12 text-white">
            <div class="flex w-full flex-col items-center justify-between sm:flex-row sm:items-center">
              <h2 class="text-3xl font-bold md:text-5xl"> 50% <span class="text-sm font-light sm:text-sm">discount</span>
              </h2>
              <a href="https://dunosis.forms.app/contact-form" class="mt-4 rounded-md bg-white px-6 py-3 text-center font-semibold text-black md:mt-0 transition ease-in-out duration-300 hover:bg-black hover:text-white hover:border hover:border-white"> Learn More! </a>
            </div>
            <div class="mb-6 mt-6 border border-gray-100"></div>
            <p class="text-white text-sm sm:text-base"> Combine our web development and marketing plans for maximum impact and unlock exclusive discounts of up to 50% off! </p>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}

{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/service-overview.js' %}"></script>

{% endblock scripts %}