{% extends 'base.html' %} 
{% load static %} 
{% block title %}Social Media - {% endblock title %} 
{% block description %}Social Media{% endblock description %} {% load custom_tags %}
{%block content %}

<div class="tw-flex tw-flex-col tw-items-center tw-p-10">
	<div class="tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center md:tw-items-start tw-gap-8">

		<!-- Sidebar Navs-->
		{% include 'components/services-sidecar.html' with litePrice='250' basicPrice='450' midPrice='900' proPrice='1250' frequency='month' %}

		<!-- Container -->
		<div class="tw-flex tw-flex-col tw-gap-4 tw-justify-center md:tw-ml-10 tw-min-w-[350px] tw-max-w-[900px] tw-order-1 md:tw-order-2">
			<!-- Hero Image -->
			<div class="tw-flex tw-w-[100%] tw-h-[400px] tw-bg-gray-500 tw-rounded-3xl hover:tw-shadow-2xl tw-mb-4">
				<img
					src="{% static './assets/images/services/details/du-social-1.jpg' %}"
					alt="social media marketing"
					class="tw-flex tw-w-[100%] tw-h-[100%] tw-rounded-3xl tw-object-cover"
				/>
			</div>
			<h2 class="tw-text-4xl tw-font-bold tw-mb-4">Social Media</h2>
			<p class="tw-text-xl tw-mb-4 tw-font-light">
                In today’s digital world, social media isn’t just about posts—it’s about building connections, driving engagement, and growing your brand. At Dunosis, we offer a complete suite of social media management services, from strategic consulting and content creation to full account management. Whether you’re looking to increase your followers, tell your brand’s story, or drive sales, our team has you covered with tailored strategies and impactful content.
			</p>
			<h2 class="tw-text-4xl tw-font-bold tw-mb-4">What We Provide</h2>
			<p class="tw-text-xl tw-mb-4 tw-font-light">
				When you work with Dunosis, you get more than just social media posts—you get a partner committed to your growth. We craft customized strategies that align with your goals, ensuring every reel, graphic, or post resonates with your audience. From scriptwriting to creative direction, we bring your brand’s personality to life.  
                <br><br />
                Our approach is transparent and collaborative. You retain full ownership of your content, giving you the freedom to use it wherever you want. While we offer ongoing support and management services, we believe you should always have control of the assets we create for your brand.
            </p>
			<div class="tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center tw-gap-4 tw-mb-4">
				<!-- Photo Left -->
				<div class="tw-relative tw-w-full tw-h-[400px] tw-bg-gray-200 tw-rounded-2xl tw-overflow-hidden tw-min-w-[300px]">
					<img
						src="{% static './assets/images/services/details/du-social-2.jpg' %}"
						alt="social media"
						class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl"
					/>

                    <!-- Text Overlay -->
                    <div class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-justify-end tw-items-center tw-text-center tw-bg-gradient-to-t tw-from-du-green/90 tw-to-transparent tw-p-4 tw-pb-18 tw-opacity-0 hover:tw-opacity-100 tw-transition-opacity tw-duration-300">
                        <h2 class="tw-text-xl tw-font-bold tw-text-white">
                            Increase Your Engagment
                        </h2>
                        <p class="tw-text-white tw-mt-2">Craftfully designed to increase traffic and engagement on your platforms</p>
                    </div>
				</div>

				<!-- Photo Right -->
				<div class="tw-relative tw-w-full tw-h-[400px] tw-bg-gray-200 tw-rounded-2xl tw-overflow-hidden">
					<img
						src="{% static './assets/images/services/details/du-social-3.jpg' %}"
						alt="social media"
						class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl"
					/>

                    <!-- Text Overlay -->
                    <div class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-justify-end tw-items-center tw-text-center tw-bg-gradient-to-t tw-from-du-green/90 tw-to-transparent tw-p-4 tw-pb-18 tw-opacity-0 hover:tw-opacity-100 tw-transition-opacity tw-duration-300">
                        <h2 class="tw-text-xl tw-font-bold tw-text-white">
                            Customized Content
                        </h2>
                        <p class="tw-text-white tw-mt-2">Strategically customized for your businesses brands</p>
                    </div>
				</div>
			</div>
			<h2 class="tw-text-4xl tw-font-bold tw-mb-4">The Features</h2>
			<p class="tw-text-xl tw-mb-4 tw-font-light">
				Our social media service is designed to help you stand out in the crowded digital space. From crafting compelling stories to producing high-quality visuals, we focus on making your brand memorable. Every strategy we create is data-driven, ensuring it’s not just creative but also effective in achieving your goals.  
                <br><br />
                Our features include tailored strategies, professional content production, and actionable insights to refine your digital presence. Whether you need a viral reel or an ongoing engagement plan, we ensure your social media works for you.
            </p>

            <!-- Features -->
			<div class="tw-flex tw-flex-wrap tw-gap-10 tw-justify-between tw-mb-4">
				<span class="tw-flex tw-items-center tw-justify-center tw-gap-4">
					<i
						class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
						aria-hidden="true"
					></i>
					<h2 class="tw-font-normal">Custom Strategies:</h2>
                    <p class="tw-text-gray-500 tw-font-light tw-text-sm">Campaigns tailored to your goals and audience</p>
				</span>
				<span class="tw-flex tw-items-center tw-justify-center tw-gap-4">
					<i
						class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
						aria-hidden="true"
					></i>
					<h2>Engaging Content:</h2>
                    <p class="tw-text-gray-500 tw-font-light tw-text-sm">High-quality reels, graphics, and posts with professional direction</p>
				</span>
				<span class="tw-flex tw-items-center tw-justify-center tw-gap-4">
					<i
						class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
						aria-hidden="true"
					></i>
					<h2>Analytics and Insights:</h2>
                    <p class="tw-text-gray-500 tw-font-light tw-text-sm">Track growth and measure the impact of your campaigns</p>
				</span>
				<span class="tw-flex tw-items-center tw-justify-center tw-gap-4">
					<i
						class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
						aria-hidden="true"
					></i>
					<h2>Complete Management:</h2>
                    <p class="tw-text-gray-500 tw-font-light tw-text-sm">From scheduling to responding to comments, we handle it all</p>
				</span>
			</div>

            <!-- FAQ Section -->
			<div id="accordion-color" data-accordion="collapse" data-active-classes="tw-bg-green-200 tw-text-green-500">
                <!-- Question 1 -->
				<h2 id="accordion-color-heading-1">
				  <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border tw-border-b-0 tw-border-gray-200 tw-rounded-t-xl hover:tw-bg-du-green hover:tw-text-white tw-gap-3" data-accordion-target="#accordion-color-body-1" aria-expanded="true" aria-controls="accordion-color-body-1">
					<span>What's included in the social media service?</span>
					<svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-1" class="tw-hidden" aria-labelledby="accordion-color-heading-1">
				  <div class="tw-p-5 tw-bg-green-100 tw-border tw-border-b-0 tw-border-gray-200 tw-font-light tw-text-gray-800">
					<p class="tw-mb-2">	Our social media service includes full account management, strategy development, content production (graphics, photos, reels), scriptwriting, and engagement. We’ll work with you to craft a plan tailored to your needs and goals.</p>
				  </div>
				</div>
                <!-- Question 2 -->
				<h2 id="accordion-color-heading-2">
				  <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border tw-border-b-0 tw-border-gray-200 hover:tw-bg-du-green hover:tw-text-white tw-gap-3" data-accordion-target="#accordion-color-body-2" aria-expanded="false" aria-controls="accordion-color-body-2">
					<span>Do I own the content you create?</span>
					<svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-2" class="hidden" aria-labelledby="accordion-color-heading-2">
				  <div class="tw-p-5 tw-bg-green-100 tw-border tw-border-b-0 tw-border-gray-200 tw-font-light tw-text-gray-800">
					<p class="tw-mb-2">	Absolutely. All the content we create for your brand is 100% yours to keep. You’re free to use it across platforms, even if you choose to manage your accounts yourself later.
                    </p>
				  </div>
				</div>
                <!-- Question 3 -->
				<h2 id="accordion-color-heading-3">
				  <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border tw-border-gray-200 hover:tw-bg-du-green hover:tw-text-white tw-gap-3" data-accordion-target="#accordion-color-body-3" aria-expanded="false" aria-controls="accordion-color-body-3">
					<span>How often do you post?</span>
					<svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
					  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
					</svg>
				  </button>
				</h2>
				<div id="accordion-color-body-3" class="hidden" aria-labelledby="accordion-color-heading-3">
				  <div class="tw-p-5 tw-bg-green-100 tw-border tw-border-t-0 tw-border-gray-200 tw-font-light tw-text-gray-800">
                    <p class="tw-mb-2">
                        The frequency depends on your chosen plan. Typically, we recommend 3-5 posts per week, including a mix of static posts, reels, and stories to keep your audience engaged.
                    </p>
				  </div>
				</div>
                <!-- Question 4 -->
				<h2 id="accordion-color-heading-4">
                    <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border tw-border-b-0 tw-border-gray-200 hover:tw-bg-du-green hover:tw-text-white tw-gap-3" data-accordion-target="#accordion-color-body-4" aria-expanded="false" aria-controls="accordion-color-body-4">
                      <span>Can you help grow my audience?</span>
                      <svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                      </svg>
                    </button>
                  </h2>
                  <div id="accordion-color-body-4" class="hidden" aria-labelledby="accordion-color-heading-4">
                    <div class="tw-p-5 tw-bg-green-100 tw-border tw-border-b-0 tw-border-gray-200 tw-font-light tw-text-gray-800">
                      <p class="tw-mb-2">Yes! Our strategies focus on organic growth through high-quality content, engagement, and targeted campaigns. While results vary, our clients consistently see steady follower increases and higher engagement rates.
                    </p>
                    </div>
                  </div>
                <!-- Question 5 -->
				<h2 id="accordion-color-heading-5">
                    <button type="button" class="tw-flex tw-items-center tw-justify-between tw-w-full tw-p-5 tw-font-medium rtl:tw-text-right tw-text-gray-500 tw-border tw-border-b-0 tw-border-gray-200 hover:tw-bg-du-green hover:tw-text-white tw-gap-3" data-accordion-target="#accordion-color-body-5" aria-expanded="false" aria-controls="accordion-color-body-5">
                      <span>Do you offer consulting without full management?</span>
                      <svg data-accordion-icon class="tw-w-3 tw-h-3 tw-rotate-180 tw-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
                      </svg>
                    </button>
                </h2>
                <div id="accordion-color-body-5" class="hidden" aria-labelledby="accordion-color-heading-5">
                    <div class="tw-p-5 tw-bg-green-100 tw-border tw-border-b-0 tw-border-gray-200 tw-font-light tw-text-gray-800">
                      <p class="tw-mb-2">	Yes, we offer standalone consulting services to help you optimize your social media strategy. Whether you need a one-time audit or ongoing advice, we’re here to help.
                    </p>
                    </div>
                </div>
			  </div>
		</div>
	</div>
	
    {% include 'components/pre-footer-cta.html' with title="Service" link_type='services' %} 
</div>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %} 
{% endblock content %} 
{% block scripts %}
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
	integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
></script>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
	integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
	crossorigin="anonymous"
	referrerpolicy="no-referrer"
/>
<script>
    document.querySelectorAll(".toggle-container").forEach(container => {
        container.addEventListener("click", function() {
            const toggleId = container.getAttribute("data-toggle");
            const whiteContent = document.getElementById(`white-content-${toggleId}`);
            const greenContent = document.getElementById(`green-content-${toggleId}`);

            // Alternar visibilidad entre contenido blanco y verde
            whiteContent.classList.toggle("tw-hidden");
            greenContent.classList.toggle("tw-hidden");
        });
    });
</script>

{% endblock scripts %}
