{% extends 'base.html' %}
{% load static %}
{% block title %}Frutali - {% endblock title %}
{% block description %}Guayaba Frutali Portfolio Details{% endblock description %} {% load custom_tags %}
{%block content %}

<div class="flex flex-col p-10 md:max-w-[1440px] mx-auto gap-4">
	<!-- image -->
	<div
		class="flex w-full h-[400px] lg:h-[700px] bg-gray-500 rounded-3xl hover:shadow-2xl mb-4 justify-center">
		<img src="{% static './assets/images/portfolio/du-portfolio-cover-guayaba.jpg' %}" alt="digital marketing for guayaba frutali"
			class="flex w-full h-[100%] rounded-3xl object-cover mb-4" />
	</div>
	<div class="flex flex-col lg:flex-row items-center lg:items-start justify-between gap-8">
		<div class="flex flex-col max-w-[800px] order-2 lg:order-1">

            <!-- Portfolio Title and Overview -->
			<h2 class="text-4xl font-bold mb-4">Frutali</h2>
			<p class="text-xl mb-4 font-light">
				Frutali is the leading producer of guava in Santa Cruz, Bolivia—specializing in a unique, high-quality variety of this beloved organic fruit. With a monthly output of over 6 tons, they quickly became the top supplier of guavas in the national market. Building on this success, Frutali expanded into industrial production, transforming their harvest into pulp, marmalade, and guava leaf tea, creating a diverse product line that celebrates the versatility and health benefits of guava.
            </p>
            
            <!-- What We Provided Details -->
			<h2 class="text-4xl font-bold mb-4">What We Provided</h2>
			<p class="text-xl font-light">
				Our team was involved in every step of the branding and marketing journey. From naming and logo development to photo and video production, we brought the Frutali vision to life. We also managed their social media presence and Meta advertising campaigns, creating a cohesive and engaging identity that reflected both the natural purity and the entrepreneurial spirit of the brand. Our work was rooted in a deep understanding of the client’s goals, and we delivered a strategy that blended storytelling with results.
            </p>
			<div class="flex flex-col gap-4 md:flex-row justify-between my-10">
				<div class="flex flex-col gap-4">
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Brand Development & Naming</h2>
					</span>
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Logo Design & Visual Identity</h2>
					</span>

				</div>
				<div class="flex flex-col gap-4">
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Photo & Video Content Creation</h2>
					</span>
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Social Media Management</h2>
					</span>
				</div>
			</div>

            <!-- Portfolio Images -->
			<div class="flex flex-wrap justify-center items-center gap-4 mb-8">
				<!-- Photo 1 -->
				<div
					class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden min-w-[300px]">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-1.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-scale-down rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Branding Refresh
						</h2>
						<p class="text-white mt-2">A bold and vibrant new identity.</p>
					</div>
				</div>

				<!-- Photo 2 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-2.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 3 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-3.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 4 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-4.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 5 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-5.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 6 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-6.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 7 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-7.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 8 -->
				<div class="relative w-full h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-8.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 9 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-9.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>

				<!-- Photo 10 -->
				<div class="relative max-w-[350px] h-auto bg-gray-200 rounded-2xl overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/guayaba/du-portfolio-guayaba-10.jpg' %}" alt="graphic design for frutali guayaba social media"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-du-green/90 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Social Media Content
						</h2>
						<p class="text-white mt-2">Engaging visuals for audience connection.</p>
					</div>
				</div>
			</div>

            <!-- Portfolio Results -->
            <h2 class="text-4xl font-bold mb-4">Results</h2>
			<p class="text-xl my-4 font-light">
				Frutali is now recognized as a leader in the guava industry, with strong visibility in the market for its full product range—fresh guava, pulp, marmalade, and guava leaf tea. Thanks to our work in branding and ongoing digital strategy, the client has built <strong> a sustainable and consistent revenue stream.</strong> Frutali stands as a powerful example of how thoughtful branding and marketing can transform agricultural success into a strong consumer brand.
            </p>
		</div>

		<!-- Project Information -->
		<div
			class="flex flex-col w-full gap-y-4 min-w-[350px] lg:max-w-[500px] md:justify-start order-1 lg:order-2">
			<!-- Details -->
			<div class="flex flex-col bg-gradient-to-t from-du-green/50 to-du-green p-8 rounded-xl text-white">
				<button id="toggleButton"
					class=" flex justify-between text-white font-bold rounded-lg transition-colors duration-300"
					onclick="toggleCollapse()">

					<h1 class="text-2xl font-bold text-white">Project Information</h1>
					<i id="arrowIcon"
						class="text-2xl transition-transform duration-300 bi bi-chevron-right"></i>
				</button>

				<div id="collapsibleContent" class="hidden lg:block">
					<div class="h-[2px] w-full bg-white opacity-50 mt-8 mb-4"></div>

					<div class="flex flex-col gap-4">
						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Client:</h2>
							<h2 class="text-xl font-extralight">Frutali</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Category:</h2>
							<h2 class="text-xl font-extralight">Branding, Graphic Design, Marketing Strategy, Social Media</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Location:</h2>
							<h2 class="text-xl font-extralight">Santa Cruz, Bolivia</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Project Lead:</h2>
							<h2 class="text-xl font-extralight">Tayo Zabala</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex justify-center gap-x-4">
							<p class="text-xl">Follow on:</p>
							<div class="flex gap-4 text-xl justify-center items-center">
								<a href="https://www.instagram.com/frutali.bo/" aria-label="Instagram"
									class="flex text-white h-8 w-8 items-center justify-center">
									<i class="bi bi-instagram text-2xl"></i>
								</a>
								<a href="https://wa.me/59177032288" aria-label="WhatsApp"
									class="flex text-white h-8 w-8 items-center justify-center">
									<i class="bi bi-whatsapp text-2xl"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- CTA -->
			<div class="flex flex-col bg-gradient-to-t from-du-green to-du-green/50 p-8 rounded-xl justify-center items-center text-center">
                <div class="flex rounded-full shadow-xl p-2 w-20 justify-center bg-du-green border-4 border-white">
                    <img src="{% static './assets/images/services/details/phone-call.png' %}" alt="Customer Support Icon" class="object-cover p-2 invert" />
                </div>
				<a class="px-14 py-4 mt-4 rounded-full text-xl md:text-2xl font-semibold text-black bg-white hover:scale-105 transition-transform duration-300 mb-8" href="https://dunosis.forms.app/contact-form"> 
					Reach us!
				</a>
                <h2 class="text-xl mb-2 text-white">+1 (773) 202-2074</h2>
                <h2 class="text-xl mb-2 text-white">info@dunosis.com</h2>
            </div>
		</div>
	</div>

	{% include 'components/pre-footer-cta.html' with title='projects' link_type='portfolio' %}

	<div class="h-[2px] w-full bg-gray-400 my-5 md:my-10 opacity-40"></div>

	{% include 'components/portfolio-navigation.html' %}

	<div class="h-[2px] w-full bg-gray-400 my-5 md:my-10 opacity-40"></div>


</div>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
	integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
	integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/portfolio-details.js' %}"></script>

{% endblock scripts %}