{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio -{% endblock title %}
{% block description %}Description of Portfolio Overview{% endblock description %}
{% load custom_tags %}
{%block content %}

<!-- Portfolio Content -->
<div class="tw-columns-1 md:tw-columns-2 xl:tw-columns-3 tw-gap-4 tw-p-10 md:tw-max-w-[1440px] tw-mx-auto tw-space-y-3 tw-pb-28">

    <!-- Portfolio Item 1 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-cpanda-4.jpg' %}" alt="" class="tw-rounded-2xl">
        <!-- Gradient and Text Overlay -->
        <a href="{% url 'cpanda-website' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        CP & A Accounting
                    </h2>
                    <p class="tw-mt-2">Web Development</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 2 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-kneadsweets-2.png' %}" alt="" class="tw-rounded-2xl">
        <!-- Gradient and Text Overlay -->
        <a href="{% url 'kneadsweets-website' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Knead Sweets Chicago
                    </h2>
                    <p class="tw-mt-2">Mobile Web Development</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 3 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/prcc-dashboard.png' %}" alt="" class="tw-rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'prcc-dashboard' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Business Advising Dashboard
                    </h2>
                    <p class="tw-mt-2">Consulting</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 4 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-cafe-1.jpeg' %}" alt="" class="tw-rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'cafe-ignacio' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Café Don Ignacio
                    </h2>
                    <p class="tw-mt-2">Graphic Design</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 5 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-guayaba-2.jpeg' %}" alt="" class="tw-rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'guayaba' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Guayaba - Frutali
                    </h2>
                    <p class="tw-mt-2">Marketing & Social Media</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 6 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-jardin-1.jpeg' %}" alt="" class="tw-rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'jardin' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Colonia Jardín
                    </h2>
                    <p class="tw-mt-2">Marketing & Social Media</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 7 -->
    <div class="tw-relative tw-bg-gray-200 tw-break-inside-avoid tw-rounded-2xl tw-group">
        <img src="{% static './assets/images/portfolio/details/du-portfolio-metaltela-1.jpeg' %}" alt="" class="tw-rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'metaltela' %}"
            class="tw-absolute tw-inset-0 tw-w-full tw-h-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black tw-to-transparent tw-rounded-2xl -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
            <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-text-start tw-text-white">
                <div class="tw-flex tw-flex-col">
                    <h2 class="tw-text-xl tw-font-bold">
                        Metaltela LTDA
                    </h2>
                    <p class="tw-mt-2">Social Media</p>
                </div>
                <div
                    class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                    <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
</div>





<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock scripts %}