{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio -{% endblock title %}
{% block description %}Description of Portfolio Overview{% endblock description %}
{% load custom_tags %}
{%block content %}

<!-- Portfolio Content -->
<div class="columns-1 md:columns-2 xl:columns-3 gap-4 p-10 md:max-w-[1440px] mx-auto space-y-3 pb-28">

    <!-- Portfolio Item 1 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-cpanda.jpg' %}" alt="" class="rounded-2xl">
        <!-- Gradient and Text Overlay -->
        <a href="{% url 'cpanda-website' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        CP & A Accounting
                    </h2>
                    <p class="mt-2">Web Development</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 2 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-kneadsweets.png' %}" alt="" class="rounded-2xl">
        <!-- Gradient and Text Overlay -->
        <a href="{% url 'kneadsweets-website' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Knead Sweets Chicago
                    </h2>
                    <p class="mt-2">Mobile Web Development</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 3 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-prcc.jpg' %}" alt="" class="rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'prcc-dashboard' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Business Advising Dashboard
                    </h2>
                    <p class="mt-2">Consulting</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 4 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-cafe.jpg' %}" alt="" class="rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'cafe-ignacio' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Café Don Ignacio
                    </h2>
                    <p class="mt-2">Graphic Design</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 5 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-guayaba.jpg' %}" alt="" class="rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'guayaba' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Guayaba - Frutali
                    </h2>
                    <p class="mt-2">Marketing & Social Media</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 6 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-jardin.jpg' %}" alt="" class="rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'jardin' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Colonia Jardín
                    </h2>
                    <p class="mt-2">Marketing & Social Media</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>

    <!-- Portfolio Item 7 -->
    <div class="relative bg-gray-200 break-inside-avoid rounded-2xl group">
        <img src="{% static './assets/images/portfolio/du-portfolio-cover-metaltela.jpg' %}" alt="" class="rounded-2xl">
        <!-- Degradado en hover -->
        <a href="{% url 'metaltela' %}"
            class="absolute inset-0 w-full h-full flex items-end justify-center bg-gradient-to-t from-black to-transparent rounded-2xl -bottom-0 group-hover:bottom-0 opacity-0 group-hover:!opacity-100 transition-all duration-300">
            <div class="flex gap-4 w-full p-10 justify-between text-start text-white">
                <div class="flex flex-col">
                    <h2 class="text-xl font-bold">
                        Metaltela LTDA
                    </h2>
                    <p class="mt-2">Social Media & Web Development</p>
                </div>
                <div
                    class="rounded-full h-10 w-10 items-center bg-white text-black border-2 hover:scale-110">
                    <i class="flex bi bi-arrow-up-right h-full text-xl font-extralight justify-center items-center"
                        aria-hidden="true"></i>
                </div>
            </div>
        </a>
    </div>
</div>





<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock scripts %}