{% extends 'base.html' %}
{% load static %}
{% block title %}PRCC Dashboard - {% endblock title %}
{% block description %}PRCC Dashboard Portfolio Details{% endblock description %} {% load custom_tags %}
{%block content %}

<div class="tw-flex tw-flex-col tw-p-10 md:tw-max-w-[1440px] tw-mx-auto tw-gap-4">
	<!-- image -->
	<div
		class="tw-flex tw-w-full tw-h-[400px] lg:tw-h-[700px] tw-bg-gray-500 tw-rounded-3xl hover:tw-shadow-2xl tw-mb-4 tw-justify-center">
		<img src="{% static './assets/images/portfolio/details/prcc-dashboard.png' %}" alt="digital-marketing"
			class="tw-flex tw-w-full tw-h-[100%] tw-rounded-3xl tw-object-cover tw-mb-4" />
	</div>
	<div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center lg:tw-items-start tw-justify-between tw-gap-8">
		<div class="tw-flex tw-flex-col tw-max-w-[800px] tw-order-2 lg:tw-order-1">

            <!-- Portfolio Title and Overview -->
			<h2 class="tw-text-4xl tw-font-bold tw-mb-4">Business Advising Dashboard - PRCC</h2>
			<p class="tw-text-xl tw-mb-4 tw-font-light">
                Kneadsweets Chicago, a premier chef and baker specializing in desserts and custom cakes, needed a 
                mobile-first website that reflects their artistry and creativity. The project focused on creating a 
                visually captivating platform that not only showcases their stunning cakes but also provides an 
                intuitive experience for potential customers. By prioritizing mobile usability, the site ensures 
                easy navigation and ordering for customers on the go.
            </p>
            
            <!-- What We Provided Details -->
			<h2 class="tw-text-4xl tw-font-bold tw-mb-4">What We Provided</h2>
			<p class="tw-text-xl tw-font-light">
                We delivered a fully custom, mobile-first website tailored to Kneadsweets Chicago's unique identity 
                and offerings. From the ground up, we built a platform that highlights their high-quality desserts 
                and cakes with sleek visual elements and seamless navigation. The site features an integrated 
                ordering system, responsive design, and search-engine-optimized content to drive visibility and 
                conversions.
            </p>
			<div class="tw-flex tw-flex-col tw-gap-4 md:tw-flex-row tw-justify-between tw-my-10">
				<div class="tw-flex tw-flex-col tw-gap-4">
					<span class="tw-flex tw-items-center tw-justify-start tw-gap-4">
						<i class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
							aria-hidden="true"></i>
						<h2>Custom mobile-first design.</h2>
					</span>
					<span class="tw-flex tw-items-center tw-justify-start tw-gap-4">
						<i class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
							aria-hidden="true"></i>
						<h2>SEO-optimized content for increased visibility.</h2>
					</span>

				</div>
				<div class="tw-flex tw-flex-col tw-gap-4">
					<span class="tw-flex tw-items-center tw-justify-start tw-gap-4">
						<i class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
							aria-hidden="true"></i>
						<h2>Integrated order inquiry and contact system.</h2>
					</span>
					<span class="tw-flex tw-items-center tw-justify-start tw-gap-4">
						<i class="tw-flex bi bi-check tw-bg-du-green tw-text-white tw-rounded-full tw-h-8 tw-min-w-8 tw-text-2xl tw-items-center tw-justify-center"
							aria-hidden="true"></i>
						<h2>Seamless navigation and user-friendly interface.</h2>
					</span>
				</div>
			</div>

            <!-- Portfolio Images -->
			<div class="tw-flex tw-flex-col md:tw-flex-row tw-justify-center tw-items-center tw-gap-4 tw-mb-8">
				<!-- Photo Left -->
				<div
					class="tw-relative tw-w-full tw-h-[400px] tw-bg-gray-200 tw-rounded-2xl tw-overflow-hidden tw-min-w-[300px]">
					<img src="{% static './assets/images/portfolio/details/prcc-form.png' %}" alt="brand"
						class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-justify-end tw-items-center tw-text-center tw-bg-gradient-to-t tw-from-du-green/90 tw-to-transparent tw-p-4 tw-pb-18 tw-opacity-0 hover:tw-opacity-100 tw-transition-opacity tw-duration-300">
						<h2 class="tw-text-xl tw-font-bold tw-text-white">
							Order Inquiry System
						</h2>
						<p class="tw-text-white tw-mt-2">Streamlined ordering process for desserts and cakes.</p>
					</div>
				</div>

				<!-- Photo Right -->
				<div class="tw-relative tw-w-full tw-h-[400px] tw-bg-gray-200 tw-rounded-2xl tw-overflow-hidden">
					<img src="{% static './assets/images/portfolio/details/prcc-graphs.png' %}" alt="brand"
						class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="tw-absolute tw-inset-0 tw-flex tw-flex-col tw-justify-end tw-items-center tw-text-center tw-bg-gradient-to-t tw-from-du-green/90 tw-to-transparent tw-p-4 tw-pb-18 tw-opacity-0 hover:tw-opacity-100 tw-transition-opacity tw-duration-300">
						<h2 class="tw-text-xl tw-font-bold tw-text-white">
							Custom Gallery Showcase
						</h2>
						<p class="tw-text-white tw-mt-2">Designed to highlight Kneadsweets' stunning creations.</p>
					</div>
				</div>
			</div>

            <!-- Portfolio Results -->
            <h2 class="tw-text-4xl tw-font-bold tw-mb-4">Results</h2>
			<p class="tw-text-xl tw-my-4 tw-font-light">
                The Kneadsweets Chicago website delivered outstanding results, establishing a strong online presence 
                with a sleek, mobile-first design. By optimizing for local SEO, the website increased the business’s 
                visibility to nearby customers and attracted new orders.
            </p>
            <p class="tw-text-xl tw-my-4 tw-font-light">
                The intuitive gallery showcase and inquiry system simplified the customer journey, leading to an 
                increase in inquiries and conversions. The website’s professional design aligned perfectly with the 
                brand’s identity, creating a lasting impression on visitors and turning potential customers into 
                loyal clients.
            </p>
            <p class="tw-text-xl tw-my-4 tw-font-light">
                This project exemplifies the power of combining custom web design with strategic functionality, 
                ensuring the Kneadsweets brand stands out in a competitive market.
            </p>
		</div>

		<!-- Project Information -->
		<div
			class="tw-flex tw-flex-col tw-w-full tw-gap-y-4 tw-min-w-[350px] lg:tw-max-w-[500px] md:tw-justify-start tw-order-1 lg:tw-order-2">
			<!-- Details -->
			<div class="tw-flex tw-flex-col tw-bg-gradient-to-t tw-from-du-green/50 tw-to-du-green tw-p-8 tw-rounded-xl tw-text-white">
				<button id="toggleButton"
					class=" tw-flex tw-justify-between tw-text-white tw-font-bold tw-rounded-lg tw-transition-colors tw-duration-300"
					onclick="toggleCollapse()">

					<h1 class="tw-text-2xl tw-font-bold tw-text-white">Project Information</h1>
					<i id="arrowIcon"
						class="tw-text-2xl tw-transition-transform tw-duration-300 bi bi-chevron-right"></i>
				</button>

				<div id="collapsibleContent" class="tw-hidden lg:tw-block">
					<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-8 tw-mb-4"></div>

					<div class="tw-flex tw-flex-col tw-gap-4">
						<div class="tw-flex tw-flex-col tw-items-start tw-justify-start">
							<h2 class="tw-text-xl">Client:</h2>
							<h2 class="tw-text-xl tw-font-extralight">Mayela Bezares - Owner</h2>
							<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-2"></div>
						</div>

						<div class="tw-flex tw-flex-col tw-items-start tw-justify-start">
							<h2 class="tw-text-xl">Category:</h2>
							<h2 class="tw-text-xl tw-font-extralight">Web Development</h2>
							<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-2"></div>
						</div>

						<div class="tw-flex tw-flex-col tw-items-start tw-justify-start">
							<h2 class="tw-text-xl">Start Date:</h2>
							<h2 class="tw-text-xl tw-font-extralight">01 December, 2024</h2>
							<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-2"></div>
						</div>

						<div class="tw-flex tw-flex-col tw-items-start tw-justify-start">
							<h2 class="tw-text-xl">End Date:</h2>
							<h2 class="tw-text-xl tw-font-extralight">31 January, 2025</h2>
							<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-2"></div>
						</div>

						<div class="tw-flex tw-flex-col tw-items-start tw-justify-start">
							<h2 class="tw-text-xl">Project Budget:</h2>
							<h2 class="tw-text-xl tw-font-extralight">$1500</h2>
							<div class="tw-h-[2px] tw-w-full tw-bg-white tw-opacity-50 tw-mt-2"></div>
						</div>
						<div class="tw-flex tw-justify-center tw-gap-x-4">
							<p class="tw-text-xl">Follow on:</p>
							<div class="tw-flex tw-gap-4 tw-text-xl tw-justify-center tw-items-center">
								<a href="https://www.kneadsweetschicago.com" aria-label="Website"
									class="tw-flex tw-text-white tw-h-8 tw-w-8 tw-items-center tw-justify-center">
                                    <i class="bi bi-globe tw-text-2xl"></i>
								</a>
								<a href="https://www.instagram.com/keadsweetschicago/" aria-label="Instagram"
									class="tw-flex tw-text-white tw-h-8 tw-w-8 tw-items-center tw-justify-center">
									<i class="bi bi-instagram tw-text-2xl"></i>
								</a>
								<a href="https://www.facebook.com/kneadsweetsbymayela" aria-label="Facebook"
									class="tw-flex tw-text-white tw-h-8 tw-w-8 tw-items-center tw-justify-center">
									<i class="bi bi-facebook tw-text-2xl"></i>
								</a>
								<a href="https://wa.me/17874690979" aria-label="WhatsApp"
									class="tw-flex tw-text-white tw-h-8 tw-w-8 tw-items-center tw-justify-center">
									<i class="bi bi-whatsapp tw-text-2xl"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- CTA -->
			<div class="tw-flex tw-flex-col tw-bg-gradient-to-t tw-from-du-green tw-to-du-green/50 tw-p-8 tw-rounded-xl tw-justify-center tw-items-center tw-text-center">
                <div class="tw-flex tw-rounded-full tw-shadow-xl tw-p-2 tw-w-20 tw-justify-center tw-bg-du-green tw-border-4 tw-border-white">
                    <img src="{% static './assets/images/services/details/phone-call.png' %}" alt="Customer Support Icon" class="tw-object-cover tw-p-2 tw-invert" />
                </div>
                <h1 class="tw-text-2xl tw-font-bold tw-text-white tw-my-4">Get Started!</h1>
                <h2 class="tw-text-xl tw-mb-2 tw-text-white">+1 (773) 202-2074</h2>
                <h2 class="tw-text-xl tw-mb-2 tw-text-white">info@dunosis.com</h2>
            </div>
		</div>
	</div>

	{% include 'components/pre-footer-cta.html' with title='projects' link_type='portfolio' %}

	<div class="tw-h-[2px] tw-w-full tw-bg-gray-400 tw-my-5 md:tw-my-10 tw-opacity-40"></div>
	<div class="tw-flex tw-justify-between tw-items-center">
		<a href="" class="tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-4 tw-group">
			<div
				class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-text-gray-500 group-hover:tw-bg-du-green group-hover:tw-text-white tw-border-2 tw-border-gray-500 group-hover:tw-border-du-green">
				<i class="tw-flex bi bi-arrow-left tw-h-full tw-text-2xl tw-justify-center tw-items-center"
					aria-hidden="true"></i>
			</div>
			<h1
				class="tw-text-lg md:tw-text-2xl tw-font-bold tw-text-gray-500 hover:tw-text-du-green group-hover:tw-text-du-green">
				Previous</h1>
		</a>
		<a href="" class="tw-flex tw-justify-center tw-items-center tw-gap-2 md:tw-gap-4 tw-group">
			<h1
				class="tw-text-lg md:tw-text-2xl tw-font-bold tw-text-gray-500 hover:tw-text-du-green group-hover:tw-text-du-green">
				Next</h1>
			<div
				class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-text-gray-500 group-hover:tw-bg-du-green group-hover:tw-text-white tw-border-2 tw-border-gray-500 group-hover:tw-border-du-green">
				<i class="tw-flex bi bi-arrow-right tw-h-full tw-text-2xl tw-justify-center tw-items-center"
					aria-hidden="true"></i>
			</div>
		</a>
	</div>

	<div class="tw-h-[2px] tw-w-full tw-bg-gray-400 tw-my-5 md:tw-my-10 tw-opacity-40"></div>


</div>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
	integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
	integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/portfolio-details.js' %}"></script>

{% endblock scripts %}