{% extends 'base.html' %}
{% load static %}
{% block title %}PRCC Dashboard - {% endblock title %}
{% block description %}PRCC Dashboard Portfolio Details{% endblock description %} {% load custom_tags %}
{%block content %}

<div class="flex flex-col p-10 md:max-w-[1440px] mx-auto gap-4">
	<!-- image -->
	<div
		class="flex w-full h-[400px] lg:h-[700px] bg-gray-500 rounded-3xl hover:shadow-2xl mb-4 justify-center">
		<img src="{% static './assets/images/portfolio/du-portfolio-cover-prcc.jpg' %}" alt="Puerto Rican Cultural Center business advising dashboard solution"
			class="flex w-full h-[100%] rounded-3xl object-cover mb-4" />
	</div>
	<div class="flex flex-col lg:flex-row items-center lg:items-start justify-between gap-8">
		<div class="flex flex-col max-w-[800px] order-2 lg:order-1">

            <!-- Portfolio Title and Overview -->
			<h2 class="text-4xl font-bold mb-4">Business Advising Dashboard - PRCC</h2>
			<p class="text-xl mb-4 font-light">
                The Puerto Rican Cultural Center (PRCC) needed a solution to streamline their business advising consultations and gather actionable insights. We developed a custom Google Form linked to an automated data dashboard, enabling the Business Initiatives Department to easily input, track, and analyze their business advising efforts. This project empowered the PRCC to provide better support for the local community by using data to drive impactful decisions.
            </p>
            
            <!-- What We Provided Details -->
			<h2 class="text-4xl font-bold mb-4">What We Provided</h2>
			<p class="text-xl font-light">
                Our solution for PRCC included a seamlessly integrated Google Form and an automated data dashboard. The Google Form allowed team members to efficiently input consultation data, while the dashboard dynamically visualized key insights such as consultation counts, advisor performance, and program impact metrics. This streamlined system enhanced their ability to track progress, identify trends, and make data-driven decisions to support local businesses effectively.
            </p>
			<div class="flex flex-col gap-4 md:flex-row justify-between my-10">
				<div class="flex flex-col gap-4">
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Integrated Google Form for seamless data input.</h2>
					</span>
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Automated dashboard for real-time insights.</h2>
					</span>

				</div>
				<div class="flex flex-col gap-4">
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Custom visualizations for tracking key metrics.</h2>
					</span>
					<span class="flex items-center justify-start gap-4">
						<i class="flex bi bi-check bg-du-green text-white rounded-full h-8 min-w-8 text-2xl items-center justify-center"
							aria-hidden="true"></i>
						<h2>Enhanced decision-making with actionable data.</h2>
					</span>
				</div>
			</div>

            <!-- Portfolio Images -->
			<div class="flex flex-col md:flex-row justify-center items-center gap-4 mb-8">
				<!-- Photo 1 -->
				<div
					class="relative w-full h-[400px] bg-gray-200 rounded-2xl overflow-hidden hover:shadow-xl duration-300">
					<img src="{% static './assets/images/portfolio/details/prcc/du-portfolio-prcc-1.png' %}" alt="custom input form for business advising consultations"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-black/100 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Google Form Integration
						</h2>
						<p class="text-white mt-2">Simplified data collection process for consultations.</p>
					</div>
				</div>

				<!-- Photo 2 -->
				<div class="relative w-full h-[400px] bg-gray-200 rounded-2xl overflow-hidden hover:shadow-xl duration-300">
					<img src="{% static './assets/images/portfolio/details/prcc/du-portfolio-prcc-2.png' %}" alt="data visualizations for business advising dashboard"
						class="w-full h-full object-cover rounded-2xl" />

					<!-- Text Overlay -->
                    <div class="absolute inset-0 flex flex-col justify-end items-center text-center bg-gradient-to-t from-black/100 to-transparent p-4 pb-18 opacity-0 hover:!opacity-100 transition-opacity duration-300">
						<h2 class="text-xl font-bold text-white">
							Automated Data Dashboard
						</h2>
						<p class="text-white mt-2">Dynamic insights and analytics for decision-making.</p>
					</div>
				</div>
			</div>

            <!-- Portfolio Results -->
            <h2 class="text-4xl font-bold mb-4">Results</h2>
			<p class="text-xl my-4 font-light">
                The PRCC’s new system transformed their approach to business advising. By automating data collection and visualization, they drastically reduced manual work and improved operational efficiency. The integrated dashboard provided immediate access to critical metrics, empowering the team to focus on supporting businesses rather than struggling with data management.
            </p>
            <p class="text-xl my-4 font-light">
                This solution not only increased transparency and accountability but also enhanced the PRCC’s ability to demonstrate program impact to stakeholders. The streamlined system positioned the PRCC to better serve its mission of uplifting local businesses and fostering community growth.
            </p>
            <p class="text-xl my-4 font-light">
                With this data-driven approach, the PRCC continues to empower entrepreneurs and small business owners, creating lasting positive change in their community.
            </p>
		</div>

		<!-- Project Information -->
		<div
			class="flex flex-col w-full gap-y-4 min-w-[350px] lg:max-w-[500px] md:justify-start order-1 lg:order-2">
			<!-- Details -->
			<div class="flex flex-col bg-gradient-to-t from-du-green/50 to-du-green p-8 rounded-xl text-white">
				<button id="toggleButton"
					class=" flex justify-between text-white font-bold rounded-lg transition-colors duration-300"
					onclick="toggleCollapse()">

					<h1 class="text-2xl font-bold text-white">Project Information</h1>
					<i id="arrowIcon"
						class="text-2xl transition-transform duration-300 bi bi-chevron-right"></i>
				</button>

				<div id="collapsibleContent" class="hidden lg:block">
					<div class="h-[2px] w-full bg-white opacity-50 mt-8 mb-4"></div>

					<div class="flex flex-col gap-4">
						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Client:</h2>
							<h2 class="text-xl font-extralight">Honorio Torres - Director of Business Initiatives</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Category:</h2>
							<h2 class="text-xl font-extralight">Consulting</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Location:</h2>
							<h2 class="text-xl font-extralight">Chicago, Illinois</h2>
							<div class="h-[2px] w-full bg-white opacity-50 mt-2"></div>
						</div>

						<div class="flex flex-col items-start justify-start">
							<h2 class="text-xl">Project Lead:</h2>
							<h2 class="text-xl font-extralight">Wesley Ordoñez</h2>
						</div>

					</div>
				</div>
			</div>

			<!-- CTA -->
			<div class="flex flex-col bg-gradient-to-t from-du-green to-du-green/50 p-8 rounded-xl justify-center items-center text-center">
                <div class="flex rounded-full shadow-xl p-2 w-20 justify-center bg-du-green border-4 border-white">
                    <img src="{% static './assets/images/services/details/phone-call.png' %}" alt="Customer Support Icon" class="object-cover p-2 invert" />
                </div>
				<a class="px-14 py-4 mt-4 rounded-full text-xl md:text-2xl font-semibold text-black bg-white hover:scale-105 transition-transform duration-300 mb-8" href="https://dunosis.forms.app/contact-form"> 
					Reach us!
				</a>
                <h2 class="text-xl mb-2 text-white">+1 (773) 202-2074</h2>
                <h2 class="text-xl mb-2 text-white">info@dunosis.com</h2>
            </div>
		</div>
	</div>

	{% include 'components/pre-footer-cta.html' with title='projects' link_type='portfolio' %}

	<div class="h-[2px] w-full bg-gray-400 my-5 md:my-10 opacity-40"></div>

	{% include 'components/portfolio-navigation.html' %}

	<div class="h-[2px] w-full bg-gray-400 my-5 md:my-10 opacity-40"></div>


</div>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
	integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
	integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/portfolio-details.js' %}"></script>

{% endblock scripts %}