{% extends 'base.html' %} 
{% load static %} 
{% block title %}About Page{% endblock title %} 
{% block description %}Learn more about the Dunosis Team{% endblock description %} 
{% load custom_tags %} {%block content %}

<!-- Who are we section -->
<section class="tw-w-full md:tw-min-h-screen tw-justify-center tw-flex tw-flex-col">

	<div class="tw-items-start tw-gap-3 tw-text-left tw-p-20 tw-px-20">
		<!-- header -->
		<h3 class="tw-text-xl md:tw-text-3xl tw-font-bold">Who Are We?</h3>
		<div
			class="tw-items-start tw-flex tw-flex-col md:tw-flex-row tw-w-full tw-justify-between tw-gap-y-8 tw-mb-28"
		>
			<h2 class="tw-text-3xl md:tw-text-5xl tw-font-bold">
				Meet Our Professional <br />
				Team Members
			</h2>
			<div class="tw-flex tw-items-center tw-gap-2 tw-group tw-ml-auto">
				<a
					href="https://github.com/PaulleDemon/Django-website-template"
					class="tw-bg-black tw-text-white tw-uppercase tw-rounded-full tw-flex tw-items-center tw-gap-2 tw-h-14 tw-px-6 group-hover:tw-bg-red-700 group-hover:tw-text-white"
				>
					view all members
				</a>
				<a
					href="https://github.com/PaulleDemon/Django-website-template"
					class="tw-rounded-full tw-h-14 tw-w-14 tw-flex tw-items-center tw-justify-center tw-bg-black tw-text-white group-hover:tw-bg-red-700 group-hover:tw-text-white"
				>
					<i class="bi bi-arrow-up-right"></i>
				</a>
			</div>
		</div>
		<!-- images -->
		<div
			class="tw-flex tw-flex-col md:tw-flex-row tw-w-full tw-justify-center tw-items-center tw-gap-10 tw-gap-y-28 tw-px-10 tw-mt-24"
		>
			<!-- card template -->
			<div
				class="tw-bg-red-500 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[200px] lg:tw-w-[400px] lg:tw-h-[300px] tw-p-10 tw-rounded-[4rem] tw-relative hover:tw-scale-105 hover:-tw-translate-y-9 xl:tw-opacity-[70%] hover:tw-opacity-100 hover:tw-shadow-[0_-15px_0_rgba(172,5,5,0.5)]"
			>
				<img
					src="{% static './assets/images/about/Wesley-transparent.png' %}"
					alt="profile"
					class="tw-w-48 md:tw-w-64 tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[30%] tw-duration-500"
				/>
				<div
					class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-2xl lg:tw-rounded-full tw-top-[70%] tw-shadow-lg tw-w-[100%] lg:tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2"
				>
					<h3 class="tw-text-xl tw-font-bold">Wesley Ordoñez</h3>
					<h4 class="tw-text-md">Lead Developer</h4>
				</div>
			</div>

			<div
				class="tw-bg-yellow-500 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[200px] lg:tw-w-[400px] lg:tw-h-[300px] tw-p-10 tw-rounded-[4rem] tw-relative hover:tw-scale-105 hover:-tw-translate-y-9 xl:tw-opacity-[70%] hover:tw-opacity-100 hover:tw-shadow-[0_-15px_0_rgba(255,215,0,0.5)]"
			>
				<img
					src="{% static './assets/images/about/Tayo-transparent.png' %}"
					alt="profile"
					class="tw-w-48 md:tw-w-64 tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[30%] tw-duration-500"
				/>
				<div
					class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-2xl lg:tw-rounded-full tw-top-[70%] tw-shadow-lg tw-w-[100%] lg:tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2"
				>
					<h3 class="tw-text-xl tw-font-bold">Tayo Zabala</h3>
					<h4 class="tw-text-md">Marketing</h4>
				</div>
			</div>

			<div
				class="tw-bg-green-500 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[200px] lg:tw-w-[400px] lg:tw-h-[300px] tw-p-10 tw-rounded-[4rem] tw-relative hover:tw-scale-105 hover:-tw-translate-y-9 xl:tw-opacity-[70%] hover:tw-opacity-100 hover:tw-shadow-[0_-15px_0_rgba(31,198,0,0.5)]"
			>
				<img
					src="{% static './assets/images/about/Timo-transparent.png' %}"
					alt="profile"
					class="tw-w-48 md:tw-w-64 tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[30%] tw-duration-500"
				/>
				<div
					class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-2xl lg:tw-rounded-full tw-top-[70%] tw-shadow-lg tw-w-[100%] lg:tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2"
				>
					<h3 class="tw-text-xl tw-font-bold">Timo Ordoñez</h3>
					<h4 class="tw-text-md">Sales</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Our Working Process -->
<section class="tw-w-full md:tw-min-h-screen tw-justify-center tw-flex tw-flex-col">
	<!-- Barra amarillo -->
	<div
		class="tw-absolute tw-left-0 tw-h-full tw-w-5 tw-bg-yellow-500 tw-hidden md:tw-block"
	></div>
	<div class="tw-flex tw-flex-col tw-w-full tw-items-center tw-justify-center">
		<h2 class="tw-uppercase tw-text-4xl md:tw-text-6xl tw-font-bold">Our Work In Process</h2>
		<img
			src="{% static './assets/images/about/wip-v.png' %}"
			alt="profile"
			class="tw-w-[75%] md:tw-hidden"
		/>
		<img
			src="{% static './assets/images/about/wip-h.png' %}"
			alt="profile"
			class="tw-w-[95%] tw-hidden md:tw-flex"
		/>
	</div>
</section>

<!-- WHY CHOOSE US -->
<section class="tw-w-full md:tw-min-h-screen tw-justify-center tw-flex tw-flex-col">
	<!-- Barra verde -->
	<div class="tw-absolute tw-left-0 tw-h-full tw-w-5 tw-bg-green-700 tw-hidden md:tw-block"></div>

	<!-- Contenedor de contenido -->
	<div
		class="tw-flex tw-flex-col lg:tw-flex-row tw-w-full tw-h-full tw-px-14 tw-py-14 md:tw-px-28 tw-justify-center align-items-center"
	>
		<div
			class="tw-flex tw-flex-col tw-items-center tw-w-full lg:tw-w-[60%] xl:tw-mx-24 tw-mb-10"
		>
			<h2 class="tw-uppercase tw-text-4xl md:tw-text-5xl lg:tw-text-6xl tw-font-bold tw-mb-8">why choose us</h2>
			<p class="tw-text-xl md:tw-text-2xl tw-mb-8 tw-text-center md:tw-text-left">
				It is a long established fact that a reader will be distracted by the readable
				content of a page when looking at its layout. The point of using Lorem Ipsum is that
				it has a more-or-less normal distribution of letters.
			</p>

			<!-- Características -->
			<div class="tw-w-full tw-flex tw-flex-col tw-justify-center tw-gap-4">
				<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-8">
					<!-- Feature 1 -->
					<div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2 tw-m-4">
						<img
							src="{% static './assets/images/about/growth.png' %}"
							alt="Business Growth Icon"
							class="tw-bg-white tw-shadow-xl tw-p-4 tw-rounded-xl tw-w-20"
						/>
						<h2 class="tw-text-2xl">Business Growth</h2>
					</div>
					<!-- Feature 2 -->
					<div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2 tw-m-4">
						<img
							src="{% static './assets/images/about/growth.png' %}"
							alt="Technology Consultancy Icon"
							class="tw-bg-white tw-shadow-xl tw-p-4 tw-rounded-xl tw-w-20"
						/>
						<h2 class="tw-text-2xl">Technology Consultancy</h2>
					</div>
				</div>
				<div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-8">
					<!-- Feature 3 -->
					<div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2 tw-m-4">
						<img
							src="{% static './assets/images/about/growth.png' %}"
							alt="Innovation Solutions Icon"
							class="tw-bg-white tw-shadow-xl tw-p-4 tw-rounded-xl tw-w-20"
						/>
						<h2 class="tw-text-2xl">Innovation Solutions</h2>
					</div>
					<!-- Feature 4 -->
					<div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2 tw-m-4">
						<img
							src="{% static './assets/images/about/growth.png' %}"
							alt="Customer Support Icon"
							class="tw-bg-white tw-shadow-xl tw-p-4 tw-rounded-xl tw-w-20"
						/>
						<h2 class="tw-text-2xl">Customer Support</h2>
					</div>
				</div>
			</div>
		</div>

		<!-- Imagen con fondo cuadrado rojo -->
		<div class="tw-relative tw-flex tw-w-full md:tw-w-1/2 tw-justify-center tw-self-center">
			<!-- Fondo cuadrado rojo -->
			<div
				class="tw-absolute tw-top-1/2 tw-left-1/2 tw-w-[320px] tw-h-[320px] lg:tw-w-[400px] lg:tw-h-[400px] tw-bg-gradient-to-t tw-from-red-600 tw-via-yellow-600 tw-to-transparent tw-rounded-3xl tw-rounded-tl-[350px] tw-transform tw--translate-x-1/2 tw--translate-y-[55%]"
			></div>
			<img
				src="{% static './assets/images/about/womanusinglaptop.png' %}"
				alt="profile"
				class="tw-max-w-[500px] tw-z-10 xl:w-[300px]"
			/>
		</div>
	</div>
</section>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}

{% endblock content %} 
{% block scripts %}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
        integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
        integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />

    <script src="{% static './js/about.js' %}"></script>

{% endblock scripts %}
