{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<!-- Hero Section -->
<section class="tw-flex tw-flex-col tw-w-full md:tw-min-h-screen tw-justify-center" id="hero-section">

	<div class="tw-w-full tw-h-full tw-p-[4%] tw-flex tw-justify-around tw-items-center tw-gap-y-16 max-md:tw-flex-col">

        <!-- Left Photos -->
        <div class="tw-gap-4 tw-place-content-center tw-place-items-center xl:tw-flex xl:tw-flex-row">
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[700px] hover:tw-shadow-2xl tw-hidden md:tw-flex">
                <img src="{% static './assets/images/about/chicago.jpg' %}" alt="chicago" class="tw-w-[300px] tw-h-full tw-object-cover" />
            </div>
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px] hover:tw-shadow-2xl hover:tw-duration-150 tw-hidden xl:tw-flex">
                <img src="{% static './assets/images/about/wesley.jpeg' %}" alt="dashboard" class="tw-w-[200px] tw-h-full tw-object-cover" />
            </div>
        </div>

		<!-- Center Content -->
		<div class="tw-flex tw-flex-col tw-items-center tw-max-w-[480px] tw-min-w-[300px] tw-mx-4">
			<div class="tw-w-full tw-flex tw-flex-col tw-items-center">
                <img src="{% static 'assets/logos/dunosis-logo-bg.png' %}" alt="Dunosis Logo" class="tw-mb-1">
                <h1 class="tw-text-3xl max-md:tw-text-3xl max-sm:tw-text-2xl tw-font-light tw-text-center tw-lowercase">
                  Where Knowledge Meets Power
                </h1>
              </div>
              <div class="tw-flex tw-items-center tw-justify-center tw-mt-6">
                <a href="#" class="tw-mr-6 tw-rounded-md tw-bg-black tw-px-8 tw-py-4 tw-text-center tw-font-semibold tw-text-white lg:tw-mr-8"> Get Started </a>
                <a href="#" class="tw-flex tw-items-center tw-justify-center tw-rounded-md tw-border tw-border-solid tw-border-black tw-bg-white tw-px-6 tw-py-3 tw-font-bold">
                  <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94d411e6cf99_Vector%20(6).svg" alt="" class="tw-mr-2 tw-max-h-4 tw-w-5" />
                  <p>Learn More</p>
                </a>
              </div>
		</div>

        <!-- Right Photos -->
        <div class="tw-gap-4 tw-place-content-center tw-place-items-center xl:tw-flex xl:tw-flex-row">
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px] hover:tw-shadow-2xl hover:tw-scale-105 hover:tw-duration-150 tw-hidden xl:tw-flex">
                <img src="{% static './assets/images/about/tayo.jpeg' %}" alt="dashboard" class="tw-w-[200px] tw-h-full tw-object-cover" />
            </div>
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[700px] hover:tw-shadow-2xl hover:tw-scale-105 tw-hidden md:tw-flex">
                <img src="{% static './assets/images/about/santacruz.jpg' %}" alt="dashboard" class="tw-w-[300px] tw-h-full tw-object-cover" />
            </div>
        </div>
        
	</div>
</section>

<!-- Service Overview Hero Section -->
<section>
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Title -->
      <h2 class="tw-items-center tw-text-center tw-text-3xl tw-font-bold md:tw-text-5xl"> Make every step user-centric </h2>
      <p class="tw-mx-auto tw-mb-8 tw-mt-4 tw-max-w-lg tw-text-center tw-text-sm tw-text-gray-500 sm:tw-text-base md:tw-mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,purus sit amet luctus magna fringilla urna </p>
      <!-- List -->
      <ul class="tw-grid tw-gap-5 sm:tw-grid-cols-2 md:tw-grid-cols-4 md:tw-gap-0">
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover tw-bg-gray-200" />
          <p class="tw-text-xl tw-font-semibold">Web Development</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Marketing</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Social Media</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Consulting</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
      </ul>
    </div>
</section>

<!-- Logo Cloud -->
<section>
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Title -->
      <h5 class="tw-mb-6 tw-text-center tw-text-xl tw-font-bold md:tw-mb-10 lg:tw-mb-12"> Real designs made by real people. Here's our tech stack: </h5>
      <!-- Component -->
      <div class="tw-grid tw-grid-cols-2 tw-gap-8 sm:tw-grid-cols-3 sm:tw-gap-12 md:tw-grid-cols-5 md:tw-gap-6">
        <img class="tw-mx-auto" src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a948ffde6cf70_Microsoft%20Logo.svg" alt="" />
        <img class="tw-mx-auto" src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94ae44e6cf75_PayPal%20Logo.svg" alt="" />
        <img class="tw-mx-auto" src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a9467b4e6cf74_Google%20Logo.svg" alt="" />
        <img class="tw-mx-auto" src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a940c75e6cf67_Chase%20Logo.svg" alt="" />
        <img class="tw-mx-auto" src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a948d9ce6cf68_Walmart%20Logo.svg" alt="" />
      </div>
    </div>
</section>

<div class="tw-flex tw-flex-col tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-gap-6">
    <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-h-[250px] tw-gap-6">
        <!-- Marketing & estrategy -->
        <div
            class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[70%]">
            <div class="contenido tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                    <h3 class="tw-text-xl tw-font-bold">Marketing & Strategy</h3>
                    <p class="tw-text-sm tw-mt-2">
                        In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                        Across
                        The Entire Customer Journey. Our Team Has A Successful
                    </p>
                    <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                        <button
                            class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 tw-transition-colors tw-duration-300">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                            style="color: white; -webkit-text-stroke: 2px green;">01</span>
                    </div>
                </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
                <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                    <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                        alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                </div>
            </div>
        </div>

        <!-- social media -->
        <div
            class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[30%]">
            <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
                <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                    <h3 class="tw-text-xl tw-font-bold">Social Media</h3>
                    <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                        In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                        Across
                        The
                    </p>
                    <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                        <button
                            class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                            style="color: white; -webkit-text-stroke: 2px green;">02</span>
                    </div>
                </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
                <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                    <img src="{% static './assets/images/services/details/marketing.jpg' %}" alt="Social Media"
                        class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                </div>
            </div>
        </div>
    </div>
    <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-h-[250px] tw-gap-6">

        <!-- Content Production -->
        <div
            class="card1 tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[30%]">
            <div class="contenido1 tw-w-full tw-order-2 md:tw-order-1">
                <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                    <h3 class="tw-text-xl tw-font-bold">Content Production</h3>
                    <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                        In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                        Across
                        The
                    </p>
                    <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                        <button
                            class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                            style="color: white; -webkit-text-stroke: 2px green;">03</span>
                    </div>
                </div>
            </div>
            <div class="image-container1 tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
                <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                    <img src="{% static './assets/images/services/details/marketing.jpg' %}" alt="Social Media"
                        class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                </div>
            </div>
        </div>

        <!-- Website Development -->
        <div
            class="card1 tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[70%]">
            <div class="contenido1 tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                    <h3 class="tw-text-xl tw-font-bold">Website Development</h3>
                    <p class="tw-text-sm tw-mt-2">
                        In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                        Across
                        The Entire Customer Journey. Our Team Has A Successful
                    </p>
                    <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                        <button
                            class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 tw-transition-colors tw-duration-300">
                            <i class="bi bi-arrow-right"></i>
                        </button>
                        <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                            style="color: white; -webkit-text-stroke: 2px green;">04</span>
                    </div>
                </div>
            </div>
            <div class="image-container1 tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
                <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                    <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                        alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                </div>
            </div>
        </div>
    </div>

    <div
    class="tw-flex tw-flex-col md:tw-flex-row tw-bg-green-500 tw-py-10 tw-px-10 tw-mt-8 tw-rounded-lg tw-text-white tw-justify-center tw-items-center tw-w-full tw-gap-4 tw-min-w-[350px] tw-max-w-[900px] md:tw-min-w-[740px] md:tw-max-w-[1440px]">
    <div class="tw-flex">
        <!-- Circle Avatar 1 -->
        <div
            class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md">
            <img src="{% static './assets/images/services/details/avatar1.jpg' %}" alt="Avatar 1"
                class="tw-w-full tw-h-full tw-object-cover" />
        </div>
        <!-- Circle Avatar 2 -->
        <div
            class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
            <img src="{% static './assets/images/services/details/avatar2.jpg' %}" alt="Avatar 2"
                class="tw-w-full tw-h-full tw-object-cover" />
        </div>
        <!-- Circle Avatar 3 -->
        <div
            class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
            <img src="{% static './assets/images/services/details/avatar3.jpg' %}" alt="Avatar 3"
                class="tw-w-full tw-h-full tw-object-cover" />
        </div>
    </div>

    <h2 class="tw-flex tw-text-2xl tw-font-semibold">1.5 K Happy Clients</h2>
    <div class="tw-flex tw-items-center tw-gap-2 tw-group lg:tw-ml-8">
        <a href="https://github.com/PaulleDemon/Django-website-template"
            class="tw-flex tw-h-14 tw-bg-green-800 tw-text-sm tw-text-white tw-uppercase tw-rounded-full tw-items-center tw-gap-2 tw-px-6 group-hover:tw-bg-green-900 group-hover:tw-text-white">
            view all services
        </a>
        <a href="https://github.com/PaulleDemon/Django-website-template"
            class="tw-rounded-full tw-h-14 tw-w-14 tw-flex tw-items-center tw-justify-center tw-bg-green-800 tw-text-white group-hover:tw-bg-green-900 group-hover:tw-text-white">
            <i class="bi bi-arrow-up-right"></i>
        </a>
    </div>
</div>


<section>
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-12 md:tw-px-10 md:tw-py-16 lg:tw-py-20">
      <!-- Component -->
      <div class="tw-flex tw-flex-col tw-items-center">
        <!-- Item -->
        <div class="tw-relative">
          <div class="tw-absolute tw-w-1 md:tw-w-2 tw-bg-black tw-h-full tw-left-1/2 tw-transform -tw-translate-x-1/2"></div>
          <div class="tw-mb-20 tw-mt-20 tw-flex tw-items-center tw-w-full">
            <div class="tw-w-1/2 tw-text-right tw-pr-5 md:tw-pr-12">
              <div class="tw-inline-block tw-bg-gray-100 tw-px-4 tw-py-2 tw-rounded-lg">
                <h5 class="tw-text-lg md:tw-text-2xl tw-font-semibold">Step 1</h5>
              </div>
            </div>
            <div class="tw-w-4 tw-h-4 md:tw-w-5 md:tw-h-5 tw-rounded-full tw-bg-black"></div>
            <div class="tw-w-1/2 tw-pl-5 md:tw-pl-12">
              <svg class="tw-mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9848 9.10266..." fill="black" />
                <path d="M4.87632 14.9834..." fill="white" stroke="black" />
              </svg>
              <h6 class="tw-text-md md:tw-text-xl tw-font-semibold tw-mb-3"> Find Component </h6>
              <p class="tw-text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
            </div>
          </div>
          <div class="tw-mb-20 tw-mt-20 tw-flex tw-items-center tw-w-full">
            <div class="tw-w-1/2 tw-text-right tw-pr-5 md:tw-pr-12">
              <div class="tw-inline-block tw-bg-gray-100 tw-px-4 tw-py-2 tw-rounded-lg">
                <h5 class="tw-text-lg md:tw-text-2xl tw-font-semibold">Step 2</h5>
              </div>
            </div>
            <div class="tw-w-4 tw-h-4 md:tw-w-5 md:tw-h-5 tw-rounded-full tw-bg-black"></div>
            <div class="tw-w-1/2 tw-pl-5 md:tw-pl-12">
              <svg class="tw-mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9848 9.10266..." fill="black" />
                <path d="M4.87632 14.9834..." fill="white" stroke="black" />
              </svg>
              <h6 class="tw-text-md md:tw-text-xl tw-font-semibold tw-mb-3"> Copy and Paste </h6>
              <p class="tw-text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
            </div>
          </div>
        </div>
        <!-- Item -->
        <div class="tw-relative">
          <div class="tw-absolute tw-w-1 md:tw-w-2 tw-bg-gray-300 tw-h-full tw-left-1/2 tw-transform -tw-translate-x-1/2"></div>
          <div class="tw-mb-20 tw-mt-20 tw-flex tw-items-center tw-w-full">
            <div class="tw-w-1/2 tw-text-right tw-pr-5 md:tw-pr-12">
              <div class="tw-inline-block tw-bg-gray-100 tw-px-4 tw-py-2 tw-rounded-lg">
                <h5 class="tw-text-lg md:tw-text-2xl tw-font-semibold tw-text-gray-500">Step 3</h5>
              </div>
            </div>
            <div class="tw-w-4 tw-h-4 md:tw-w-5 md:tw-h-5 tw-rounded-full tw-bg-gray-300"></div>
            <div class="tw-w-1/2 tw-pl-5 md:tw-pl-12">
              <svg class="tw-mb-4" width="20" height="31" viewBox="0 0 20 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.9848 9.10266..." fill="black" />
                <path d="M4.87632 14.9834..." fill="white" stroke="black" />
              </svg>
              <h6 class="tw-text-md md:tw-text-xl tw-font-semibold tw-mb-3"> Done! </h6>
              <p class="tw-text-gray-500"> Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <section>
    <!-- Container -->
    <div class="tw-mx-auto tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Heading Container -->
      <div class="tw-mx-auto tw-mb-8 tw-max-w-3xl tw-text-center md:tw-mb-12">
        <!-- Heading -->
        <h2 class="tw-text-3xl tw-font-bold md:tw-text-5xl"> Tailored Pricing for Ambition. </h2>
        <!-- Subheading -->
        <p class="tw-mx-auto tw-mt-4 tw-max-w-xl tw-text-sm tw-text-gray-500 md:tw-text-base"> Choose from our dynamic pricing plans, crafted to fit businesses of diverse scales and domains. Experience value, results, and a satisfying return on investment. </p>
      </div>
      <!-- Select Price Type -->
      <div class="tw-relative tw-mx-auto tw-mb-8 tw-flex tw-w-fit tw-cursor-pointer tw-rounded-xl tw-bg-gray-100 md:tw-mb-12">
        <div class="tw-relative tw-z-10 tw-px-10 tw-py-4">
          <p class="tw-text-sm tw-font-semibold tw-text-white sm:tw-text-base"> Annually </p>
        </div>
        <div class="tw-relative tw-px-10 tw-py-4">
          <p class="tw-text-sm tw-font-semibold tw-text-gray-500 sm:tw-text-base"> Monthly </p>
        </div>
        <div class="tw-absolute tw-left-2 tw-top-[6px] tw-z-0 tw-h-4/5 tw-w-[45%] tw-rounded-md tw-bg-black"></div>
      </div>
      <!-- Prices Container -->
      <div class="tw-grid tw-grid-cols-1 tw-gap-8 sm:tw-grid-cols-2 md:tw-grid-cols-3 md:tw-gap-4">
        <!-- Price -->
        <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-md tw-border tw-border-gray-300 tw-bg-gray-100 tw-px-8 tw-py-14">
          <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
            <p class="tw-text-sm tw-font-bold sm:tw-text-xl md:tw-text-2xl"> Basecamp </p>
            <h2 class="tw-flex tw-items-center tw-text-3xl tw-font-bold md:tw-text-5xl"> $18.99<span class="tw-text-sm tw-text-gray-500">/MO</span>
            </h2>
            <p class="tw-text-sm tw-text-gray-500">For Individuals</p>
          </div>
          <a href="#" class="tw-mb-12 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-white tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-black"> Try Basecamp </a>
          <div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base">250 Credits</p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Basic Integrations </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Access to full suite of tools </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base">Basic Support</p>
            </div>
          </div>
        </div>
        <!-- Price -->
        <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-md tw-border tw-border-gray-300 tw-bg-gray-100 tw-px-8 tw-py-14">
          <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
            <p class="tw-text-sm tw-font-bold sm:tw-text-xl md:tw-text-2xl"> Accelerate </p>
            <h2 class="tw-flex tw-items-center tw-text-3xl tw-font-bold md:tw-text-5xl"> $32.99<span class="tw-text-sm tw-text-gray-500">/MO</span>
            </h2>
            <p class="tw-text-sm tw-text-gray-500">For Individuals</p>
          </div>
          <a href="#" class="tw-mb-12 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-white tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-black"> Try Accelerate </a>
          <div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base">750 Credits</p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Basic Integrations </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Access to full suite of tools </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Premium&nbsp;Support </p>
            </div>
          </div>
        </div>
        <!-- Price -->
        <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-md tw-border tw-border-gray-300 tw-bg-gray-100 tw-px-8 tw-py-14">
          <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
            <p class="tw-text-sm tw-font-bold sm:tw-text-xl md:tw-text-2xl">Growth</p>
            <h2 class="tw-flex tw-items-center tw-text-3xl tw-font-bold md:tw-text-5xl"> $99<span class="tw-text-sm tw-text-gray-500">/MO</span>
            </h2>
            <p class="tw-text-sm tw-text-gray-500">For Individuals</p>
          </div>
          <a href="#" class="tw-mb-12 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-white tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-black"> Try Growth </a>
          <div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base">2000 Credits</p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Basic Integrations </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Access to full suite of tools </p>
            </div>
            <div class="tw-mt-3 tw-flex tw-items-center">
              <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
              <p class="tw-text-sm tw-font-bold sm:tw-text-base"> Premium&nbsp;Support </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="tw-block">
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Heading -->
      <h2 class="tw-mx-auto tw-mb-8 tw-max-w-3xl tw-text-center tw-text-3xl tw-font-bold md:tw-mb-12 md:tw-text-5xl lg:tw-mb-16"> What our clients are saying </h2>
      <!-- Contents -->
      <div class="tw-mb-5 tw-grid tw-grid-cols-1 tw-gap-5 sm:tw-grid-cols-2 md:tw-grid-cols-3 lg:tw-mb-8">
        <!-- Content 1 -->
        <div class="tw-grid tw-grid-cols-1 tw-gap-6 tw-rounded-md tw-border tw-border-solid tw-border-gray-300 tw-bg-white tw-p-8 md:tw-p-10">
          <div class="tw-flex">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
          </div>
          <div class="tw-text-gray-500"> “Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis" </div>
          <div class="tw-flex tw-flex-row tw-items-start">
            <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-mr-4 tw-inline-block tw-h-16 tw-w-16 tw-object-cover tw-rounded-full" />
            <div class="tw-flex tw-flex-col tw-items-start">
              <h6 class="tw-text-base tw-font-bold">Laila Bahar</h6>
              <p class="tw-text-sm tw-text-gray-500">Designer</p>
            </div>
          </div>
        </div>
        <!-- Content 2 -->
        <div class="tw-grid tw-grid-cols-1 tw-gap-6 tw-rounded-md tw-border tw-border-solid tw-border-gray-300 tw-bg-white tw-p-8 md:tw-p-10">
          <div class="tw-flex">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
          </div>
          <div class="tw-text-gray-500"> “Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis" </div>
          <div class="tw-flex tw-flex-row tw-items-start">
            <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-mr-4 tw-inline-block tw-h-16 tw-w-16 tw-object-cover tw-rounded-full" />
            <div class="tw-flex tw-flex-col tw-items-start">
              <h6 class="tw-text-base tw-font-bold">Laila Bahar</h6>
              <p class="tw-text-sm tw-text-gray-500">Designer</p>
            </div>
          </div>
        </div>
        <!-- Content 3 -->
        <div class="tw-grid tw-grid-cols-1 tw-gap-6 tw-rounded-md tw-border tw-border-solid tw-border-gray-300 tw-bg-white tw-p-8 md:tw-p-10">
          <div class="tw-flex">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a947e84e6cf91_Vector.svg" alt="" class="tw-mr-1 tw-inline-block tw-w-3.5 tw-flex-none" />
          </div>
          <div class="tw-text-gray-500"> “Lorem ipsum dolor sit amet, &nbsp;elit ut aliquam, purus sit amet luctus venenatis elit ut aliquam, purus sit amet luctus venenatis" </div>
          <div class="tw-flex tw-flex-row tw-items-start">
            <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-mr-4 tw-inline-block tw-h-16 tw-w-16 tw-object-cover tw-rounded-full" />
            <div class="tw-flex tw-flex-col tw-items-start">
              <h6 class="tw-text-base tw-font-bold">Laila Bahar</h6>
              <p class="tw-text-sm tw-text-gray-500">Designer</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Text Button -->
      <div class="tw-flex tw-flex-col">
        <a href="#" class="tw-mx-auto tw-font-bold tw-text-black"> Check all reviews </a>
      </div>
    </div>
  </section>


<section class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-gap-10 tw-px-10 md:tw-px-16 tw-bg-blue-700 tw-overflow-hidden">
    <div class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mt-16 tw-mb-16">
        <h3 class="tw-text-4xl md:tw-text-6xl tw-font-semibold tw-text-center tw-text-white">
            YOUR BUSINESS DESERVES MORE, <br> LET'S MAKE IT HAPPEN!
        </h3>
        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-text-white">
            Get Started Quickly And Easily With A FREE Consultation
        </h3>
        <a class="tw-px-14 tw-py-4 tw-mt-4 tw-rounded-full tw-text-xl md:tw-text-2xl tw-font-semibold tw-text-black tw-bg-white hover:tw-scale-105 tw-transition-transform tw-duration-300 tw-mb-8"
           href="https://github.com/PaulleDemon/Django-website-template">
            LEARN MORE!
        </a>
        <div class="tw-flex tw-gap-4 tw-text-3xl">
            <a href="https://www.facebook.com/profile.php?id=61565984502377" aria-label="Facebook" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-facebook tw-text-4xl"></i>
            </a>
            <a href="https://instagram.com/dunosis.usa" aria-label="Instagram" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-instagram tw-text-4xl"></i>
            </a>
            <a href="https://wa.me/17732022074" aria-label="WhatsApp" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-whatsapp tw-text-4xl"></i>
            </a>
            <a href="https://www.linkedin.com/company/104785338/" aria-label="LinkedIn" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-linkedin tw-text-4xl"></i>
            </a>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>
    
{% endblock scripts %}