{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<!-- About Section -->
<section class="tw-w-full tw-min-h-screen tw-flex tw-flex-col tw-overflow-hidden tw-relative" id="hero-section">

    <div class="tw-w-full tw-h-full tw-p-[5%] tw-flex tw-justify-around tw-items-center tw-min-h-screen max-lg:tw-flex-col tw-gap-10">

        <!-- Imágenes de los extremos -->
        <div class="tw-flex tw-gap-4 tw-place-content-center tw-place-items-center">
            <div class="tw-rounded-lg tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[800px] ">
                <img src="{% static './assets/images/home/184-400x1000.jpg' %}" 
                     alt="dashboard" class="tw-w-full tw-h-full object-cover">
            </div>
            <div class="tw-rounded-lg tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px]">
                <img src="{% static './assets/images/home/184-400x1000.jpg' %}" 
                     alt="dashboard" class="tw-w-full tw-h-full object-cover">
            </div>
        </div>

        <!-- Contenido Central -->
        <div class="tw-flex tw-flex-col tw-items-center tw-max-w-[480px] tw-min-w-[300px]">
            <h1 class="tw-text-4xl lg:tw-text-6xl tw-font-semibold tw-uppercase 
                        tw-text-center tw-leading-normal max-md:tw-leading-tight">
                Learn About Our Team And Our Business
            </h1>
            <p class="tw-mt-5 tw-text-justify tw-px-2 max-md:tw-text-sm">
                Order now and don't forget to subscribe and don't forget to enter the email below to get a voucher right now. 🚀
            </p>
            <a href="https://github.com/PaulleDemon/Django-website-template" 
               class="btn tw-rounded-full tw-mt-5 tw-px-6 tw-py-3 tw-text-white tw-font-semibold tw-transition hover:tw-bg-blue-500">
                Contact Us Now!
            </a>
        </div>

        <!-- Imágenes de los extremos -->
        <div class="tw-flex tw-gap-4 tw-place-content-center tw-place-items-center">
            <div class="tw-rounded-lg tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px]">
                <img src="{% static './assets/images/home/184-400x1000.jpg' %}" 
                     alt="dashboard" class="tw-w-full tw-h-full object-cover">
            </div>
            <div class="tw-rounded-lg tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[800px]">
                <img src="{% static './assets/images/home/184-400x1000.jpg' %}" 
                     alt="dashboard" class="tw-w-full tw-h-full object-cover">
            </div>
        </div>

    </div>

</section>




<!-- Who are we section -->
<section class="tw-w-full tw-min-h-screen tw-flex tw-flex-col">

    <!-- Barra roja -->
    <div class="tw-absolute tw-left-0 tw-h-full tw-w-5 tw-bg-red-700"></div>
    <div>
        
    </div>

    <div class="tw-flex tw-flex-col tw-items-start tw-gap-3 tw-text-left tw-mb-14 md:tw-mb-28 tw-p-20 tw-px-20">
        <h3 class="tw-text-xl md:tw-text-3xl tw-font-bold">Who Are We?</h3>
        <div class="tw-flex tw-flex-col tw-w-full tw-justify-between tw-items-center md:tw-flex-row tw-gap-y-8">
            <h2 class="tw-text-3xl md:tw-text-5xl tw-font-semibold">
                Meet Our Professional <br> Team Members
            </h2>
            <div class="tw-flex tw-items-center tw-gap-1">
                <a href="https://github.com/PaulleDemon/Django-website-template" 
                   class="btn tw-rounded-full tw-flex tw-items-center tw-gap-2 tw-h-14 tw-px-6 hover:tw-bg-red-700 hover:tw-text-white">
                    VIEW ALL MEMBERS
                </a>
                <a href="https://github.com/PaulleDemon/Django-website-template" 
                   class="tw-rounded-full tw-h-14 tw-w-14 tw-flex tw-items-center tw-justify-center tw-bg-black tw-text-white hover:tw-bg-red-700 hover:tw-text-white">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
            
        </div>
    </div>

    <div class="tw-flex tw-flex-col lg:tw-flex-row tw-w-full tw-justify-center tw-items-center tw-gap-10 tw-gap-y-36 lg:tw-px-10">
        <!-- card template -->
        <div class="tw-bg-green-600 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[300px] xl:tw-w-[400px] xl:tw-h-[400px] tw-p-10 tw-pt-24 tw-rounded-[4rem] tw-shadow-2xl tw-relative">
            <img src="{% static './assets/images/home/perfiles.png' %}" alt="profile" 
            class="tw-w-48 md:tw-w-64 xl:tw-w-[84%] tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[20%] tw-duration-500">
            <div class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-full tw-z-20 tw-top-[70%] tw-shadow-lg tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2">
                <h3 class="tw-text-xl tw-font-bold">Wesley Ordoñez</h3>
                <h4 class="tw-text-md">Lead Developer</h4>
            </div>
        </div>

        <!-- Repetir este bloque para cada tarjeta cambiando el contenido dinámico -->
        <div class="tw-bg-green-600 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[300px] xl:tw-w-[400px] xl:tw-h-[400px] tw-p-10 tw-pt-24 tw-rounded-[4rem] tw-shadow-2xl tw-relative">
            <img src="{% static './assets/images/home/perfiles.png' %}" alt="profile" 
            class="tw-w-48 md:tw-w-64 xl:tw-w-[84%] tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[20%] tw-duration-500">
            <div class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-full tw-z-20 tw-top-[70%] tw-shadow-lg tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2">
                <h3 class="tw-text-xl tw-font-bold">Tayo Zabala</h3>
                <h4 class="tw-text-md">Marketing</h4>
            </div>
        </div>

        <div class="tw-bg-green-600 tw-w-[200px] tw-h-[200px] md:tw-w-[300px] md:tw-h-[300px] xl:tw-w-[400px] xl:tw-h-[400px] tw-p-10 tw-pt-24 tw-rounded-[4rem] tw-shadow-2xl tw-relative">
            <img src="{% static './assets/images/home/perfiles.png' %}" alt="profile" 
            class="tw-w-48 md:tw-w-64 xl:tw-w-[84%] tw-absolute -tw-top-5 tw-left-1/2 tw-transform -tw-translate-x-1/2 -tw-translate-y-[20%] tw-duration-500">
            <div class="tw-absolute tw-bg-white tw-p-4 tw-text-center tw-rounded-full tw-z-20 tw-top-[70%] tw-shadow-lg tw-w-[90%] tw-left-1/2 tw-transform -tw-translate-x-1/2">
                <h3 class="tw-text-xl tw-font-bold">Timo Ordoñez</h3>
                <h4 class="tw-text-md">Sales</h4>
            </div>
        </div>
    </div>
</section>




<!-- Our Working Process -->

<section class="tw-w-full tw-min-h-screen tw-flex tw-flex-col">

    <!-- Barra amarillo -->
    <div class="tw-absolute tw-left-0 tw-h-full tw-w-5 tw-bg-yellow-500"></div>
    <div class="tw-flex tw-flex-col tw-w-full md:tw-mb-14 tw-items-center tw-justify-center">
        
            <h2 class="tw-text-3xl md:tw-text-5xl tw-font-semibold tw-mb-2">
                Our Working Process
            </h2>
            
    </div>

    <div class="tw-w-full tw-flex tw-justify-center tw-gap-10 tw-gap-y-36 tw-px-4 tw-flex-wrap">
        <!-- card template -->
            <img src="{% static './assets/images/home/dashboard.png' %}" alt="profile" 
            class="tw-w-[90%] tw-absolute">    
        
    </div>
</section>

<!-- WHY CHOOSE US -->
<section class="tw-w-full tw-min-h-screen tw-flex tw-flex-col xl:tw-flex-row tw-px-4 md:tw-px-16">

    <!-- Barra green -->
    <div class="tw-absolute tw-left-0 tw-h-full tw-w-5 tw-bg-green-700"></div>
    <div class="tw-flex tw-flex-col tw-w-full xl:tw-w-1/2 tw-items-center md:tw-items-start tw-justify-center tw-p-8 md:tw-p-24">
        <h2 class="tw-text-3xl md:tw-text-5xl tw-font-semibold tw-mb-8">
            WHY CHOOSE US
        </h2>
        <p class="tw-text-lg tw-mb-8 tw-text-center md:tw-text-left">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
        </p>
        <div class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-gap-8">
            <!-- Feature 1 -->
            <div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2">
                <img src="{% static './assets/images/home/growth.png' %}" alt="Business Growth" class="tw-bg-yellow-500 tw-p-4 tw-rounded-xl tw-w-20">
                <h2 class="tw-text-2xl">Business Growth</h2>
            </div>
            <!-- Feature 2 -->
            <div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2">
                <img src="{% static './assets/images/home/growth.png' %}" alt="Technology Consultancy" class="tw-bg-yellow-500 tw-p-4 tw-rounded-xl tw-w-20">
                <h2 class="tw-text-2xl">Technology Consultancy</h2>
            </div>
        </div>

        <div class="tw-w-full tw-border-t-2 tw-border-gray-300 tw-my-8"></div>

        <div class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-gap-8">
            <!-- Profile 1 -->
            <div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2">
                
                <img src="{% static './assets/images/home/user.png' %}" alt="Technology Consultancy" class="tw-bg-yellow-500 tw-p-4 tw-rounded-xl tw-w-20">
                <div>
                    <h2 class="tw-text-2xl tw-font-semibold">Ronald Richards</h2>
                    <p class="tw-text-lg">Co-Founder</p>
                </div>
            </div>
            <!-- Profile 2 -->
            <div class="tw-flex tw-items-center tw-gap-4 tw-w-full md:tw-w-1/2">
                <img src="{% static './assets/images/home/phone-call.png' %}" alt="Technology Consultancy" class="tw-bg-yellow-500 tw-p-4 tw-rounded-xl tw-w-20">
                <div>
                    <h2 class="tw-text-2xl tw-font-semibold">Call Us Now</h2>
                    <p class="tw-text-lg">+208-555-0112</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tw-flex tw-w-full md:tw-w-1/2 tw-justify-center tw-px-4">
        <img src="{% static './assets/images/home/perfiles.png' %}" alt="profile" class="tw-max-w-full tw-h-auto">
    </div>
</section>




<section class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-gap-10 tw-px-10 md:tw-px-16 tw-bg-blue-700 tw-overflow-hidden">
    <div class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mt-16 tw-mb-16">
        <h3 class="tw-text-4xl md:tw-text-6xl tw-font-semibold tw-text-center tw-text-white">
            YOUR BUSINESS DESERVES MORE, <br> LET'S MAKE IT HAPPEN!
        </h3>
        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-text-white">
            Get Started Quickly And Easily With A FREE Consultation
        </h3>
        <a class="tw-px-14 tw-py-4 tw-mt-4 tw-rounded-full tw-text-xl md:tw-text-2xl tw-font-semibold tw-text-black tw-bg-white hover:tw-scale-105 tw-transition-transform tw-duration-300 tw-mb-8"
           href="https://github.com/PaulleDemon/Django-website-template">
            LEARN MORE!
        </a>
        <div class="tw-flex tw-gap-4 tw-text-2xl">
            <a href="https://www.facebook.com/profile.php?id=61565984502377" aria-label="Facebook" class="tw-text-blue-700 tw-bg-white tw-h-16 tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://instagram.com/dunosis.usa" aria-label="Instagram" class="tw-text-blue-700 tw-bg-white tw-h-16 tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://wa.me/17732022074" aria-label="WhatsApp" class="tw-text-blue-700 tw-bg-white tw-h-16 tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/company/104785338/" aria-label="LinkedIn" class="tw-text-blue-700 tw-bg-white tw-h-16 tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center">
                <i class="bi bi-linkedin"></i>
            </a>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

{% endblock scripts %}