{% extends 'base.html' %}
{% load static %}

{% load custom_tags %}

{% block content %}

<!-- Hero Section -->
<section class="tw-flex tw-flex-col tw-w-full md:tw-min-h-screen tw-justify-center" id="hero-section">

	<div class="tw-w-full tw-h-full tw-p-[4%] tw-flex tw-justify-around tw-items-center tw-gap-y-16 max-md:tw-flex-col">

        <!-- Left Photos -->
        <div class="tw-gap-4 tw-place-content-center tw-place-items-center xl:tw-flex xl:tw-flex-row">
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[700px] hover:tw-shadow-2xl tw-hidden md:tw-flex">
                <img src="{% static './assets/images/about/chicago.jpg' %}" alt="chicago" class="tw-w-[300px] tw-h-full tw-object-cover" />
            </div>
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px] hover:tw-shadow-2xl hover:tw-duration-150 tw-hidden xl:tw-flex">
                <img src="{% static './assets/images/about/wesley.jpeg' %}" alt="dashboard" class="tw-w-[200px] tw-h-full tw-object-cover" />
            </div>
        </div>

		<!-- Center Content -->
		<div class="tw-flex tw-flex-col tw-items-center tw-max-w-[480px] tw-min-w-[300px] tw-mx-4">
			<div class="tw-w-full tw-flex tw-flex-col tw-items-center">
                <img src="{% static 'assets/logos/dunosis-logo-bg.png' %}" alt="Dunosis Logo" class="tw-mb-1">
                <h1 class="tw-text-3xl max-md:tw-text-3xl max-sm:tw-text-2xl tw-font-light tw-text-center tw-lowercase">
                  Where Knowledge Meets Power
                </h1>
              </div>
              <div class="tw-flex tw-items-center tw-justify-center tw-mt-6">
                <a href="#" class="tw-mr-6 tw-rounded-md tw-bg-black tw-px-8 tw-py-4 tw-text-center tw-font-semibold tw-text-white lg:tw-mr-8"> Get Started </a>
                <a href="#" class="tw-flex tw-items-center tw-justify-center tw-rounded-md tw-border tw-border-solid tw-border-black tw-bg-white tw-px-6 tw-py-3 tw-font-bold">
                  <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94d411e6cf99_Vector%20(6).svg" alt="" class="tw-mr-2 tw-max-h-4 tw-w-5" />
                  <p>Learn More</p>
                </a>
              </div>
		</div>

        <!-- Right Photos -->
        <div class="tw-gap-4 tw-place-content-center tw-place-items-center xl:tw-flex xl:tw-flex-row">
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] max-lg:tw-h-[300px] max-md:tw-h-[250px] hover:tw-shadow-2xl hover:tw-scale-105 hover:tw-duration-150 tw-hidden xl:tw-flex">
                <img src="{% static './assets/images/about/tayo.jpeg' %}" alt="dashboard" class="tw-w-[200px] tw-h-full tw-object-cover" />
            </div>
            <div class="poster tw-rounded-2xl tw-overflow-hidden tw-shadow-xl tw-h-[500px] lg:tw-h-[700px] hover:tw-shadow-2xl hover:tw-scale-105 tw-hidden md:tw-flex">
                <img src="{% static './assets/images/about/santacruz.jpg' %}" alt="dashboard" class="tw-w-[300px] tw-h-full tw-object-cover" />
            </div>
        </div>
        
	</div>
</section>

<section>
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Title -->
      <h2 class="tw-items-center tw-text-center tw-text-3xl tw-font-bold md:tw-text-5xl"> Make every step user-centric </h2>
      <p class="tw-mx-auto tw-mb-8 tw-mt-4 tw-max-w-lg tw-text-center tw-text-sm tw-text-gray-500 sm:tw-text-base md:tw-mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,purus sit amet luctus magna fringilla urna </p>
      <!-- List -->
      <ul class="tw-grid tw-gap-5 sm:tw-grid-cols-2 md:tw-grid-cols-4 md:tw-gap-0">
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover tw-bg-gray-200" />
          <p class="tw-text-xl tw-font-semibold">Support</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Organise</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Flexibility</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
        <li class="tw-flex tw-flex-col tw-items-center tw-gap-6 md:tw-border-r md:tw-px-10 md:tw-py-4 tw-p-8 md:tw-border-gray-300">
          <img src="https://firebasestorage.googleapis.com/v0/b/flowspark-1f3e0.appspot.com/o/Tailspark%20Images%2FPlaceholder%20Image.svg?alt=media&token=375a1ea3-a8b6-4d63-b975-aac8d0174074" alt="" class="tw-inline-block tw-h-16 tw-w-16 tw-rounded-full tw-object-cover" />
          <p class="tw-text-xl tw-font-semibold">Speed</p>
          <p class="tw-text-center tw-text-sm tw-text-gray-500"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit. </p>
        </li>
      </ul>
    </div>
</section>








<section class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-gap-10 tw-px-10 md:tw-px-16 tw-bg-blue-700 tw-overflow-hidden">
    <div class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mt-16 tw-mb-16">
        <h3 class="tw-text-4xl md:tw-text-6xl tw-font-semibold tw-text-center tw-text-white">
            YOUR BUSINESS DESERVES MORE, <br> LET'S MAKE IT HAPPEN!
        </h3>
        <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-text-white">
            Get Started Quickly And Easily With A FREE Consultation
        </h3>
        <a class="tw-px-14 tw-py-4 tw-mt-4 tw-rounded-full tw-text-xl md:tw-text-2xl tw-font-semibold tw-text-black tw-bg-white hover:tw-scale-105 tw-transition-transform tw-duration-300 tw-mb-8"
           href="https://github.com/PaulleDemon/Django-website-template">
            LEARN MORE!
        </a>
        <div class="tw-flex tw-gap-4 tw-text-3xl">
            <a href="https://www.facebook.com/profile.php?id=61565984502377" aria-label="Facebook" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-facebook tw-text-4xl"></i>
            </a>
            <a href="https://instagram.com/dunosis.usa" aria-label="Instagram" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-instagram tw-text-4xl"></i>
            </a>
            <a href="https://wa.me/17732022074" aria-label="WhatsApp" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-whatsapp tw-text-4xl"></i>
            </a>
            <a href="https://www.linkedin.com/company/104785338/" aria-label="LinkedIn" class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                <i class="bi bi-linkedin tw-text-4xl"></i>
            </a>
        </div>
    </div>
</section>
    
{% endblock content %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js" integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css" integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <script src="{% static "./js/home.js" %}"></script>

    <script>
   // Selecciona todos los elementos con la clase 'poster'
   const elements = document.querySelectorAll('.poster');

elements.forEach(el => {
    const height = el.clientHeight;
    const width = el.clientWidth;

    el.addEventListener('mousemove', (e) => {
        const { layerX, layerY } = e;

        const yRotation = (
            (layerX - width / 2) / width
        ) * 20;

        const xRotation = (
            (layerY - height / 2) / height
        ) * 20;

        const string = `
            perspective(500px)
            scale(1.08)
            rotateX(${xRotation}deg)
            rotateY(${yRotation}deg)`;

        el.style.transform = string;
    });

    el.addEventListener('mouseout', () => {
        el.style.transform = `
        perspective(500px) 
        scale(1)
        rotateX(0)
        rotateY(0)`;
    });
});

    </script>
{% endblock scripts %}