{% load static %}
{% load static tailwind_tags %}
{% load django_browser_reload %}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'assets/logos/dunosis-logo-icon.png' %}" type="image/png">
    
    <meta name="theme-color" content="#f5f5f5">

    <title>{% block title %}{% endblock title %} {% settings_value "PROJECT_TITLE" %}</title>
    <meta name="description" 
            content="{% block description %}Where knowledge meets power - Dunosis{% endblock description %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block socialTitle %}{% endblock socialTitle %} Dunosis" />
    <meta property="og:description" 
                        content="{% block socialDescription %}Web Development, Marketing, and Consulting{% endblock socialDescription %}" />
    <meta property="og:type" content="{% block pageType %}website{% endblock pageType %}" />
    <meta property="og:url" content="{% block pageLink %}{{request.build_absolute_uri}}{% endblock pageLink %}" />
    <meta property="og:image" content="{% block pageImage %}{{ request.scheme }}://{{request.get_host}}{% static "./assets/images/home/dunosis-backdrop.png" %}{% endblock pageImage %}" />

    <!-- Twitter -->
    {% comment %} 
    `some of the meta tags specific to twitter has been dropped in favor of OG tags, Since twitter also supports OG tags as fallback
    https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
    {% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    {% comment %} <meta name="twitter:title" content="{% block twitterTitle %}Project{% endblock twitterTitle %}">
    <meta name="twitter:description" content="{% block twitterDescription %}Description Here{% endblock socialDescription %}"> {% endcomment %}
    {% comment %} <meta name="twitter:image" content="{% block pageImage %}http://www.example.com/image.jpg{% endblock pageImage %}"> {% endcomment %}
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static "./css/index.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value "ANALYTICS_TAG_ID" %}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{% settings_value "ANALYTICS_TAG_ID" %}');
    </script>

    {% block head_tags %}
    {% endblock head_tags %}

</head>

<body>
    <section>
      <div class="flex flex-col justify-center items-center h-screen">
        <div class="flex justify-between items-center w-full">
          <div class="w-full space-y-2 flex flex-col items-start">
            <div class="w-[20%] h-4 bg-[#C62A2C]"></div>
            <div class="w-[40%] h-4 bg-[#ECB731]"></div>
            <div class="w-[60%] h-4 bg-[#029A4D]"></div>
          </div>
          <div class="w-[950px] flex flex-col items-center">
            <img src="{% static 'assets/logos/dunosis-logo-bg.png' %}" alt="Dunosis Logo" class="mb-1">
            <h1 class="text-2xl max-md:text-lg max-sm:text-sm font-light text-center lowercase">
              Where Knowledge Meets Power
            </h1>
          </div>
          <div class="w-full space-y-2 flex flex-col items-end">
            <div class="w-[20%] h-4 bg-[#C62A2C]"></div>
            <div class="w-[40%] h-4 bg-[#ECB731]"></div>
            <div class="w-[60%] h-4 bg-[#029A4D]"></div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <!-- Container -->
      <div class="pt-48">
        <!-- Component -->
        <div class="relative py-16 md:py-24 lg:py-32">
          <!-- Item -->
          <div class="sticky top-0 -mt-48 mb-48 rounded-t-[46px] border-t border-black bg-white px-5 py-10 sm:px-20">
            <div class="mb-14 flex gap-8 text-2xl font-bold">
              <p>01</p>
              <p>Web Development</p>
            </div>
            <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
              <div class="max-w-2xl">
                <img src="{% static './assets/images/landing/web-dev-stock.jpg' %}" class="rounded-3xl" alt="" />
              </div>
              <div class="max-w-2xl">
                <h2 class="mb-4 text-3xl font-bold md:text-5xl">Custom Web Design and Programming</h2>
                <p class="text-sm md:text-xl text-[#636262] sm:text-base">We create the right website for you. Tailored to your business, completely customized to your requirements, exactly how you need it. </p>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="sticky top-24 -mt-24 mb-24 rounded-t-[46px] border-t border-black bg-white px-5 py-10 sm:px-20">
            <div class="mb-14 flex gap-8 text-2xl font-bold">
              <p>02</p>
              <p>Marketing</p>
            </div>
            <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
              <div class="max-w-2xl">
                <img src="{% static './assets/images/landing/marketing-stock.jpg' %}" class="rounded-3xl" alt="" />
              </div>
              <div class="max-w-2xl">
                <h2 class="mb-4 text-3xl font-bold md:text-5xl">Marketing and Sales Strategy</h2>
                <p class="text-sm md:text-xl text-[#636262] sm:text-base">Increase your business strategically! We offer social media packages including graphic design and content production, as well as custom sales strategies according to your specific goals.</p>
              </div>
            </div>
          </div>
          <!-- Item -->
          <div class="sticky top-48 rounded-t-[46px] border-t border-black bg-white px-5 py-10 sm:px-20">
            <div class="mb-14 flex gap-8 text-2xl font-bold">
              <p>03</p>
              <p>Consulting</p>
            </div>
            <div class="flex flex-col-reverse gap-8 sm:gap-20 lg:flex-row lg:items-center">
              <div class="max-w-2xl">
                <img src="{% static './assets/images/landing/consulting-stock.jpg' %}" class="rounded-3xl" alt="" />
              </div>
              <div class="max-w-2xl">
                <h2 class="mb-4 text-3xl font-bold md:text-5xl">Business and Technology Consulting</h2>
                <p class="text-sm md:text-xl text-[#636262] sm:text-base">You are not alone! Empower your business with expert consulting. We offer insights and solutions to overcome challenges and help you achieve success.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <!-- Container -->
      <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
        <!-- Title -->
        <div class="grid gap-10 lg:grid-cols-2 lg:gap-12">
          <img src="{% static './assets/images/landing/wes-and-tayo.png' %}" alt="" class="inline-block h-full w-full rounded-2xl object-cover" />
          <div class="flex flex-col gap-5 rounded-2xl border border-solid border-white justify-center text-white">
            <div class="flex flex-col p-6 rounded-2xl text-white bg-[#C62A2C]">
              <h2 class="text-3xl font-bold md:text-5xl">This is Dunosis</h2>
              <p class="text-sm font-light text-white md:text-xl mt-4">
                Dunosis was founded by two passionate innovators bridging two vibrant cities: Chicago, Illinois and Santa Cruz, Bolivia. Wesley Ordoñez brings a wealth of experience in technology and engineering, while Tayo Zabala specializes in marketing and business strategy. Together, we combine global perspectives and local expertise to deliver impactful results for businesses of all sizes. Between us, we speak four languages—English, Spanish, Portuguese, and French—allowing us to connect with clients from diverse backgrounds. We’re ready to help you achieve your goals, no matter where you are and committed to turning your ideas into powerful solutions.
              </p>
            </div>
            <div class="flex flex-col p-6 rounded-2xl text-white bg-[#68008A]">
              <h2 class="text-3xl font-bold md:text-5xl">Our Mission</h2>
              <p class="text-sm font-light text-white md:text-xl mt-4">
                We aim to empower businesses and communities through exceptional solutions while creating opportunities for talented Bolivians. By delivering expertly crafted websites, actionable data insights, and tailored tech consulting, we help our clients thrive in an increasingly digital world. We’re committed to professionalism, flexibility, and trust. At the same time, we strive to economically support Bolivian talent, provide real-world experience with American companies, and open pathways for cultural and professional exchange.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <div class="mb-10 rounded-t-[46px] border-t border-black overflow-hidden" formsappId="6789c5f8d70ec4c113bcd5c3"></div>

    {% include 'components/cta-footer.html' %} 

</body>

{% comment %} <script src="{% static "./js/base.js" %}"></script> {% endcomment %}
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    document.cookie = "user_timezone=" + timezone;
</script>
{% comment %} <script src="https://unpkg.com/quill-paste-smart@latest/dist/quill-paste-smart.js"></script> {% endcomment %}

<script src="https://forms.app/static/embed.js" type="text/javascript" async defer onload="new formsapp('6789c5f8d70ec4c113bcd5c3', 'standard', {'width':'100vw','height':'600px','opacity':0}, 'https://nn9joelt.forms.app');"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>

<script>
    const STATIC_URL = "{% settings_value 'STATIC_URL' %}" 
</script>

<script src="{% static './js/utils/elements.js' %}"></script>
<script src="{% static './js/utils/common.js' %}"></script>
<script src="{% static './js/utils/images.js' %}"></script>
<script src="{% static './js/utils/constants.js' %}"></script>

<script src="{% static './js/base.js' %}"></script>

{% block scripts %}{% endblock scripts %}

</html>