{% load static %}
{% load static tailwind_tags %}
{% load django_browser_reload %}

{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="{% static 'assets/logos/dunosis-logo.png' %}" type="image/png">
    
    <meta name="theme-color" content="#f5f5f5">

    <title>{% block title %}{% endblock title %} {% settings_value "PROJECT_TITLE" %}</title>
    <meta name="description" 
            content="{% block description %}Where knowledge meets power - Dunosis{% endblock description %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="{% block socialTitle %}{% endblock socialTitle %} Dunosis" />
    <meta property="og:description" 
                        content="{% block socialDescription %}Web Development, Marketing, and Consulting{% endblock socialDescription %}" />
    <meta property="og:type" content="{% block pageType %}website{% endblock pageType %}" />
    <meta property="og:url" content="{% block pageLink %}{{request.build_absolute_uri}}{% endblock pageLink %}" />
    <meta property="og:image" content="{% block pageImage %}{{ request.scheme }}://{{request.get_host}}{% static "./assets/images/home/dunosis-backdrop.png" %}{% endblock pageImage %}" />

    <!-- Twitter -->
    {% comment %} 
    `some of the meta tags specific to twitter has been dropped in favor of OG tags, Since twitter also supports OG tags as fallback
    https://developer.twitter.com/en/docs/twitter-for-websites/cards/guides/getting-started
    {% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    {% comment %} <meta name="twitter:title" content="{% block twitterTitle %}Project{% endblock twitterTitle %}">
    <meta name="twitter:description" content="{% block twitterDescription %}Description Here{% endblock socialDescription %}"> {% endcomment %}
    {% comment %} <meta name="twitter:image" content="{% block pageImage %}http://www.example.com/image.jpg{% endblock pageImage %}"> {% endcomment %}
    
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static "./css/index.css" %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={% settings_value "ANALYTICS_TAG_ID" %}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{% settings_value "ANALYTICS_TAG_ID" %}');
    </script>

    {% block head_tags %}
    {% endblock head_tags %}

</head>

<body>
    <section>
        <div class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-screen">
            <div class="tw-flex tw-justify-between tw-items-center tw-w-full">
                <div class="tw-w-full tw-space-y-2 tw-flex tw-flex-col tw-items-start">
                    <div class="tw-w-[20%] tw-h-4 tw-bg-red-500"></div>
                    <div class="tw-w-[40%] tw-h-4 tw-bg-yellow-500"></div>
                    <div class="tw-w-[60%] tw-h-4 tw-bg-green-500"></div>
                </div>
                <div class="tw-w-[950px] tw-flex tw-flex-col tw-items-center">
                    <img src="{% static 'assets/logos/dunosis-logo-bg.png' %}" alt="Dunosis Logo" class="tw-mb-4">
                    <h1 class="tw-text-4xl max-md:tw-text-2xl tw-font-light tw-text-center">Where Knowledge Meets Power</h1>
                </div>
                <div class="tw-w-full tw-space-y-2 tw-flex tw-flex-col tw-items-end">
                    <div class="tw-w-[20%] tw-h-4 tw-bg-red-500"></div>
                    <div class="tw-w-[40%] tw-h-4 tw-bg-yellow-500"></div>
                    <div class="tw-w-[60%] tw-h-4 tw-bg-green-500"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <!-- Container -->
        <div class="tw-pt-48">
          <!-- Component -->
          <div class="tw-relative tw-py-16 md:tw-py-24 lg:tw-py-32">
            <!-- Item -->
            <div class="tw-sticky tw-top-0 tw--mt-48 tw-mb-48 tw-rounded-t-[46px] tw-border-t tw-border-black tw-bg-white tw-px-5 tw-py-10 sm:tw-px-20">
              <div class="tw-mb-14 tw-flex tw-gap-8 tw-text-2xl tw-font-bold">
                <p>01</p>
                <p>Marketing</p>
              </div>
              <div class="tw-flex tw-flex-col-reverse tw-gap-8 sm:tw-gap-20 lg:tw-flex-row lg:tw-items-center">
                <div class="tw-max-w-2xl">
                  <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/649a9c0eb2276a1056dff848_Frame%2048379%20(1).png" alt="" />
                </div>
                <div class="tw-max-w-2xl">
                  <h2 class="tw-mb-4 tw-text-3xl tw-font-bold md:tw-text-5xl">Marketing and Sales Strategy</h2>
                  <p class="tw-text-sm tw-text-[#636262] sm:tw-text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim</p>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="tw-sticky tw-top-24 tw--mt-24 tw-mb-24 tw-rounded-t-[46px] tw-border-t tw-border-black tw-bg-white tw-px-5 tw-py-10 sm:tw-px-20">
              <div class="tw-mb-14 tw-flex tw-gap-8 tw-text-2xl tw-font-bold">
                <p>02</p>
                <p>Web Development</p>
              </div>
              <div class="tw-flex tw-flex-col-reverse tw-gap-8 sm:tw-gap-20 lg:tw-flex-row lg:tw-items-center">
                <div class="tw-max-w-2xl">
                  <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/649a9c0eb2276a1056dff848_Frame%2048379%20(1).png" alt="" />
                </div>
                <div class="tw-max-w-2xl">
                  <h2 class="tw-mb-4 tw-text-3xl tw-font-bold md:tw-text-5xl">Custom Web Development</h2>
                  <p class="tw-text-sm tw-text-[#636262] sm:tw-text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim</p>
                </div>
              </div>
            </div>
            <!-- Item -->
            <div class="tw-sticky tw-top-48 tw-rounded-t-[46px] tw-border-t tw-border-black tw-bg-white tw-px-5 tw-py-10 sm:tw-px-20">
              <div class="tw-mb-14 tw-flex tw-gap-8 tw-text-2xl tw-font-bold">
                <p>03</p>
                <p>Consulting</p>
              </div>
              <div class="tw-flex tw-flex-col-reverse tw-gap-8 sm:tw-gap-20 lg:tw-flex-row lg:tw-items-center">
                <div class="tw-max-w-2xl">
                  <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/649a9c0eb2276a1056dff848_Frame%2048379%20(1).png" alt="" />
                </div>
                <div class="tw-max-w-2xl">
                  <h2 class="tw-mb-4 tw-text-3xl tw-font-bold md:tw-text-5xl">Business Consulting for Data, Sales, and More</h2>
                  <p class="tw-text-sm tw-text-[#636262] sm:tw-text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section>
        <!-- Container -->
        <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
          <!-- Title -->
          <h2 class="tw-mb-8 tw-text-3xl tw-font-bold md:tw-text-5xl lg:tw-mb-14"> Meet Dunosis </h2>
          <p class="tw-mb-8 tw-max-w-lg tw-text-sm tw-text-gray-500 sm:tw-text-base lg:tw-mb-24"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. </p>
          <div class="tw-grid tw-gap-10 lg:tw-grid-cols-2 lg:tw-gap-12">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64b7a30c42421ae3cbe5abb9_about%20image.svg" alt="" class="tw-inline-block tw-h-full tw-w-full tw-rounded-2xl tw-object-cover" />
            <div class="tw-flex tw-flex-col tw-gap-5 tw-rounded-2xl tw-border tw-border-solid tw-border-black tw-p-10 sm:tw-p-20">
              <h2 class="tw-text-3xl tw-font-bold md:tw-text-5xl">Our Mission</h2>
              <p class="tw-text-sm tw-text-gray-500 sm:tw-text-base"> Aliquet risus feugiat in ante metus. Arcu dui vivamus arcu felis bibendum ut. Vestibulum lorem sed risus ultricies tristique nulla. Vitae et leo duis ut diam quam. Bibendum arcu vitae elementum curabitur vitae nunc. Dictumst vestibulum rhoncus est pellentesque. Lectus proin nibh nisl condimentum id. Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus.
                <br />
                <br /> Massa id neque aliquam vestibulum morbi blandit. Nulla pellentesque dignissim enim sit amet venenatis.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-gap-10 tw-px-10 md:tw-px-16 tw-bg-blue-700 tw-overflow-hidden">
        <div class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mt-16 tw-mb-16">
            <h3 class="tw-uppercase tw-text-4xl md:tw-text-6xl tw-font-semibold tw-text-center tw-text-white">
                your business deserves more, 
                <br />
                let's make it happen!
            </h3>
            <h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-text-white">
                Get Started Quickly And Easily With A FREE Consultation
            </h3>
            <a
                class="tw-uppercase tw-px-14 tw-py-4 tw-mt-4 tw-rounded-full tw-text-xl md:tw-text-2xl tw-font-semibold tw-text-black tw-bg-white hover:tw-scale-105 tw-transition-transform tw-duration-300 tw-mb-8"
                href="https://github.com/PaulleDemon/Django-website-template">
                learn more!
            </a>
            <div class="tw-flex tw-gap-4 tw-text-3xl">
                <a
                    href="https://www.facebook.com/profile.php?id=61565984502377"
                    aria-label="Facebook"
                    class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                    <i class="bi bi-facebook tw-text-4xl"></i>
                </a>
                <a
                    href="https://instagram.com/dunosis.usa"
                    aria-label="Instagram"
                    class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                    <i class="bi bi-instagram tw-text-4xl"></i>
                </a>
                <a
                    href="https://wa.me/17732022074"
                    aria-label="WhatsApp"
                    class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                    <i class="bi bi-whatsapp tw-text-4xl"></i>
                </a>
                <a
                    href="https://www.linkedin.com/company/104785338/"
                    aria-label="LinkedIn"
                    class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700">
                    <i class="bi bi-linkedin tw-text-4xl"></i>
                </a>
            </div>
        </div>
    </section>

</body>

{% comment %} <script src="{% static "./js/base.js" %}"></script> {% endcomment %}
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    document.cookie = "user_timezone=" + timezone;
</script>
{% comment %} <script src="https://unpkg.com/quill-paste-smart@latest/dist/quill-paste-smart.js"></script> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/browser-image-compression@2.0.1/dist/browser-image-compression.js"></script>

<script>
    const STATIC_URL = "{% settings_value 'STATIC_URL' %}" 
</script>

<script src="{% static './js/utils/elements.js' %}"></script>
<script src="{% static './js/utils/common.js' %}"></script>
<script src="{% static './js/utils/images.js' %}"></script>
<script src="{% static './js/utils/constants.js' %}"></script>

<script src="{% static './js/base.js' %}"></script>

{% block scripts %}{% endblock scripts %}

</html>