{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio Overview{% endblock title %}
{% block description %}Description of Portfolio Overview{% endblock description %}
{% load custom_tags %}
{%block content %}


<!-- Contenedor de la barra de colores -->
<div class="tw-absolute tw-h-[1545px] tw-w-4 tw-left-0 tw-top-0">
    <div class="tw-flex tw-h-full tw-flex-col">
        <!-- Línea roja -->
        <div class="tw-bg-red-700 tw-w-full tw-flex-1"></div>
        <!-- Línea amarilla -->
        <div class="tw-bg-yellow-200 tw-w-full tw-flex-1"></div>
        <!-- Línea verde -->
        <div class="tw-bg-green-700 tw-w-full tw-flex-1"></div>
    </div>
</div>
<!-- Contenido principal -->
<div class="tw-flex tw-flex-col tw-p-10 md:tw-max-w-[1440px] tw-mx-auto tw-relative tw-min-h-screen">


    <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 xl:tw-grid-cols-3 tw-gap-4">
        <div class="tw-grid tw-gap-4">
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
                    alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1540553016722-983e48a2cd10?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80"
                    alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://docs.material-tailwind.com/img/team-3.jpg" alt="gallery-photo" />
            </div>
        </div>
        <div class="tw-grid tw-gap-4">
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1432462770865-65b70566d673?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1950&amp;q=80"
                    alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1629367494173-c78a56567877?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=927&amp;q=80"
                    alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2940&amp;q=80"
                    alt="gallery-photo" />
            </div>
        </div>
       
        <div class="tw-grid tw-gap-4">
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=2940&amp;q=80"
                    alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://docs.material-tailwind.com/img/team-3.jpg" alt="gallery-photo" />
            </div>
            <div>
                <img class="tw-h-auto tw-max-w-full tw-rounded-lg tw-object-cover tw-object-center"
                    src="https://images.unsplash.com/photo-1552960562-daf630e9278b?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=687&amp;q=80"
                    alt="gallery-photo" />
            </div>
        </div>

    </div>

</div>




<!-- Incluir el social footer -->
{% include 'components/pages/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/portfolio-details.js' %}"></script>

{% endblock scripts %}