{% extends 'base.html' %}
{% load static %}
{% block title %}Portfolio Overview{% endblock title %}
{% block description %}Description of Portfolio Overview{% endblock description %}
{% load custom_tags %}
{%block content %}


<!-- Contenido principal -->
<div class="tw-flex tw-flex-col tw-p-10 md:tw-max-w-[1440px] tw-mx-auto tw-relative tw-min-h-screen tw-gap-4">
    <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-items-center">
        <!-- Card principal -->
        <div class="tw-relative tw-w-full md:tw-w-[50%] tw-group">
            <img class="tw-h-full tw-w-full tw-max-w-full tw-rounded-2xl tw-object-cover"
                src="{% static './assets/images/portfolio/v-001.png' %}" alt="gallery-photo" />
            <!-- Degradado en hover -->
            <a href=""
                class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-center tw-text-start">
                    <div class="tw-flex tw-flex-col">
                        <h2 class="tw-text-xl tw-font-bold tw-text-white">
                            Generation Of Wealth
                        </h2>
                        <p class="tw-text-white tw-mt-2">Marketing</p>
                    </div>
                    <div
                        class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                        <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                            aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
        <!-- Cards secundarios -->
        <div class="tw-flex tw-flex-col tw-gap-4 tw-w-full md:tw-w-[50%]">
            <!-- Card top -->
            <div class="tw-relative tw-flex tw-group">
                <img class="tw-h-auto tw-max-w-full tw-rounded-2xl tw-object-cover"
                    src="{% static './assets/images/portfolio/h-001.png' %}" alt="gallery-photo" />
                <!-- Degradado en hover -->
                <a href=""
                    class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                    <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-end tw-text-start">
                        <div class="tw-flex tw-flex-col">
                            <h2 class="tw-text-xl tw-font-bold tw-text-white">
                                Generation Of Wealth
                            </h2>
                            <p class="tw-text-white tw-mt-2">Marketing</p>
                        </div>
                        <div
                            class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                            <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card end -->
            <div class="tw-relative tw-flex tw-group">
                <img class="tw-h-auto tw-max-w-full tw-rounded-2xl tw-object-cover"
                    src="{% static './assets/images/portfolio/h-001.png' %}" alt="gallery-photo" />
                <!-- Degradado en hover -->
                <a href=""
                    class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                    <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-end tw-text-start">
                        <div class="tw-flex tw-flex-col">
                            <h2 class="tw-text-xl tw-font-bold tw-text-white">
                                Generation Of Wealth
                            </h2>
                            <p class="tw-text-white tw-mt-2">Marketing</p>
                        </div>
                        <div
                            class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                            <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>



    <div class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-items-center">
       
        <!-- Cards secundarios -->
        <div class="tw-flex tw-flex-col tw-gap-4 tw-w-full md:tw-w-[50%]">
            <!-- Card top -->
            <div class="tw-relative tw-flex tw-group">
                <img class="tw-h-auto tw-max-w-full tw-rounded-2xl tw-object-cover"
                    src="{% static './assets/images/portfolio/h-001.png' %}" alt="gallery-photo" />
                <!-- Degradado en hover -->
                <a href=""
                    class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                    <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-end tw-text-start">
                        <div class="tw-flex tw-flex-col">
                            <h2 class="tw-text-xl tw-font-bold tw-text-white">
                                Generation Of Wealth
                            </h2>
                            <p class="tw-text-white tw-mt-2">Marketing</p>
                        </div>
                        <div
                            class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                            <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Card end -->
            <div class="tw-relative tw-flex tw-group">
                <img class="tw-h-auto tw-max-w-full tw-rounded-2xl tw-object-cover"
                    src="{% static './assets/images/portfolio/h-001.png' %}" alt="gallery-photo" />
                <!-- Degradado en hover -->
                <a href=""
                    class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-end tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                    <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-end tw-text-start">
                        <div class="tw-flex tw-flex-col">
                            <h2 class="tw-text-xl tw-font-bold tw-text-white">
                                Generation Of Wealth
                            </h2>
                            <p class="tw-text-white tw-mt-2">Marketing</p>
                        </div>
                        <div
                            class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                            <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                                aria-hidden="true"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>

         <!-- Card principal -->
         <div class="tw-relative tw-w-full md:tw-w-[50%] tw-group">
            <img class="tw-h-full tw-w-full tw-max-w-full tw-rounded-2xl tw-object-cover"
                src="{% static './assets/images/portfolio/v-001.png' %}" alt="gallery-photo" />
            <!-- Degradado en hover -->
            <a href=""
                class="tw-absolute tw-h-full tw-w-full tw-flex tw-items-center tw-justify-center tw-bg-gradient-to-t tw-from-black/70 tw-to-transparent tw-rounded-2xl  -tw-bottom-0 group-hover:tw-bottom-0 tw-opacity-0 group-hover:tw-opacity-100 tw-transition-all tw-duration-300">
                <div class="tw-flex tw-gap-4 tw-w-full tw-p-10 tw-justify-between tw-items-center tw-text-start">
                    <div class="tw-flex tw-flex-col">
                        <h2 class="tw-text-xl tw-font-bold tw-text-white">
                            Generation Of Wealth
                        </h2>
                        <p class="tw-text-white tw-mt-2">Marketing</p>
                    </div>
                    <div
                        class="tw-rounded-full tw-h-10 tw-w-10 tw-items-center tw-bg-white tw-text-black tw-border-2 hover:tw-scale-110">
                        <i class="tw-flex bi bi-arrow-up-right tw-h-full tw-text-xl tw-font-extralight tw-justify-center tw-items-center"
                            aria-hidden="true"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>





<!-- Incluir el social footer -->
{% include 'components/pages/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{% endblock scripts %}