{% extends 'base.html' %}
{% load static %}
{% block title %}Service Details{% endblock title %}
{% block description %}Description of Service Details{% endblock description %} {% load custom_tags %}
{%block content %}


<div class="tw-flex tw-flex-col tw-w-full">

    <!-- multimedia -->
    <div class="tw-bg-gray-500 tw-w-full tw-h-[700px]"></div>
    <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-my-8 tw-pt-8 tw-text-center tw-justify-center">World Class
        Services By World
        Class Talent</h1>

    <div class="tw-flex tw-flex-col tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-gap-6">
        <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-h-[250px] tw-gap-6">
            <!-- Marketing & estrategy -->
            <div
                class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[70%]">
                <div class="contenido tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                    <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                        <h3 class="tw-text-xl tw-font-bold">Marketing & Strategy</h3>
                        <p class="tw-text-sm tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The Entire Customer Journey. Our Team Has A Successful
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">01</span>
                        </div>
                    </div>
                </div>
                <div class="image-container tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
                    <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>

            <!-- social media -->
            <div
                class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[30%]">
                <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
                    <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                        <h3 class="tw-text-xl tw-font-bold">Social Media</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">02</span>
                        </div>
                    </div>
                </div>
                <div class="image-container tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
                    <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}" alt="Social Media"
                            class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>
        </div>
        <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-h-[250px] tw-gap-6">

            <!-- Content Production -->
            <div
                class="card1 tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[30%]">
                <div class="contenido1 tw-w-full tw-order-2 md:tw-order-1">
                    <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                        <h3 class="tw-text-xl tw-font-bold">Content Production</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">03</span>
                        </div>
                    </div>
                </div>
                <div class="image-container1 tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
                    <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}" alt="Social Media"
                            class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>

            <!-- Website Development -->
            <div
                class="card1 tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300 md:tw-w-[70%]">
                <div class="contenido1 tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                    <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                        <h3 class="tw-text-xl tw-font-bold">Website Development</h3>
                        <p class="tw-text-sm tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The Entire Customer Journey. Our Team Has A Successful
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">04</span>
                        </div>
                    </div>
                </div>
                <div class="image-container1 tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
                    <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>
        </div>


        <div
            class="tw-flex tw-flex-col md:tw-flex-row tw-bg-green-500 tw-py-10 tw-px-10 tw-mt-8 tw-rounded-lg tw-text-white tw-justify-center tw-items-center tw-w-full tw-gap-4 tw-min-w-[350px] tw-max-w-[900px] md:tw-min-w-[740px] md:tw-max-w-[1440px]">
            <div class="tw-flex">
                <!-- Circle Avatar 1 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md">
                    <img src="{% static './assets/images/services/details/avatar1.jpg' %}" alt="Avatar 1"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
                <!-- Circle Avatar 2 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
                    <img src="{% static './assets/images/services/details/avatar2.jpg' %}" alt="Avatar 2"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
                <!-- Circle Avatar 3 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
                    <img src="{% static './assets/images/services/details/avatar3.jpg' %}" alt="Avatar 3"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
            </div>

            <h2 class="tw-flex tw-text-2xl tw-font-semibold">1.5 K Happy Clients</h2>
            <div class="tw-flex tw-items-center tw-gap-2 tw-group lg:tw-ml-8">
                <a href="https://github.com/PaulleDemon/Django-website-template"
                    class="tw-flex tw-h-14 tw-bg-green-800 tw-text-sm tw-text-white tw-uppercase tw-rounded-full tw-items-center tw-gap-2 tw-px-6 group-hover:tw-bg-green-900 group-hover:tw-text-white">
                    view all services
                </a>
                <a href="https://github.com/PaulleDemon/Django-website-template"
                    class="tw-rounded-full tw-h-14 tw-w-14 tw-flex tw-items-center tw-justify-center tw-bg-green-800 tw-text-white group-hover:tw-bg-green-900 group-hover:tw-text-white">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4">
        <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-pt-8 tw-text-center">Top Tier Quality at Affordable Prices
        </h1>
        <h2 class="tw-text-3xl md:tw-text-2xl tw-mt-4 tw-text-center">Choose the plan that best fits your business
            needs.
        </h2>
    </div>

    <!-- Marketing an Social MediaServices -->
    <div class="tw-w-full tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-items-start">
        <h1 class="tw-text-3xl md:tw-text-5xl tw-font-bold tw-pt-8 tw-text-start tw-justify-start tw-mb-4">Marketing and
            Social
            MediaServices</h1>
        <!-- Líneas separadas verticalmente -->
        <div class="tw-absolute tw-left-0 tw-w-full">
            <div class="tw-absolute tw-bg-red-600 tw-h-[10px] tw-w-[42%] tw-left-0 tw-top-0"></div>
            <div class="tw-absolute tw-bg-yellow-300 tw-h-[10px] tw-w-[60%] tw-left-0 tw-top-[20px]"></div>
            <div class="tw-absolute tw-bg-green-600 tw-h-[10px] tw-w-[80%] tw-left-0 tw-top-[40px]"></div>
        </div>
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-mt-28 tw-gap-8">
            <!-- card basic -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Basic</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$350</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card intermediate -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Intermediate</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$450</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card pro -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Pro</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$900</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>


    </div>
    <!-- Web development Services -->
    <div class="tw-w-full tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-items-start">
        <h1 class="tw-text-3xl md:tw-text-5xl tw-font-bold tw-pt-8 tw-text-start tw-justify-start tw-mb-4">Web
            development Services</h1>
        <!-- Líneas separadas verticalmente -->
        <div class="tw-absolute tw-left-0 tw-w-full">
            <div class="tw-absolute tw-bg-red-600 tw-h-[10px] tw-w-[42%] tw-left-0 tw-top-0"></div>
            <div class="tw-absolute tw-bg-yellow-300 tw-h-[10px] tw-w-[60%] tw-left-0 tw-top-[20px]"></div>
            <div class="tw-absolute tw-bg-green-600 tw-h-[10px] tw-w-[80%] tw-left-0 tw-top-[40px]"></div>
        </div>
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-mt-28 tw-gap-8">
            <!-- card basic -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Basic</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$350</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card intermediate -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Intermediate</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$450</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card pro -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Pro</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$900</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>


    </div>
    <div class="tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4">
        <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-pt-8 tw-text-center tw-uppercase">save up to 50% with one
            time payments
        </h1>
        <h2 class="tw-text-3xl md:tw-text-2xl tw-mt-4 tw-text-center tw-uppercase tw-font-light">and event more savings
            when you combine website and marketing packages
        </h2>
    </div>

    <div
        class="tw-flex tw-flex-col md:tw-flex-row tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-justify-between tw-items-center">
        <div class="tw-flex-col md:tw-w-[50%]">
            <h1 class="tw-font-bold tw-text-4xl tw-mb-4">Needing a more budget friendly solution?</h1>
            <p class="tw-text-xl">Our Lite Package will still get you custom code and a functional website just with
                less features.</p>
            <button
                class="tw-uppercase tw-border-4 hover:tw-border-black tw-rounded-2xl tw-py-2 tw-px-8 tw-my-8 tw-font-bold tw-bg-black tw-text-white hover:tw-bg-white hover:tw-text-black">
                learn more!
            </button>
        </div>
        <div class="tw-flex md:tw-w-[50%] lg:tw-w-[30%]">
            <!-- card lite -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">lite</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$100</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>
    </div>

</div>
<!-- Incluir el social footer -->
{% include 'components/pages/cta-footer.html' %}
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
    // Selecciona todas las tarjetas
    const cards = document.querySelectorAll('.card');
    const contenidos = document.querySelectorAll('.contenido');
    const cards1 = document.querySelectorAll('.card1');
    const contenidos1 = document.querySelectorAll('.contenido1');

    // Añade eventos a cada tarjeta
    cards.forEach((card) => {
        card.addEventListener('mouseenter', () => {
            // Quita el hover de otras tarjetas
            cards.forEach((otherCard) => {
                if (otherCard !== card) {
                    otherCard.classList.remove('md:tw-w-[70%]');
                    otherCard.classList.add('md:tw-w-[30%]');
                    otherCard.querySelector('.image-container').classList.remove('md:tw-block');
                    otherCard.querySelector('.image-container').classList.remove('md:tw-w-[50%]');
                    otherCard.querySelector('.image-container').classList.add('md:tw-hidden');
                }
            });

            // Cambia la tarjeta actual
            card.classList.remove('md:tw-w-[30%]');
            card.classList.add('md:tw-w-[70%]');
            card.querySelector('.image-container').classList.remove('md:tw-hidden');
            otherCard.querySelector('.image-container').classList.add('md:tw-w-[50%]');
        });
    });

    contenidos.forEach((contenido) => {
        contenido.addEventListener('mouseenter', () => {
            // Quita el hover de otras tarjetas
            contenidos.forEach((otherContenidos) => {
                if (otherContenidos !== contenido) {
                    otherContenidos.classList.remove('md:tw-w-[50%]');
                }
            });

            // Cambia la tarjeta actual
            otherContenidos.classList.add('md:tw-w-[50%]');
        });
    });

    // Añade eventos a cada tarjeta
    cards1.forEach((card1) => {
        card1.addEventListener('mouseenter', () => {
            // Quita el hover de otras tarjetas
            cards1.forEach((otherCard1) => {
                if (otherCard1 !== card1) {
                    otherCard1.classList.remove('md:tw-w-[70%]');
                    otherCard1.classList.add('md:tw-w-[30%]');
                    otherCard1.querySelector('.image-container1').classList.remove('md:tw-block');
                    otherCard1.querySelector('.image-container1').classList.remove('md:tw-w-[50%]');
                    otherCard1.querySelector('.image-container1').classList.add('md:tw-hidden');
                }
            });

            // Cambia la tarjeta actual
            card1.classList.remove('md:tw-w-[30%]');
            card1.classList.add('md:tw-w-[70%]');
            card1.querySelector('.image-container1').classList.remove('md:tw-hidden');
            otherCard1.querySelector('.image-container1').classList.add('md:tw-w-[50%]');
        });
    });

    contenidos1.forEach((contenido1) => {
        contenido1.addEventListener('mouseenter', () => {
            // Quita el hover de otras tarjetas
            contenidos1.forEach((otherContenidos1) => {
                if (otherContenidos1 !== contenido1) {
                    otherContenidos1.classList.remove('md:tw-w-[50%]');
                }
            });

            // Cambia la tarjeta actual
            otherContenidos1.classList.add('md:tw-w-[50%]');
        });
    });
</script>

{% endblock scripts %}