{% extends 'base.html' %}
{% load static %}
{% block title %}Service Details{% endblock title %}
{% block description %}Description of Service Details{% endblock description %} {% load custom_tags %}
{%block content %}


<div class="tw-flex tw-flex-col tw-w-full tw-justify-center tw-items-center">
    <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-my-8 tw-pt-8 tw-text-center">World Class Services By World
        Class Talent</h1>

    <div class="tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4">
        <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-6">
            <!-- Marketing & Strategy -->
            <div
                class="tw-relative tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-col-span-2 tw-flex tw-transition-all tw-duration-300">
                <div class="tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                    <div
                        class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-w-full tw-p-5 tw-gap-2 tw-order-2 md:tw-order-1">
                        <h3 class="tw-text-xl tw-font-bold">Marketing & Strategy</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The
                            Entire Customer Journey. Our Team Has A Successful
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">01</span>
                        </div>

                    </div>

                </div>
                <!-- Card Image (Not working)-->
                <div class="tw-flex tw-w-full md:tw-w-[50%] tw-order-1 md:tw-order-2">
                    <div class=" tw-right-0 tw-top-0 tw-w-full tw-h-[200px] md:tw-h-full group-hover:tw-flex">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>

            <!-- Social Media -->
            <div
                class="tw-relative tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-col-span-1 tw-flex tw-transition-all tw-duration-300">
                <div class="tw-w-full tw-order-2 md:tw-order-1">
                    <div
                        class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-w-full tw-p-5 tw-gap-2 tw-order-2 md:tw-order-1">
                        <h3 class="tw-text-xl tw-font-bold">Social Media</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across The
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">02</span>
                        </div>

                    </div>

                </div>
                <!-- Card Image (Not working)-->
                <div class="tw-flex tw-w-full md:tw-w-[50%] tw-hidden tw-order-1 md:tw-order-2">
                    <div class=" tw-right-0 tw-top-0 tw-w-full tw-h-full group-hover:tw-flex">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>

            <!-- Content Production -->
            <div
                class="tw-relative tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-col-span-1 tw-flex tw-transition-all tw-duration-300">
                <div class="tw-w-full tw-order-2 md:tw-order-1">
                    <div class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-w-full tw-p-5 tw-gap-2">
                        <h3 class="tw-text-xl tw-font-bold">Content Production</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across The
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">03</span>
                        </div>

                    </div>

                </div>
                <!-- Card Image (Not working)-->
                <div class="tw-flex tw-w-full md:tw-w-[50%] tw-hidden tw-order-1 md:tw-order-2">
                    <div class=" tw-right-0 tw-top-0 tw-w-full tw-h-full group-hover:tw-flex">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>

            <!-- Website Development -->
            <div
                class="tw-relative tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-col-span-2 tw-flex tw-transition-all tw-duration-300">
                <div class="tw-w-full md:tw-w-[50%] tw-order-2 md:tw-order-1">
                    <div
                        class="tw-flex tw-flex-col tw-h-full tw-w-full md:tw-w-full tw-p-5 tw-gap-2 tw-order-2 md:tw-order-1">
                        <h3 class="tw-text-xl tw-font-bold">Website Development</h3>
                        <p class="tw-text-sm tw-text-gray-700 tw-mt-2">
                            In Order To Scale New Customer Acquisition And Retention For E-Commerce Brands, We Work
                            Across
                            The
                            Entire Customer Journey. Our Team Has A Successful
                        </p>
                        <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                            <button
                                class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                            <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20"
                                style="color: white; -webkit-text-stroke: 2px green;">04</span>
                        </div>

                    </div>

                </div>
                <!-- Card Image (Not working)-->
                <div class="tw-flex tw-w-full md:tw-w-[50%] tw-order-1 md:tw-order-2">
                    <div class=" tw-right-0 tw-top-0 tw-w-full tw-h-[200px] md:tw-h-full group-hover:tw-flex">
                        <img src="{% static './assets/images/services/details/marketing.jpg' %}"
                            alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
                    </div>
                </div>
            </div>
        </div>


        <div
            class="tw-flex tw-flex-col md:tw-flex-row tw-bg-green-500 tw-py-10 tw-px-10 tw-mt-8 tw-rounded-lg tw-text-white tw-justify-center tw-items-center tw-w-full tw-gap-4 tw-min-w-[350px] tw-max-w-[900px] md:tw-min-w-[740px] md:tw-max-w-[1440px]">
            <div class="tw-flex">
                <!-- Circle Avatar 1 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md">
                    <img src="{% static './assets/images/services/details/avatar1.jpg' %}" alt="Avatar 1"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
                <!-- Circle Avatar 2 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
                    <img src="{% static './assets/images/services/details/avatar2.jpg' %}" alt="Avatar 2"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
                <!-- Circle Avatar 3 -->
                <div
                    class="tw-w-16 tw-h-16 tw-rounded-full tw-overflow-hidden tw-border-2 tw-border-white tw-shadow-md tw--ml-4">
                    <img src="{% static './assets/images/services/details/avatar3.jpg' %}" alt="Avatar 3"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
            </div>

            <h2 class="tw-flex tw-text-2xl tw-font-semibold">1.5 K Happy Clients</h2>
            <div class="tw-flex tw-items-center tw-gap-2 tw-group lg:tw-ml-8">
                <a href="https://github.com/PaulleDemon/Django-website-template"
                    class="tw-flex tw-h-14 tw-bg-green-800 tw-text-sm tw-text-white tw-uppercase tw-rounded-full tw-items-center tw-gap-2 tw-px-6 group-hover:tw-bg-green-900 group-hover:tw-text-white">
                    view all services
                </a>
                <a href="https://github.com/PaulleDemon/Django-website-template"
                    class="tw-rounded-full tw-h-14 tw-w-14 tw-flex tw-items-center tw-justify-center tw-bg-green-800 tw-text-white group-hover:tw-bg-green-900 group-hover:tw-text-white">
                    <i class="bi bi-arrow-up-right"></i>
                </a>
            </div>
        </div>
    </div>

    <!-- Incluir el social footer -->
    {% include 'components/pages/cta-footer.html' %}
    {% endblock content %}
    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
        integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
        integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>
        document.querySelectorAll(".toggle-container").forEach(container => {
            container.addEventListener("click", function () {
                const toggleId = container.getAttribute("data-toggle");
                const whiteContent = document.getElementById(`white-content-${toggleId}`);
                const greenContent = document.getElementById(`green-content-${toggleId}`);

                // Alternar visibilidad entre contenido blanco y verde
                whiteContent.classList.toggle("tw-hidden");
                greenContent.classList.toggle("tw-hidden");
            });
        });
    </script>

    {% endblock scripts %}