{% extends 'base.html' %}
{% load static %}
{% block title %}Service Details{% endblock title %}
{% block description %}Description of Service Details{% endblock description %} 
{% load custom_tags %}
{%block content %}

<!-- Service Overview Hero Section -->
<section>
    <!-- Container -->
    <div class="tw-mx-auto tw-w-full tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Title -->
      <h2 class="tw-items-center tw-text-center tw-text-3xl tw-font-bold md:tw-text-4xl"> Technology, Strategy & Growth—All in One Place </h2>
      <p class="tw-mx-auto tw-mb-2 tw-mt-4 tw-max-w-lg tw-text-center tw-text-2xl tw-text-gray-500 sm:tw-text-base md:tw-mb-12"> Click on any service to see how we can help your business thrive. </p>
      <!-- List -->
      <div class="tw-flex tw-flex-col tw-max-w-7xl tw-mx-auto tw-py-2 tw-px-4 tw-gap-6">
        <div class="card-row tw-flex tw-flex-col md:tw-flex-row md:tw-max-h-[450px] tw-gap-6">
  
          <!-- Web Development -->
          <div class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300">
            <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
              <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                <h3 class="tw-text-2xl tw-font-bold">Web Development</h3>
                <p class="tw-text-md tw-font-light tw-text-gray-700 tw-mt-2">
                  Modern, high-performance websites built to impress and convert. We craft sleek, responsive, and user-friendly sites tailored to your business needs.
                </p>
                <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                  <button class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </button>
                  <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20" style="color: white; -webkit-text-stroke: 2px green;">01</span>
                </div>
              </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
              <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                <img src="{% static './assets/images/home/du-webdev-stock.jpg' %}" alt="Web Development" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
              </div>
            </div>
          </div>
  
          <!-- Social Media -->
          <div class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300">
            <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
              <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                <h3 class="tw-text-2xl tw-font-bold">Social Media</h3>
                <p class="tw-text-md tw-font-light tw-text-gray-700 tw-mt-2">
                  Stand out with compelling content. We create, manage, and optimize your online presence to keep your audience engaged.
                </p>
                <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                  <button class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </button>
                  <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20" style="color: white; -webkit-text-stroke: 2px green;">02</span>
                </div>
              </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
              <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                <img src="{% static './assets/images/home/du-socialmedia-stock.jpg' %}" alt="Social Media" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
              </div>
            </div>
          </div>
        </div>
  
        <!-- Row 2 -->
        <div class="card-row tw-flex tw-flex-col md:tw-flex-row md:tw-max-h-[450px] tw-gap-6">
  
          <!-- Marketing & Strategy -->
          <div class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300">
            <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
              <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                <h3 class="tw-text-2xl tw-font-bold">Marketing & Strategy</h3>
                <p class="tw-text-md tw-font-light tw-text-gray-700 tw-mt-2">
                  Smart strategies that drive real results. From brand positioning to targeted campaigns, we help you attract, engage, and convert your ideal customers.
                </p>
                <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                  <button class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </button>
                  <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20" style="color: white; -webkit-text-stroke: 2px green;">03</span>
                </div>
              </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-hidden tw-order-1 md:tw-order-2">
              <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                <img src="{% static './assets/images/home/du-marketing-stock.jpg' %}" alt="Marketing & Strategy" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
              </div>
            </div>
          </div>
  
          <!-- Consulting -->
          <div class="card tw-flex-col md:tw-flex-row tw-bg-white tw-rounded-2xl tw-shadow-md tw-border-2 hover:tw-border-green-500 tw-flex tw-transition-all tw-duration-300">
            <div class="contenido tw-w-full tw-order-2 md:tw-order-1">
              <div class="tw-flex tw-flex-col tw-h-full tw-w-full tw-p-5 tw-gap-2">
                <h3 class="tw-text-2xl tw-font-bold">Consulting</h3>
                <p class="tw-text-md tw-font-light tw-text-gray-700 tw-mt-2">
                  Expert insights to navigate the digital world. We provide tailored solutions in strategy, tech, and business growth to set you up for success.
                </p>
                <div class="tw-mt-auto tw-flex tw-w-full tw-justify-between tw-items-center">
                  <button class="tw-w-8 tw-text-green-500 tw-text-lg tw-rounded-full tw-border-2 tw-border-green-500 hover:tw-bg-green-500 hover:tw-text-white tw-transition-colors tw-duration-300">
                    <i class="bi bi-arrow-right"></i>
                  </button>
                  <span class="tw-text-5xl tw-font-bold tw-right-4 tw-opacity-20" style="color: white; -webkit-text-stroke: 2px green;">04</span>
                </div>
              </div>
            </div>
            <div class="image-container tw-w-full md:tw-w-[50%] md:tw-block tw-order-1 md:tw-order-2">
              <div class="tw-right-0 tw-top-0 tw-w-full md:tw-h-full">
                <img src="{% static './assets/images/home/du-consulting-stock.jpg' %}" alt="Consulting" class="tw-w-full tw-h-full tw-object-cover tw-rounded-2xl">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
  
<!-- Pricing Section -->
 <section id="webdev-pricing">
 
    <!-- Container -->
    <div class="tw-mx-auto tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
        <!-- Heading Container -->
        <div class="tw-mx-auto tw-mb-8 tw-max-w-3xl tw-text-center md:tw-mb-12">
            <!-- Heading -->
            <h2 class="tw-text-3xl tw-font-bold md:tw-text-5xl"> Custom Websites, Clear Pricing </h2>
            <!-- Subheading -->
            <p class="tw-mx-auto tw-mt-4 tw-max-w-xl tw-text-sm tw-text-gray-500 md:tw-text-base"> Your website is an investment—let’s make it one that pays off. Choose from our dynamic pricing plans, crafted to fit your specific business needs. Experience value, results, and a satisfying return on investment. </p>
        </div>
        <!-- Select Price Type -->
        <div class="tw-relative tw-mx-auto tw-mb-8 tw-flex tw-w-fit tw-cursor-pointer tw-rounded-xl tw-bg-gray-100 md:tw-mb-12">
            <div class="tw-relative tw-z-10 tw-px-10 tw-py-4 option" data-type="one-time">
                <p class="tw-text-sm tw-font-semibold sm:tw-text-base"> One-Time </p>
            </div>
            <div class="tw-relative tw-z-10 tw-px-10 tw-py-4 option" data-type="monthly">
                <p class="tw-text-sm tw-font-semibold sm:tw-text-base"> Monthly </p>
            </div>
            <div class="tw-absolute tw-left-2 tw-top-[6px] tw-z-0 tw-h-4/5 tw-w-[45%] tw-rounded-md tw-bg-black tw-transition-all tw-duration-300 slider"></div>
        </div>
        <!-- Prices Container -->
        <div class="tw-grid tw-grid-cols-1 tw-gap-8 sm:tw-grid-cols-2 md:tw-grid-cols-4 md:tw-gap-4">
            <!-- Price 1 -->
            <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-2xl tw-border tw-border-gray-300 tw-bg-white tw-shadow-xl tw-px-8 tw-py-14 price" data-one-time="$500" data-monthly="$100">
                <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
                    <p class="tw-text-3xl tw-font-bold sm:tw-text-2xl md:tw-text-3xl"> Lite </p>
                    <p class="tw-text-xl tw-text-gray-500">Starting at:</p>
                    <h2 class="tw-flex tw-items-center tw-text-4xl tw-font-bold md:tw-text-5xl"> <span class="price-amount"> $500</span><span class="tw-text-sm tw-text-gray-500 price-period">/MO</span>
                    </h2>
                </div>
                <a href="#" class="tw-mb-4 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white hover:tw-bg-white hover:tw-text-black hover:tw-border-2 hover:tw-border-black tw-transition-colors tw-duration-300"> Learn more! </a>
            </div>
            <!-- Price 2 -->
            <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-2xl tw-border tw-border-gray-300 tw-bg-white tw-shadow-xl tw-px-8 tw-py-14 price" data-one-time="$1500" data-monthly="$250">
                <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
                    <p class="tw-text-3xl tw-font-bold sm:tw-text-2xl md:tw-text-3xl"> Basic </p>
                    <p class="tw-text-xl tw-text-gray-500">Starting at:</p>
                    <h2 class="tw-flex tw-items-center tw-text-4xl tw-font-bold md:tw-text-5xl"> <span class="price-amount"> $1500</span><span class="tw-text-sm tw-text-gray-500 price-period">/MO</span>
                    </h2>
                </div>
                <a href="#" class="tw-mb-4 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white hover:tw-bg-white hover:tw-text-black hover:tw-border-2 hover:tw-border-black tw-transition-colors tw-duration-300"> Learn more! </a>
            </div>
            <!-- Price 3 -->
            <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-2xl tw-border tw-border-gray-300 tw-bg-white tw-shadow-xl tw-px-8 tw-py-14 price" data-one-time="$2200" data-monthly="$350">
                <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
                    <p class="tw-text-3xl tw-font-bold sm:tw-text-2xl md:tw-text-3xl"> Mid </p>
                    <p class="tw-text-xl tw-text-gray-500">Starting at:</p>
                    <h2 class="tw-flex tw-items-center tw-text-4xl tw-font-bold md:tw-text-5xl"><span class="price-amount"> $2200</span><span class="tw-text-sm tw-text-gray-500 price-period">/HR</span>
                    </h2>
                </div>
                <a href="#" class="tw-mb-4 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white hover:tw-bg-white hover:tw-text-black hover:tw-border-2 hover:tw-border-black tw-transition-colors tw-duration-300"> Learn more! </a>
            </div>
            <!-- Price 4 -->
            <div class="tw-mx-auto tw-w-full tw-max-w-md tw-rounded-2xl tw-border tw-border-gray-300 tw-bg-white tw-shadow-xl tw-px-8 tw-py-14 price" data-one-time="$4000" data-monthly="$500">
                <div class="tw-flex tw-flex-col tw-items-center tw-gap-2">
                    <p class="tw-text-3xl tw-font-bold sm:tw-text-2xl md:tw-text-3xl"> Pro </p>
                    <p class="tw-text-xl tw-text-gray-500">Starting at:</p>
                    <h2 class="tw-flex tw-items-center tw-text-4xl tw-font-bold md:tw-text-5xl"><span class="price-amount"> $4000</span><span class="tw-text-sm tw-text-gray-500 price-period">/HR</span>
                    </h2>
                </div>
                <a href="#" class="tw-mb-4 tw-mt-12 tw-inline-block tw-w-full tw-rounded-md tw-border-black tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white hover:tw-bg-white hover:tw-text-black hover:tw-border-2 hover:tw-border-black tw-transition-colors tw-duration-300"> Learn more! </a>
            </div>
        </div>
    </div>
</section>

<section id="marketing-pricing">
    <!-- Container -->
    <div class="tw-mx-auto tw-max-w-7xl tw-px-5 tw-py-16 md:tw-px-10 md:tw-py-20">
      <!-- Heading Container -->
      <div class="tw-mx-auto tw-mb-8 tw-max-w-3xl tw-text-center md:tw-mb-12 lg:tw-mb-16">
        <!-- Heading -->
        <h2 class="tw-text-3xl tw-font-bold md:tw-text-5xl"> Simple &amp; Affordable Pricing </h2>
        <!-- Subheading -->
        <p class="tw-mt-4 tw-text-sm tw-text-gray-500 sm:tw-text-base"> Simple &amp; fixed pricing. 30 days money-back guarantee </p>
      </div>
      <!-- Price Container -->
      <div class="tw-grid tw-grid-cols-1 tw-gap-8 sm:tw-grid-cols-2 md:tw-grid-cols-3 md:tw-gap-4">
        <!-- Price -->
        <div class="tw-mx-auto tw-flex tw-w-full tw-max-w-md tw-flex-col tw-items-start tw-rounded-md tw-border tw-border-gray-300 tw-p-8">
          <div class="tw-mb-4 tw-rounded-md tw-bg-black tw-px-4 tw-py-1.5">
            <p class="tw-text-sm tw-font-bold tw-text-white sm:tw-text-sm">BASIC</p>
          </div>
          <p class="tw-mb-6 tw-text-base tw-font-light tw-text-gray-500 md:tw-mb-10 lg:tw-mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
          <h2 class="tw-mb-5 tw-text-3xl tw-font-bold md:tw-text-5xl lg:tw-mb-8"> $99<span class="tw-text-sm tw-font-light sm:tw-text-sm">/year</span>
          </h2>
          <a href="#" class="tw-mb-5 tw-w-full tw-rounded-md tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white lg:tw-mb-8"> Get started </a>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Premium Designs</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Exclusive Freebies</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Monthly Free Exclusive</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Customer Support</p>
          </div>
        </div>
        <!-- Price -->
        <div class="tw-mx-auto tw-flex tw-w-full tw-max-w-md tw-flex-col tw-items-start tw-rounded-md tw-border tw-border-gray-300 tw-bg-gray-100 tw-p-8">
          <div class="tw-mb-4 tw-rounded-md tw-bg-black tw-px-4 tw-py-1.5">
            <p class="tw-text-sm tw-font-bold tw-text-white sm:tw-text-sm">GROWTH</p>
          </div>
          <p class="tw-mb-6 tw-text-base tw-font-light tw-text-gray-500 md:tw-mb-10 lg:tw-mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
          <h2 class="tw-mb-5 tw-text-3xl tw-font-bold md:tw-text-5xl lg:tw-mb-8"> $149<span class="tw-text-sm tw-font-light sm:tw-text-sm">/year</span>
          </h2>
          <a href="#" class="tw-mb-5 tw-w-full tw-rounded-md tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white md:tw-mb-6 lg:tw-mb-8"> Get started </a>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Premium Designs</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Exclusive Freebies</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Monthly Free Exclusive</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Customer Support</p>
          </div>
        </div>
        <!-- Price -->
        <div class="tw-mx-auto tw-flex tw-w-full tw-max-w-md tw-flex-col tw-items-start tw-rounded-md tw-border tw-border-gray-300 tw-p-8">
          <div class="tw-mb-4 tw-rounded-md tw-bg-black tw-px-4 tw-py-1.5">
            <p class="tw-text-sm tw-font-bold tw-text-white sm:tw-text-sm">PREMIUM</p>
          </div>
          <p class="tw-mb-6 tw-text-base tw-font-light tw-text-gray-500 md:tw-mb-10 lg:tw-mb-12"> Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam, purus sit </p>
          <h2 class="tw-mb-5 tw-text-3xl tw-font-bold md:tw-text-5xl lg:tw-mb-8"> $299<span class="tw-text-sm tw-font-light sm:tw-text-sm">/year</span>
          </h2>
          <a href="#" class="tw-mb-5 tw-w-full tw-rounded-md tw-bg-black tw-px-6 tw-py-3 tw-text-center tw-font-semibold tw-text-white lg:tw-mb-8"> Get started </a>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Premium Designs</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Exclusive Freebies</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Monthly Free Exclusive</p>
          </div>
          <div class="tw-mt-2 tw-flex tw-items-center">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/6458c625291a94a84be6cf60_check-mark.svg" alt="" class="tw-mr-2 tw-inline-block tw-w-4" />
            <p class="tw-text-base">Customer Support</p>
          </div>
        </div>
      </div>
    </div>
</section>

    <div class="tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4">
        <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-pt-8 tw-text-center">Top Tier Quality at Affordable Prices
        </h1>
        <h2 class="tw-text-3xl md:tw-text-2xl tw-mt-4 tw-text-center">Choose the plan that best fits your business
            needs.
        </h2>
    </div>

    <!-- Marketing an Social MediaServices -->
    <div class="tw-w-full tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-items-start">
        <h1 class="tw-text-3xl md:tw-text-5xl tw-font-bold tw-pt-8 tw-text-start tw-justify-start tw-mb-4">Marketing and
            Social
            MediaServices</h1>
        <!-- Líneas separadas verticalmente -->
        <div class="tw-absolute tw-left-0 tw-w-full">
            <div class="tw-absolute tw-bg-red-600 tw-h-[10px] tw-w-[42%] tw-left-0 tw-top-0"></div>
            <div class="tw-absolute tw-bg-yellow-300 tw-h-[10px] tw-w-[60%] tw-left-0 tw-top-[20px]"></div>
            <div class="tw-absolute tw-bg-green-600 tw-h-[10px] tw-w-[80%] tw-left-0 tw-top-[40px]"></div>
        </div>
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-mt-28 tw-gap-8">
            <!-- card basic -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Basic</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$350</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card intermediate -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Intermediate</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$450</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card pro -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Pro</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$900</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>


    </div>
    <!-- Web development Services -->
    <div class="tw-w-full tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-items-start">
        <h1 class="tw-text-3xl md:tw-text-5xl tw-font-bold tw-pt-8 tw-text-start tw-justify-start tw-mb-4">Web
            development Services</h1>
        <!-- Líneas separadas verticalmente -->
        <div class="tw-absolute tw-left-0 tw-w-full">
            <div class="tw-absolute tw-bg-red-600 tw-h-[10px] tw-w-[42%] tw-left-0 tw-top-0"></div>
            <div class="tw-absolute tw-bg-yellow-300 tw-h-[10px] tw-w-[60%] tw-left-0 tw-top-[20px]"></div>
            <div class="tw-absolute tw-bg-green-600 tw-h-[10px] tw-w-[80%] tw-left-0 tw-top-[40px]"></div>
        </div>
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-mt-28 tw-gap-8">
            <!-- card basic -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Basic</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$350</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card intermediate -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Intermediate</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$450</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
            <!-- card pro -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">Pro</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$900</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>


    </div>
    <div class="tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4">
        <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-pt-8 tw-text-center tw-uppercase">save up to 50% with one
            time payments
        </h1>
        <h2 class="tw-text-3xl md:tw-text-2xl tw-mt-4 tw-text-center tw-uppercase tw-font-light">and event more savings
            when you combine website and marketing packages
        </h2>
    </div>

    <div
        class="tw-flex tw-flex-col md:tw-flex-row tw-max-w-7xl tw-mx-auto tw-py-10 tw-px-4 tw-justify-between tw-items-center">
        <div class="tw-flex-col md:tw-w-[50%]">
            <h1 class="tw-font-bold tw-text-4xl tw-mb-4">Needing a more budget friendly solution?</h1>
            <p class="tw-text-xl">Our Lite Package will still get you custom code and a functional website just with
                less features.</p>
            <button
                class="tw-uppercase tw-border-4 hover:tw-border-black tw-rounded-2xl tw-py-2 tw-px-8 tw-my-8 tw-font-bold tw-bg-black tw-text-white hover:tw-bg-white hover:tw-text-black">
                learn more!
            </button>
        </div>
        <div class="tw-flex md:tw-w-[50%] lg:tw-w-[30%]">
            <!-- card lite -->
            <div class="tw-flex tw-flex-col tw-border-4 tw-border-black tw-rounded-3xl tw-p-10">
                <h1 class="tw-font-bold tw-text-2xl tw-mb-2 tw-uppercase">lite</h1>
                <p class="tw-mb-8">Best for small business owners with limited budgets.</p>
                <span class="tw-flex tw-items-end tw-font-light">
                    <h2 class="tw-font-bold tw-text-5xl">$100</h2>/per month
                </span>
                <p class="tw-font-light">*minimum 1 year contract</p>
                <button
                    class="tw-uppercase tw-border-4 tw-border-black tw-rounded-full tw-py-2 tw-mt-4 tw-font-bold hover:tw-bg-black hover:tw-text-white">
                    get started
                </button>

                <div class="tw-h-[1px] tw-bg-black tw-my-8"></div>

                <h2 class="tw-font-bold tw-mb-4">Features</h2>

                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Advance Data analysis operations.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client project management.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client meeting schedule.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Compliance tracking.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Client communication.
                </span>
                <span class="tw-flex tw-items-center tw-justify-start tw-gap-4 tw-font-light tw-mb-4">
                    <i class="tw-flex bi bi-check tw-border tw-border-black tw-text-black tw-rounded-full tw-h-6 tw-w-6 tw-text-lg tw-items-center tw-justify-center"
                        aria-hidden="true"></i>Create custom report tailored.
                </span>
            </div>
        </div>
    </div>

</div>
<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}

{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
    integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
    integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="{% static './js/service-overview.js' %}"></script>

{% endblock scripts %}