{% extends 'base.html' %} 
{% load static %} 
{% block title %}Team Members - {% endblock title %} 
{% block description %}Learn more about the Dunosis Team{% endblock description %} 
{% load custom_tags %} {%block content %}

<section>
    <div class="flex flex-col w-full items-center justify-center my-20 px-5">
		<h2 class="text-3xl md:text-5xl font-bold text-center">Meet the Minds Behind Dunosis</h2>
		<p class="mx-auto mb-2 mt-4 max-w-lg text-center text-sm text-gray-500 sm:text-base"> We’re proud of our Bolivian roots and the diverse talents that define our team. With members in Chicago and Bolivia, we combine global perspectives and local expertise to create solutions that drive success. </p>
    </div>
</section>

<section id="Wesley">
    <div class="flex flex-col xl:flex-row gap-8 w-full items-center justify-center my-20 px-4 py-10">
        <!-- Wesley Card -->
        <div class="bg-[rgba(198,42,44,0.3)] w-[200px] h-[200px] md:w-[300px] md:h-[200px] lg:w-[400px] lg:h-[300px] p-10 rounded-[4rem] relative hover:scale-105 hover:-translate-y-9 hover:bg-[rgba(198,42,44,0.6)] hover:shadow-[0_-15px_0_rgba(198,42,44,0.9)] transition-all duration-500">
            <img
                src="{% static './assets/images/about/about-details/du-wesley-profile.png' %}"
                alt="Wesley Ordoñez, Co-Founder and Lead Software Engineer of Dunosis LLC"
                class="w-48 md:w-64 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-[30%] duration-500"/>
            <div class="absolute bg-white p-4 text-center rounded-2xl lg:rounded-full top-[70%] shadow-lg w-[100%] lg:w-[90%] left-1/2 transform -translate-x-1/2 transition-all duration-500">
                <h3 class="text-xl font-bold">Wesley Ordoñez</h3>
                <h4 class="text-md">Lead Developer</h4>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="bg-white p-6 shadow-md w-full min-h-[200px] rounded-3xl xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Bio</h3>
            <p class="text-gray-700 font-light">Wesley Ordoñez is the Co-Founder and Lead Software Engineer of Dunosis LLC. With a passion for technology and innovation, Wesley has been instrumental in driving the company's success through his expertise and leadership.</p>
            <hr class="border-t border-gray-300 my-4">
            <p class="text-gray-700 font-light">Born and raied in Bolivia, Wesley holds a Bachelor's degree in Computer Science from the University of Illinois at Chicago and has over 10 years of experience in software development and engineering.</p>
        </div>

        <!-- Work Experience Section -->
        <div class="bg-white p-6 min-h-[200px] rounded-3xl shadow-md w-full xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Previous Experience</h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex items-center justify-around mb-4">
                    Data Science and DevOps Engineer at 84.51
                    <img src="{% static './assets/images/about/about-details/logos/8451-logo.webp' %}" alt="84.51 Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Business Advisor and Program Manager at PRCC
                    <img src="{% static './assets/images/about/about-details/logos/prcc-logo.webp' %}" alt="PRCC Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Mechanical Design Engineer at Versatech LLC
                    <img src="{% static 'assets/images/about/about-details/logos/versatech-logo.jpg' %}" alt="Versatech LLC Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Process Engineer at ZF Automotive
                    <img src="{% static 'assets/images/about/about-details/logos/zf-logo.png' %}" alt="ZF Automotive Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    BoSc in Mechanical Engineering at Rose-Hulman
                    <img src="{% static 'assets/images/about/about-details/logos/rose-hulman-logo.png' %}" alt="ZF Automotive Logo" class="w-auto h-[40px] ml-2">
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="Tayo">
    <div class="flex flex-col xl:flex-row gap-8 w-full items-center justify-center my-20 px-4 py-10">
        <!-- Tayo Card -->
        <div class="bg-[rgba(236,183,49,0.3)] w-[200px] h-[200px] md:w-[300px] md:h-[200px] lg:w-[400px] lg:h-[300px] p-10 rounded-[4rem] relative hover:scale-105 hover:-translate-y-9 hover:bg-[rgba(236,183,49,0.6)] hover:shadow-[0_-15px_0_rgba(236,183,49,0.9)] transition-all duration-500">
            <img
                src="{% static './assets/images/about/about-details/du-tayo-profile-2.png' %}"
                alt="Tayo Zabala, Co-Founder and Marketing and Strategy Expert at Dunosis LLC"
                class="w-48 md:w-64 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-[30%] duration-500"/>
            <div class="absolute bg-white p-4 text-center rounded-2xl lg:rounded-full top-[70%] shadow-lg w-[100%] lg:w-[90%] left-1/2 transform -translate-x-1/2 transition-all duration-500">
                <h3 class="text-xl font-bold">Tayo Zabala</h3>
                <h4 class="text-md">Marketing</h4>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="bg-white p-6 shadow-md w-full min-h-[200px] rounded-3xl xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Bio</h3>
            <p class="text-gray-700 font-light">Tayo Zabala is the Marketing Strategist at Dunosis LLC, bringing extensive experience in business management, sales, and marketing. His strategic approach and deep understanding of diverse industries make him a key player in helping businesses grow and thrive.</p>
            <hr class="border-t border-gray-300 my-4">
            <p class="text-gray-700 font-light">With a background spanning real estate development, the steel industry, and the food sector, Tayo has managed multiple companies and projects. An entrepreneur at heart, he combines his expertise in marketing, sales, and operations with a multicultural perspective to craft impactful strategies. His passion for business growth and hands-on approach make him the perfect partner for businesses looking to scale.</p>
       </div>

        <!-- Work Experience Section -->
        <div class="bg-white p-6 min-h-[200px] rounded-3xl shadow-md w-full xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Previous Experience</h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex items-center justify-around mb-4">
                    Store Manager at Metaltela Ltda
                    <img src="{% static './assets/images/about/about-details/logos/metaltela-logo.jpeg' %}" alt="Metaltela Ltda Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    VP of Marketing and Sales at Grupo Áncora
                    <img src="{% static './assets/images/about/about-details/logos/grupo-ancora-logo.png' %}" alt="Grupo Áncora Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    BBA in Business Administration at Universidad Nur
                    <img src="{% static 'assets/images/about/about-details/logos/universidad-nur-logo.png' %}" alt="Universidad Nur Logo" class="w-auto h-[40px] ml-2">
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="Timo">
    <div class="flex flex-col xl:flex-row gap-8 w-full items-center justify-center my-20 px-4 py-10">
        <!-- Timo Card -->
        <div class="bg-[rgba(2,154,77,0.3)] w-[200px] h-[200px] md:w-[300px] md:h-[200px] lg:w-[400px] lg:h-[300px] p-10 rounded-[4rem] relative hover:scale-105 hover:-translate-y-9 hover:bg-[rgba(2,154,77,0.6)] hover:shadow-[0_-15px_0_rgba(2,154,77,0.9)] transition-all duration-500">
            <img
                src="{% static './assets/images/about/about-details/du-timo-profile.png' %}"
                alt="Timo Ordoñez, Sales Manager at Dunosis LLC"
                class="w-48 md:w-64 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-[30%] duration-500"/>
            <div class="absolute bg-white p-4 text-center rounded-2xl lg:rounded-full top-[70%] shadow-lg w-[100%] lg:w-[90%] left-1/2 transform -translate-x-1/2 transition-all duration-500">
                <h3 class="text-xl font-bold">Timo Ordoñez</h3>
                <h4 class="text-md">Sales</h4>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="bg-white p-6 shadow-md w-full min-h-[200px] rounded-3xl xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Bio</h3>
            <p class="text-gray-700 font-light">Timothy Ordoñez is the Sales Manager of Dunosis LLC. A driven entrepreneur, Timothy has brought his exceptional work ethic and business acumen to the team, helping startups and small businesses achieve their goals.</p>
            <hr class="border-t border-gray-300 my-4">
            <p class="text-gray-700 font-light">Timothy’s journey from the trades to the business world includes founding two small businesses before partnering with his brother to create Dunosis. With an Associate’s degree in Software Engineering from Kaskaskia College, he has also completed various business courses, gaining experience as a personal trainer, glass technician, and concrete leveling foreman. Timothy’s diverse background and determination make him an invaluable part of Dunosis.</p>
        </div>

        <!-- Work Experience Section -->
        <div class="bg-white p-6 min-h-[200px] rounded-3xl shadow-md w-full xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Previous Experience</h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex items-center justify-around mb-4">
                    Personal Trainer and Coach at The Zone
                    <img src="{% static './assets/images/about/about-details/logos/zone-logo.png' %}" alt="The Zone Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Glass Technician at Valley Auto Glass
                    <img src="{% static './assets/images/about/about-details/logos/valley-auto-glass-logo.png' %}" alt="Valley Auto Glass Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Lead Foreman at Woods Basement Systems
                    <img src="{% static 'assets/images/about/about-details/logos/woods-logo.webp' %}" alt="Woods Basement Systems Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Associates in Computer Science at Kaskaskia College
                    <img src="{% static 'assets/images/about/about-details/logos/kaskasia-logo.png' %}" alt="Kaskaskia College Logo" class="w-auto h-[40px] ml-2">
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="Jona">
    <div class="flex flex-col xl:flex-row gap-8 w-full items-center justify-center my-20 px-4 py-10">
        <!-- Jona Card -->
        <div class="bg-[rgba(77,64,240,0.3)] w-[200px] h-[200px] md:w-[300px] md:h-[200px] lg:w-[400px] lg:h-[300px] p-10 rounded-[4rem] relative hover:scale-105 hover:-translate-y-9 hover:bg-[rgba(77,64,240,0.6)] hover:shadow-[0_-15px_0_rgba(77,64,240,0.9)] transition-all duration-500">
            <img
                src="{% static './assets/images/about/about-details/du-jona-profile.png' %}"
                alt="Jonathan Justiniano, Graphic Designer at Dunosis LLC"
                class="w-48 md:w-64 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-[30%] duration-500"/>
            <div class="absolute bg-white p-4 text-center rounded-2xl lg:rounded-full top-[70%] shadow-lg w-[100%] lg:w-[90%] left-1/2 transform -translate-x-1/2 transition-all duration-500">
                <h3 class="text-xl font-bold">Jonathan Justiniano</h3>
                <h4 class="text-md">Graphic Designer</h4>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="bg-white p-6 shadow-md w-full min-h-[200px] rounded-3xl xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Bio</h3>
            <p class="text-gray-700 font-light">Jonathan Justiniano is a Graphic Designer at Dunosis LLC, specializing in graphic design, photography, video production, and digital marketing. His expertise in visual storytelling and branding helps businesses create impactful digital content that drives engagement and growth.</p>
            <hr class="border-t border-gray-300 my-4">
            <p class="text-gray-700 font-light">Originally from Santa Cruz de la Sierra, Bolivia, Jonathan has extensive experience across industries such as industrial, refrigeration, automotive, and e-commerce. With a background in Audiovisual Communication, he blends creativity with strategy to craft high-quality branding materials, social media content, corporate design, and digital advertising assets. His ability to produce compelling visuals and marketing strategies makes him a valuable asset in strengthening brand identity and online presence.</p>
        </div>

        <!-- Work Experience Section -->
        <div class="bg-white p-6 min-h-[200px] rounded-3xl shadow-md w-full xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Previous Experience</h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex items-center justify-around mb-4">
                    Lead Digital Marketing Strategist at Coboxi
                    <img src="{% static './assets/images/about/about-details/logos/coboxi-logo.png' %}" alt="Coboxi Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Graphic Design and Content Production at Refrimet
                    <img src="{% static './assets/images/about/about-details/logos/refrimet-logo.webp' %}" alt="Refrimet Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    E-Commerce Content Production at Rilo
                    <img src="{% static 'assets/images/about/about-details/logos/rilo-logo.png' %}" alt="Rilo Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    Bachelor's in Audiovisual Communication at Universidad Católica Boliviana
                    <img src="{% static 'assets/images/about/about-details/logos/universidad-catolica-logo.webp' %}" alt="Universidad catolica Boliviana Logo" class="w-auto h-[40px] ml-2">
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="Andres">
    <div class="flex flex-col xl:flex-row gap-8 w-full items-center justify-center my-20 px-4 py-10">
        <!-- Andres Card -->
        <div class="bg-[rgba(104,0,138,0.3)] w-[200px] h-[200px] md:w-[300px] md:h-[200px] lg:w-[400px] lg:h-[300px] p-10 rounded-[4rem] relative hover:scale-105 hover:-translate-y-9 hover:bg-[rgba(104,0,138,0.6)] hover:shadow-[0_-15px_0_rgba(104,0,138,0.9)] transition-all duration-500">
            <img
                src="{% static './assets/images/about/about-details/du-andres-profile.png' %}"
                alt="Andres Ribera, Software Engineer at Dunosis LLC"
                class="w-48 md:w-64 absolute -top-5 left-1/2 transform -translate-x-1/2 -translate-y-[20%] duration-500"/>
            <div class="absolute bg-white p-4 text-center rounded-2xl lg:rounded-full top-[70%] shadow-lg w-[100%] lg:w-[90%] left-1/2 transform -translate-x-1/2 transition-all duration-500">
                <h3 class="text-xl font-bold">Andres Ribera</h3>
                <h4 class="text-md">Front End Developer</h4>
            </div>
        </div>

        <!-- Bio Section -->
        <div class="bg-white p-6 shadow-md w-full min-h-[200px] rounded-3xl xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Bio</h3>
            <p class="text-gray-700 font-light">Andres Ribera is a Software Engineer at Dunosis LLC, specializing in web development and digital solutions. With a passion for technology and continuous learning, he plays a key role in crafting high-quality websites and applications for our clients.</p>
            <hr class="border-t border-gray-300 my-4">
            <p class="text-gray-700 font-light">A graduate of Universidad Autónoma Gabriel René Moreno in Santa Cruz de la Sierra, Bolivia, Andres holds a degree in Systems Engineering. His dedication to programming and web development drives him to continuously refine his skills, ensuring that Dunosis stays at the forefront of innovation in the industry.</p>
        </div>

        <!-- Work Experience Section -->
        <div class="bg-white p-6 min-h-[200px] rounded-3xl shadow-md w-full xl:w-1/3">
            <h3 class="text-2xl font-bold mb-4">Previous Experience</h3>
            <ul class="list-disc list-inside text-gray-700">
                <li class="flex items-center justify-around mb-4">
                    Computer Science and Systems at Universidad Autónoma Gabriel René Moreno
                    <img src="{% static './assets/images/about/about-details/logos/uagrm-logo.png' %}" alt="Universidad Autonoma Gabriel Rene Moreno Logo" class="w-auto h-[40px] ml-2">
                </li>
                <li class="flex items-center justify-around mb-4">
                    1st Place in Student Hackathon at UAGRM
                    <img src="{% static './assets/images/about/about-details/logos/uagrm-logo.png' %}" alt="Universidad Autonoma Gabriel Rene Moreno Logo" class="w-auto h-[40px] ml-2">
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- Incluir el social footer -->
{% include 'components/cta-footer.html' %}

{% endblock content %} 
{% block scripts %}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.js"
        integrity="sha512-Ysw1DcK1P+uYLqprEAzNQJP+J4hTx4t/3X2nbVwszao8wD+9afLjBQYjz7Uk4ADP+Er++mJoScI42ueGtQOzEA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.5/swiper-bundle.min.css"
        integrity="sha512-rd0qOHVMOcez6pLWPVFIv7EfSdGKLt+eafXh4RO/12Fgr41hDQxfGvoi1Vy55QIVcQEujUE1LQrATCLl2Fs+ag=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />

    <script src="{% static './js/about.js' %}"></script>

{% endblock scripts %}