<section
	class="w-full flex flex-col md:flex-row items-center justify-center gap-10 px-10 md:px-16 bg-blue-700 overflow-hidden"
>
	<div class="flex flex-col items-center gap-4 mt-16 mb-16">
		<h3 class="uppercase text-4xl md:text-6xl font-semibold text-center text-white">
			your business deserves more, <br />
			let's make it happen!
		</h3>
		<h3 class="text-xl md:text-3xl text-center text-white">
			Get started quickly and easily with a FREE consultation
		</h3>
		<a
			class="uppercase px-14 py-4 mt-4 rounded-full text-xl md:text-2xl font-semibold text-black bg-white hover:scale-105 transition-transform duration-300 mb-8"
			href="https://dunosis.forms.app/contact-form"
		>
			learn more!
		</a>
		<div class="flex gap-4 text-3xl">
			<a
				href="https://www.facebook.com/profile.php?id=61565984502377"
				aria-label="Facebook"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-facebook text-4xl"></i>
			</a>
			<a
				href="https://instagram.com/dunosis.usa"
				aria-label="Instagram"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-instagram text-4xl"></i>
			</a>
			<a
				href="https://wa.me/17732022074"
				aria-label="WhatsApp"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-whatsapp text-4xl"></i>
			</a>
			<a
				href="https://www.linkedin.com/company/dunosis/"
				aria-label="LinkedIn"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-linkedin text-4xl"></i>
			</a>
			<a
				href="https://youtube.com/@dunosis"
				aria-label="YouTube"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-youtube text-4xl"></i>
			</a>
			<a
				href="https://www.tiktok.com/@dunosis.usa"
				aria-label="TikTok"
				class="text-blue-700 bg-white h-14 w-14 md:h-16 md:w-16 rounded-full flex items-center justify-center hover:scale-125 transition-transform duration-300 mb-8 hover:text-white hover:bg-blue-700"
			>
				<i class="bi bi-tiktok text-4xl"></i>
			</a>
		</div>
	</div>
</section>