<section
	class="tw-w-full tw-flex tw-flex-col md:tw-flex-row tw-items-center tw-justify-center tw-gap-10 tw-px-10 md:tw-px-16 tw-bg-blue-700 tw-overflow-hidden"
>
	<div class="tw-flex tw-flex-col tw-items-center tw-gap-4 tw-mt-16 tw-mb-16">
		<h3 class="tw-uppercase tw-text-4xl md:tw-text-6xl tw-font-semibold tw-text-center tw-text-white">
			your business deserves more, <br />
			let's make it happen!
		</h3>
		<h3 class="tw-text-xl md:tw-text-3xl tw-text-center tw-text-white">
			Get started quickly and easily with a FREE consultation
		</h3>
		<a
			class="tw-uppercase tw-px-14 tw-py-4 tw-mt-4 tw-rounded-full tw-text-xl md:tw-text-2xl tw-font-semibold tw-text-black tw-bg-white hover:tw-scale-105 tw-transition-transform tw-duration-300 tw-mb-8"
			href="https://dunosis.forms.app/contact-form"
		>
			learn more!
		</a>
		<div class="tw-flex tw-gap-4 tw-text-3xl">
			<a
				href="https://www.facebook.com/profile.php?id=61565984502377"
				aria-label="Facebook"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-facebook tw-text-4xl"></i>
			</a>
			<a
				href="https://instagram.com/dunosis.usa"
				aria-label="Instagram"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-instagram tw-text-4xl"></i>
			</a>
			<a
				href="https://wa.me/17732022074"
				aria-label="WhatsApp"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-whatsapp tw-text-4xl"></i>
			</a>
			<a
				href="https://www.linkedin.com/company/dunosis/"
				aria-label="LinkedIn"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-linkedin tw-text-4xl"></i>
			</a>
			<a
				href="https://youtube.com/@dunosis"
				aria-label="YouTube"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-youtube tw-text-4xl"></i>
			</a>
			<a
				href="https://www.tiktok.com/@dunosis.usa"
				aria-label="TikTok"
				class="tw-text-blue-700 tw-bg-white tw-h-14 tw-w-14 md:tw-h-16 md:tw-w-16 tw-rounded-full tw-flex tw-items-center tw-justify-center hover:tw-scale-125 tw-transition-transform tw-duration-300 tw-mb-8 hover:tw-text-white hover:tw-bg-blue-700"
			>
				<i class="bi bi-tiktok tw-text-4xl"></i>
			</a>
		</div>
	</div>
</section>