<div class="flex justify-between items-center">
    <!-- Previous Button -->
    {% if previous_project %}
    <a href="{% url previous_project.url_name %}" class="flex justify-center items-center gap-2 md:gap-4 group">
        <div
            class="rounded-full h-10 w-10 items-center text-gray-500 group-hover:bg-du-green group-hover:text-white border-2 border-gray-500 group-hover:border-du-green">
            <i class="flex bi bi-arrow-left h-full text-2xl justify-center items-center" aria-hidden="true"></i>
        </div>
        <h1 class="text-lg md:text-2xl font-bold text-gray-500 hover:text-du-green group-hover:text-du-green">
            Previous
        </h1>
    </a>
    {% endif %}

    <!-- Next Button -->
    {% if next_project %}
    <a href="{% url next_project.url_name %}" class="flex justify-center items-center gap-2 md:gap-4 group">
        <h1 class="text-lg md:text-2xl font-bold text-gray-500 hover:text-du-green group-hover:text-du-green">
            Next
        </h1>
        <div
            class="rounded-full h-10 w-10 items-center text-gray-500 group-hover:bg-du-green group-hover:text-white border-2 border-gray-500 group-hover:border-du-green">
            <i class="flex bi bi-arrow-right h-full text-2xl justify-center items-center" aria-hidden="true"></i>
        </div>
    </a>
    {% endif %}
</div>