{% load static %}
<div
	class="flex flex-col md:flex-row bg-du-green py-10 mt-4 rounded-lg text-white justify-center items-center w-full gap-4 max-w-[900px] md:min-w-[740px] md:max-w-[1440px]">
	<div class="flex">
		<!-- Phone Icon -->
		<a href="tel:+17732022074" class="w-16 h-16 rounded-full flex items-center justify-center bg-white shadow-md border-2 border-white transform transition-transform duration-300 hover:scale-110">
			<i class="bi bi-telephone-fill text-du-green text-2xl"></i>
		</a>
		<!-- Mail Icon -->
		<a href="mailto:info@dunosis.com" class="w-16 h-16 rounded-full flex items-center justify-center bg-white shadow-md border-2 border-white -ml-4 transform transition-transform duration-300 hover:scale-110">
			<i class="bi bi-envelope-fill text-du-green text-2xl"></i>
		</a>
		<!-- WhatsApp Icon -->
		<a href="https://wa.me/17732022074" class="w-16 h-16 rounded-full flex items-center justify-center bg-white shadow-md border-2 border-white -ml-4 transform transition-transform duration-300 hover:scale-110">
			<i class="bi bi-whatsapp text-du-green text-2xl"></i>
		</a>
	</div>

	<h2 class="flex text-xl md:text-2xl font-semibold">Questions? We are happy to help</h2>
	<div class="flex items-center gap-2 group lg:ml-8">
		{% if link_type == 'services' %}
			<a href="{% url 'services' %}"
				class="flex h-14 bg-green-800 text-sm text-white uppercase rounded-full items-center gap-2 px-6 group-hover:bg-green-900 group-hover:text-white">
				view all {{title}}
			</a>
		{% elif link_type == 'portfolio' %}
			<a href="{% url 'portfolio' %}"
				class="flex h-14 bg-green-800 text-sm text-white uppercase rounded-full items-center gap-2 px-6 group-hover:bg-green-900 group-hover:text-white">
				view all {{title}}
			</a>
		{% else %}
			<a href="#"
				class="flex h-14 bg-green-800 text-sm text-white uppercase rounded-full items-center gap-2 px-6 group-hover:bg-green-900 group-hover:text-white">
				view all {{title}}
			</a>
		{% endif %}
		{% if link_type == 'services' %}
			<a href="{% url 'services' %}"
				class="rounded-full h-14 w-14 flex items-center justify-center bg-green-800 text-white group-hover:bg-green-900 group-hover:text-white">
				<i class="bi bi-arrow-up-right"></i>
			</a>
		{% elif link_type == 'portfolio' %}
			<a href="{% url 'portfolio' %}"
				class="rounded-full h-14 w-14 flex items-center justify-center bg-green-800 text-white group-hover:bg-green-900 group-hover:text-white">
				<i class="bi bi-arrow-up-right"></i>
			</a>
		{% else %}
			<a href="#"
				class="rounded-full h-14 w-14 flex items-center justify-center bg-green-800 text-white group-hover:bg-green-900 group-hover:text-white">
				<i class="bi bi-arrow-up-right"></i>
			</a>
		{% endif %}
	</div>
</div>