{% load static %}
<!-- Sidebar Navs-->
<div class="tw-flex tw-flex-col tw-gap-y-4 tw-min-w-[350px] tw-max-w-[500px] tw-order-2 md:tw-order-1">
    <!-- Card 1 -->
    <div class="tw-flex tw-flex-col tw-bg-[rgba(2,154,77,0.5)] tw-p-8 tw-rounded-xl">
        <h1 class="tw-text-2xl tw-font-bold">All Services</h1>
        <!-- Separator -->
        <div class="tw-flex tw-flex-row tw-gap-2 tw-py-4">
            <div class="tw-h-[2px] tw-w-[5%] tw-bg-green-700"></div>
            <div class="tw-h-[2px] tw-w-[30%] tw-bg-green-700"></div>
        </div>
        <!-- Navigation Buttons -->
        <div class="tw-flex tw-flex-col tw-gap-4 tw-mt-4">
            <div class="tw-flex tw-items-center tw-justify-between tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Web Development</h2>
                <i class="bi bi-arrow-right tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Content Marketing</h2>
                <i class="bi bi-arrow-right tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Social Media Marketing</h2>
                <i class="bi bi-arrow-right tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Content Production</h2>
                <i class="bi bi-arrow-right tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Sales Strategy</h2>
                <i class="bi bi-arrow-right tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
            </div>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="tw-flex tw-flex-col tw-bg-[rgba(2,154,77,0.5)] tw-p-8 tw-rounded-xl">
        <h1 class="tw-text-2xl tw-font-bold">Pricing Packages</h1>
        <!-- Separator -->
        <div class="tw-flex tw-flex-row tw-gap-2 tw-py-4">
            <div class="tw-h-[2px] tw-w-[5%] tw-bg-green-700"></div>
            <div class="tw-h-[2px] tw-w-[30%] tw-bg-green-700"></div>
        </div>
        <!-- Pricing Buttons -->
        <div class="tw-flex tw-flex-col tw-gap-4 tw-mt-4">
            <div class="tw-flex tw-items-center tw-justify-start tw-gap-6 tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <i class="bi bi-currency-dollar tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
                <h2 class="tw-text-xl">Lite Package - ${{litePrice}}/month</h2>
            </div>
            <div class="tw-flex tw-items-center tw-justify-start tw-gap-6 tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <i class="bi bi-currency-dollar tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
                <h2 class="tw-text-xl">Basic Package - ${{basicPrice}}/month</h2>
            </div>
            <div class="tw-flex tw-items-center tw-justify-start tw-gap-6 tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <i class="bi bi-currency-dollar tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
                <h2 class="tw-text-xl">Mid Package - ${{midPrice}}/month</h2>
            </div>
            <div class="tw-flex tw-items-center tw-justify-start tw-gap-6 tw-bg-white hover:tw-bg-du-green hover:tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group tw-transition-colors tw-duration-300">
                <i class="bi bi-currency-dollar tw-text-xl tw-text-du-green group-hover:tw-text-white"></i>
                <h2 class="tw-text-xl">Pro Package - ${{proPrice}}/month</h2>
            </div>
            <div class="tw-flex tw-items-center tw-justify-center tw-gap-4 hover:tw-bg-du-green tw-bg-green-800 tw-text-white tw-rounded-xl tw-py-6 tw-px-8 tw-group hover:tw-shadow-xl tw-transition-colors tw-duration-300">
                <h2 class="tw-text-xl">Schedule a FREE Appointment</h2>
                <i class="bi bi-arrow-right tw-text-xl"></i>
            </div>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="tw-flex tw-flex-col tw-bg-gradient-to-t tw-from-du-green tw-to-[rgba(2,154,77,0.5)] tw-p-8 tw-rounded-xl tw-justify-center tw-items-center tw-text-center">
        <div class="tw-flex tw-rounded-full tw-shadow-xl tw-p-2 tw-w-20 tw-justify-center tw-bg-du-green tw-border-4 tw-border-white">
            <img src="{% static './assets/images/services/details/phone-call.png' %}" alt="Customer Support Icon" class="tw-object-cover tw-p-2 tw-invert" />
        </div>
        <h1 class="tw-text-2xl tw-font-bold tw-text-white tw-my-4">Need Custom Pricing?</h1>
        <h2 class="tw-text-xl tw-mb-2 tw-text-white">+1 (773) 202-2074</h2>
        <h2 class="tw-text-xl tw-mb-2 tw-text-white">info@dunosis.com</h2>
    </div>
</div>
